# This Notebook shows where the group 5431 patients with pre-diabetes come from and where the 190 patients with diabetes at the start of the study come from within this group that need to be cut out of the study (patients diagnosed with pre-diabetes before the measurements taken with an epistart date, but were diagnosed with diabetes at the measurement date by the csv files). These 190 patients are taken out of every notebook at some point. The remaining 5241 patients are combined with the 4513 pre-diabetic patients found from a diagnosis from 2018 or later in the clinical-biological model to create the total cohort of 9754 patients.

First we import the packages for this notebook.

In [1]:
import numpy as np
import pandas as pd
import glob
import os
import dask.dataframe as dd
import shap
import time

First, we import the information with the metabolomics data.

In [2]:
prediabetes_metabolomics = pd.read_csv('prediabetics_with_metabolomic_and_telomere_length_data')
prediabetes_metabolomics = prediabetes_metabolomics.drop(columns = 'Unnamed: 0')
prediabetes_metabolomics

,eid,22190-0.0,22190-1.0,22190-2.0,22191-0.0,22191-1.0,22191-2.0,22192-0.0,22192-1.0,22192-2.0,...,23864-1.0,23867-0.0,23868-0.0,23869-0.0,23870-0.0,23871-0.0,23871-1.0,23876-0.0,23878-0.0,23878-1.0
0,1000330,0.769934,NaN,NaN,0.868105,NaN,NaN,0.351325,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000809,0.728637,NaN,NaN,0.749579,NaN,NaN,-0.598856,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1001783,0.613309,NaN,NaN,0.742680,NaN,NaN,-0.658705,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1002432,0.794364,NaN,NaN,0.933980,NaN,NaN,0.824742,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9938,6024145,0.706609,NaN,NaN,0.782405,NaN,NaN,-0.321438,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9939,6024268,0.870288,NaN,NaN,0.938913,NaN,NaN,0.858840,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9940,6024393,0.667180,NaN,NaN,0.737532,NaN,NaN,-0.703726,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9941,6024501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9942,6025367,0.827508,NaN,NaN,0.910620,NaN,NaN,0.660800,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

First, we import our dataframe of all patients we will use in our model which we created in Model 34 and 34.1

In [3]:
all_prediabetes_for_model = pd.read_csv('prediabetic_patients_with_additional_4513_patients_from_unknown_patients_who_have_ICD_code_since_2018')
all_prediabetes_for_model = all_prediabetes_for_model.drop(columns = ['Unnamed: 0'])
all_prediabetes_for_model

          eid  target
0     4754980       0
1     3990434       0
2     4341307       0
3     2189918       0
4     1384041       0
...       ...     ...
9939  6020998       0
9940  6022016       0
9941  6024268       0
9942  6024393       0
9943  6024501       0

[9944 rows x 2 columns]

Below we import the dataframe that has all the features from the UKBiobank with less than half of the values in the feature as NaN values. As we have seen before, we drop the first column which is just an identity column brought over from the SCU python.

In [4]:
prediabetes_with_features = pd.read_csv('all_features_prediabetic_patients_with_additional_4513_patients_from_unknown_patients_who_have_ICD_code_since_2018')
prediabetes_with_features = prediabetes_with_features.drop(columns = ['Unnamed: 0'])
prediabetes_with_features

Columns (42,43,213,317,318,319,320,321,322,323,324,325,326,327,328,329,330,2610,2611,2612,2613,2614,2615,2616,2617,2618,2619,2847,2851,2855,2859,2862,2864,2866,2867,2868,2869,2870,2871,2872,2895,2896,2897,2898,2912,2913,2914,2915,2964,3085,3086,3087,3088,3089,3090,3091,3092,3093,3094,3095,3096,3097,3098,3099,3100,3101,3102,3103,3104,3105,3106,3107,3108,3109,3110,3111,3112,3113,3114,3115,3116,3117,3124,3125,3126,3127,3128,3129,3130,3157,3158,3159,3160,3161,3162,3163,3164,3165,3166,3167,3168,3169,3170,3171,3172,3173,3174,3175,3176,3177,3178,3179,3180,3181,3182,3183,3184,3185,3186,3187,3188,3189,3190,3191,3192,3193,3211,3212,3213,3214,3215,3216,3217,3218,3219,3220,3233,3263,3264,3265,3266,3267,3268,3269,3270,3271,3272,3273,3274,3275,3276,3277,3278,3279,3280,3281,3282,3283,3284,3285,3286,3287,3288,3289,3290,3291,3292,3293,3294,3295,3296,3297,3298,3299,3300,3301,3302,3303,3304,3305,3306,3307,3308,3309,3310,3311,3312,3313,3314,3315,3316,3317,3318,3319,3320,3321,3322,3323,3324,3325,3326,3327,3328,3329,3330,3331,3332,3333,3334,3335,3336,3337,3338,3339,3340,3341,3342,3343,3344,3345,3346,3347,3348,3349,3350,3351,3352,3353,3354,3355,3356,3357,3358,3359,3360,3361,3362,3363,3364,3365,3366,3367,3368,3369,3370,3371,3372,3373,3374,3375,3376,3377,3378,3379,3380,3381,3382,3383,3384,3385,3386,3387,3388,3423,3424,3425,3426,3427,3428,3429,3430,3431,3432,3433,3434,3435,3436,3437,3460,3479,3480,3481,3482,3483,3484,3485,3486,3487,3488,3489,3490,3491,3492,3493,3494,3495,3501,3502,3503,3504,3505,3506,3522,3523,3524,3525,3526,3527,3528,3529,3530,3531,3532,3533,3534,3535,3536,3537,3538,3539,3540,3541,3542,3543,3544,3545,3546,3547,3548,3549,3550,3551,3552,3553,3554,3555,3556,3557,3558,3559,3560,3561,3562,3563,3564,3565,3566,3567,3568,3569,3570,3571,3572,3573,3574,3575,3576,3577,3578,3579,3580,3581,3582,3583,3584,3585,3586,3596,3597,3598,3599,3601,3606,3607,3608,3609,3610,3611,3612,3613,3614,3632,3633,3634,3639,3640,3641,3642,3643,3655,3656,3657,3658,3661,3801,3802,3803,3806,3829,3831,3865,3868,3872,3934,3939,3942,4134,4137,4140,4146,4204,4213,4216,4219,4232,4233,4235,4236,4237,4243,4279,4286,4287,4289,4290,4291,4311,4317,4323,4326,4329,4332,4335,4350,4353,4355,4356,4357,4360,4369,4371,4374,4377,4380,4383,4419,4420,4428,4431,4434,4437,4440,4443,4449,4450,4755,4756,4757,4758,4759,4760,4761,4762,4763,4764,4765,4766,4767,4768,4769,4770,4771,4772,4773,4774,4775,4776,4865,4866,4867,4868,4869,4870,4871,4872,4873,4874,4875,4876,4877,4878,4879,4880,4881,4882,4883,4884,4885,4886,4887,4888,4889,4983,4984,4985,4986,4987,4988,4989,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999,5000,5001,5002,5003,5004,5093,5094,5095,5096,5097,5098,5099,5100,5101,5102,5103,5104,5105,5106,5107,5108,5109,5110,5111,5114,5115,5116,5117,5218,5331,5411,5412,5413,5414,5415,5416,5417,5418,5419,5420,5421,5422,5423,5424,5425,5426,5427,5428,5429,5430,5431,5432,5433,5434,5435,5436,5437,5438,5473,5474,5475,5476,5477,5478,5479,5480,5481,5482,5483,5484,5485,5486,5487,5488,5489,5490,5491,5492,5493,5494,5495,5496,5497,5498,5499,5500,5501,5502,5503,5504,5505,5506,5507,5508,5509,5510,5511,5512,5513,5514,5515,5516,5517,5518,5519,5520,5521,5522,5523,5524,5525,5526,5527,5528,5529,5530,5531,5532,5533,5534,5535,5536,5537,5538,5539,5540,5541,5542,5543,5544,5545,5546,5547,5548,5639,5640,5641,5642,5643,5644,5645,5646,5647,5648,5649,5650,5651,5652,5653,5654,5655,5656,5657,5658,5659,5660,5661,5662,5663,5664,5665,5666,5701,5702,5703,5704,5705,5706,5707,5708,5709,5710,5711,5712,5713,5714,5715,5716,5717,5718,5719,5720,5721,5722,5723,5724,5725,5726,5727,5728,5729,5730,5731,5732,5733,5734,5735,5736,5737,5738,5739,5740,5741,5742,5743,5744,5745,5746,5747,5748,5749,5750,5751,5752,5753,5754,5755,5756,5757,5758,5759,5760,5761,5762,5763,5764,5765,5766,5767,5768,5769,5770,5771,5772,5773,5774,5775,5776,5818,5819,5820,5846,5850,5881,5889,5932,5933,5934,5936,5937,5938,5956,5961,5971,5972,5979,5981,5982,5983,5984,5985,5986,5987,5988,5989,6000,6001,6034,6064,6065,6340,6341,6369,6402,6562,6563,6593,6594,6595,6596,6597,6598,6599,6600,6601,6602,6603,6604,6605,6651,6652,6653,6654,6841,6842,6843,6844,6845,6846,6847,6848,6849,6850,6851,6852,6853,6854,6895,6896,6897,6898,6955,6956,6957,6958,6959,6960,6961,6962,6963,6964,6965,6966,6967,6968,6969,6970,6971,6972,6973,6974,6975,6976,6977,6978,6979,6980,6981,6982,6983,6984,6985,6986,6987,6988,6989,6990,6991,6992,6993,6994,6995,6996,6997,6998,6999,7000,7001,7002,7003,7136,7137,7138,7139,7183,7186,7188,7190,8923,8924,9546,9547,9548,9549,9550,9551,9552,9553,9554,9599,9600,9601,9602,9603,9604,9605,9606,9607,9608,9609,9610,9611,9612,9613,9614,9615,9616,9617,9618,9619,9620,9621,9622,9623,9624,9625,9626,9627,9628,9629,9630,9631,9651,9652,9653,9654,9655,9656,9657,9658,9659,9660,9661,9662,9663,9664,9665,9666,9667,9668,9669,9670,9671,9672,9673,9674,9675,9676,9677,9678,9679,9680,9681,9682,9683,9684,9685,9686,9687,9688,9689,9690,9691,9692,9693,9694,9695,9696,9697,9698,9699,9700,9701,9702,9703,9704,9705,9706,9707,9708,9709,9710,9711,9712,9713,9714,9715,9736,9737,9738,9739,9740,9765,9766,9767,9768,9769,9770,9771,9772,9773,9774,9775,9776,9777,9778,9779,9780,9781,9782,9783,9784,9785,9786,9787,9788,9789,9790,9791,9792,9793,9794,9795,9796,9797,9826,9827,9828,9829,9830,9831,9832,9833,9834,9835,9836,9837,9838,9839,9840,9841,9842,9843,9844,9845,9846,9847,9848,9849,9850,9851,9852,9853,9854,9855,9856,9857,9858,9859,9860,9861,9862,9863,9864,9865,9866,9867,9868,9869,9870,9871,9872,9873,9874,9875,9876,9877,9878,9879,9880,9881,9882,9883,9884,9885,9886,9887,9888,9889,9890,9891,9892,9893,9894,9895,9896,9897,9898,9899,9900,9901,9902,9903,9904,9905,9906,9907,9908,9909,9910,9911,9912,9913,9914,9915,9916,9917,9918,9919,9959,9960,9961,9962,9963,9964,9965,9966,9967,9968,9969,9970,9971,9972,9973,9974,9975,9976,9977,9978,9979,9980,9981,9982,9983,9984,9985,9986,9987,9988,9989,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999,10000,10001,10002,10003,10004,10005,10006,10007,10008,10009,10010,10011,10012,10013,10014,10015,10016,10017,10018,10019,10020,10021,10022,10023,10024,10025,10026,10027,10028,10029,10030,10031,10032,10033,10034,10035,10036,10037,10038,10039,10040,10041,10042,10043,10044,10045,10046,10047,10048,10049,10050,10051,10052,10053,10054,10055,10056,10057,10058,10059,11669,11670,11728,11729,11731,11732,11741,11742,11744,11745,11754,11755,11757,11758,11767,11768,11770,11771,11780,11781,11783,11784,11793,11794,11796,11797,11806,11807,11809,11810,11819,11820,11822,11823,11832,11833,11835,11836,11845,11846,11848,11849,11858,11859,11861,11862,11871,11872,11874,11875,11884,11885,11887,11888,11897,11898,11900,11901,11910,11911,11913,11914,11923,11924,11926,11927,11936,11937,11939,11940,11949,11950,11952,11953,11962,11963,11965,11966,11975,11976,11978,11979,11988,11989,11991,11992,12001,12002,12004,12005,12014,12015,12017,12018,12027,12028,12030,12031,12040,12041,12043,12044,12053,12054,12056,12057,12066,12067,12069,12070,12079,12080,12082,12083,12092,12093,12095,12096,12105,12106,12108,12109,12118,12119,12121,12122,12129,12133,12137,12144,12147,12152,12155,12156,12160,12174,12188,12202,12216,12230,12244,12258,12272,12286,12300,12314,12328,12342,12356,12370,12382,12396,12410,12424,12438,12452,12466,12480,12494,12508,12522,12536,12550,12564,12578,12579,12580,12581,12595,12596,12597,12598,12696,12697,12698,12699) have mixed types.Specify dtype option on import or set low_memory=False.

,eid,21-0.0,21-1.0,21-2.0,31-0.0,34-0.0,35-0.0,35-1.0,35-2.0,36-0.0,...,40021-7.0,40021-8.0,40021-9.0,40021-10.0,40021-11.0,40021-12.0,40021-13.0,40021-14.0,40021-15.0,40021-16.0
0,4863545,1.0,NaN,NaN,1,1942,1.0,NaN,NaN,1056.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3440845,1.0,NaN,NaN,0,1950,1.0,NaN,NaN,3157.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1191090,1.0,NaN,NaN,0,1954,1.0,NaN,NaN,1044.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3087664,1.0,NaN,NaN,1,1944,1.0,NaN,NaN,1040.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2195757,1.0,NaN,NaN,0,1958,1.0,NaN,NaN,1039.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9939,5612713,1.0,NaN,NaN,1,1958,1.0,NaN,NaN,3156.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9940,6022397,1.0,NaN,NaN,1,1945,1.0,NaN,NaN,2818.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9941,5011216,1.0,NaN,NaN,0,1947,1.0,NaN,NaN,3155.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9942,3482443,1.0,NaN,NaN,1,1950,1.0,NaN,NaN,1045.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9943,2702146,1.0,NaN,NaN,0,1941,1.0,NaN,NaN,3156.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below we show some information about the total dataframe. We find that there are mostly float data types in our dataframe, but also a few integer and a bunch of object data types.

In [5]:
prediabetes_with_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9944 entries, 0 to 9943
Columns: 12711 entries, eid to 40021-16.0
dtypes: float64(10792), int64(6), object(1913)
memory usage: 964.3+ MB

Below we show that there are many columns in which duplicate data is recorded. This may be due to patients requesting not to have their data used in the study after it was originally recorded and posted for use. After these patients decided not to share their data, their information was removed in a column in a different text file. The higher the number of the csv file (e.g. whole_file_26867 < whole_file_42385) the less patients kept in the columns. We need to account for this request of removal and not use patients who decide not to share their information as ethical researchers. Since both columns are kept, they are differentiated by x (representing column from lower number of csv file) and y (representing column from higher number of csv file which we want to keep) in the pandas dataframe. Therefore, we want to get rid of all columns ending in x and keep all columns ending in y. Below we search for all columns ending in x. and print all the column names so that we can easily drop them from the dataframe.

In [6]:
spike_cols = [col for col in prediabetes_with_features.columns if 'x' in col]
print(spike_cols)
print(len(spike_cols))

['84-0.0_x', '84-0.1_x', '84-0.2_x', '84-0.3_x', '84-0.4_x', '84-0.5_x', '84-1.0_x', '84-1.1_x', '84-1.2_x', '84-1.3_x', '84-1.4_x', '84-1.5_x', '84-2.0_x', '84-2.1_x', '84-2.2_x', '84-2.3_x', '84-2.4_x', '84-2.5_x', '87-0.0_x', '87-0.1_x', '87-0.2_x', '87-0.3_x', '87-0.4_x', '87-0.5_x', '87-0.6_x', '87-0.7_x', '87-0.8_x', '87-0.9_x', '87-0.10_x', '87-0.11_x', '87-0.12_x', '87-0.13_x', '87-0.14_x', '87-0.15_x', '87-0.16_x', '87-0.17_x', '87-0.18_x', '87-0.19_x', '87-0.20_x', '87-0.21_x', '87-0.22_x', '87-0.23_x', '87-0.24_x', '87-0.25_x', '87-0.26_x', '87-0.27_x', '87-0.28_x', '87-0.29_x', '87-0.30_x', '87-0.31_x', '87-0.32_x', '87-0.33_x', '87-1.0_x', '87-1.1_x', '87-1.2_x', '87-1.3_x', '87-1.4_x', '87-1.5_x', '87-1.6_x', '87-1.7_x', '87-1.8_x', '87-1.9_x', '87-1.10_x', '87-1.11_x', '87-1.12_x', '87-1.13_x', '87-1.14_x', '87-1.15_x', '87-1.16_x', '87-1.17_x', '87-1.18_x', '87-1.19_x', '87-1.20_x', '87-1.21_x', '87-1.22_x', '87-1.23_x', '87-1.24_x', '87-1.25_x', '87-1.26_x', '87-1.27_x', '87-1.28_x', '87-1.29_x', '87-1.30_x', '87-1.31_x', '87-1.32_x', '87-1.33_x', '87-2.0_x', '87-2.1_x', '87-2.2_x', '87-2.3_x', '87-2.4_x', '87-2.5_x', '87-2.6_x', '87-2.7_x', '87-2.8_x', '87-2.9_x', '87-2.10_x', '87-2.11_x', '87-2.12_x', '87-2.13_x', '87-2.14_x', '87-2.15_x', '87-2.16_x', '87-2.17_x', '87-2.18_x', '87-2.19_x', '87-2.20_x', '87-2.21_x', '87-2.22_x', '87-2.23_x', '87-2.24_x', '87-2.25_x', '87-2.26_x', '87-2.27_x', '87-2.28_x', '87-2.29_x', '87-2.30_x', '87-2.31_x', '87-2.32_x', '87-2.33_x', '134-0.0_x', '134-1.0_x', '134-2.0_x', '135-0.0_x', '135-1.0_x', '135-2.0_x', '1259-0.0_x', '1259-1.0_x', '1259-2.0_x', '1558-0.0_x', '1558-1.0_x', '1558-2.0_x', '1647-0.0_x', '1647-1.0_x', '1647-2.0_x', '1677-0.0_x', '1677-1.0_x', '1677-2.0_x', '1687-0.0_x', '1687-1.0_x', '1687-2.0_x', '1697-0.0_x', '1697-1.0_x', '1697-2.0_x', '1707-0.0_x', '1707-1.0_x', '1707-2.0_x', '1767-0.0_x', '1767-1.0_x', '1767-2.0_x', '1777-0.0_x', '1777-1.0_x', '1777-2.0_x', '1787-0.0_x', '1787-1.0_x', '1787-2.0_x', '1797-0.0_x', '1797-1.0_x', '1797-2.0_x', '1807-0.0_x', '1807-1.0_x', '1807-2.0_x', '1835-0.0_x', '1835-1.0_x', '1835-2.0_x', '1845-0.0_x', '1845-1.0_x', '1845-2.0_x', '1873-0.0_x', '1873-1.0_x', '1873-2.0_x', '1883-0.0_x', '1883-1.0_x', '1883-2.0_x', '2946-0.0_x', '2946-1.0_x', '2946-2.0_x', '3140-0.0_x', '3140-1.0_x', '3140-2.0_x', '3526-0.0_x', '3526-1.0_x', '3526-2.0_x', '3912-0.0_x', '3912-1.0_x', '3912-2.0_x', '3942-0.0_x', '3942-1.0_x', '3942-2.0_x', '3972-0.0_x', '3972-1.0_x', '3972-2.0_x', '3982-0.0_x', '3982-1.0_x', '3982-2.0_x', '4501-0.0_x', '4501-1.0_x', '4501-2.0_x', '5057-0.0_x', '5057-1.0_x', '5057-2.0_x', '5364-0.0_x', '5364-1.0_x', '5364-2.0_x', '20001-0.0_x', '20001-0.1_x', '20001-0.2_x', '20001-0.3_x', '20001-0.4_x', '20001-0.5_x', '20001-1.0_x', '20001-1.1_x', '20001-1.2_x', '20001-1.3_x', '20001-1.4_x', '20001-1.5_x', '20001-2.0_x', '20001-2.1_x', '20001-2.2_x', '20001-2.3_x', '20001-2.4_x', '20001-2.5_x', '20002-0.0_x', '20002-0.1_x', '20002-0.2_x', '20002-0.3_x', '20002-0.4_x', '20002-0.5_x', '20002-0.6_x', '20002-0.7_x', '20002-0.8_x', '20002-0.9_x', '20002-0.10_x', '20002-0.11_x', '20002-0.12_x', '20002-0.13_x', '20002-0.14_x', '20002-0.15_x', '20002-0.16_x', '20002-0.17_x', '20002-0.18_x', '20002-0.19_x', '20002-0.20_x', '20002-0.21_x', '20002-0.22_x', '20002-0.23_x', '20002-0.24_x', '20002-0.25_x', '20002-0.26_x', '20002-0.27_x', '20002-0.28_x', '20002-0.29_x', '20002-0.30_x', '20002-0.31_x', '20002-0.32_x', '20002-0.33_x', '20002-1.0_x', '20002-1.1_x', '20002-1.2_x', '20002-1.3_x', '20002-1.4_x', '20002-1.5_x', '20002-1.6_x', '20002-1.7_x', '20002-1.8_x', '20002-1.9_x', '20002-1.10_x', '20002-1.11_x', '20002-1.12_x', '20002-1.13_x', '20002-1.14_x', '20002-1.15_x', '20002-1.16_x', '20002-1.17_x', '20002-1.18_x', '20002-1.19_x', '20002-1.20_x', '20002-1.21_x', '20002-1.22_x', '20002-1.23_x', '20002-1.24_x', '20002-1.25_x', '20002-1.26_x', '20002-1.27_x', '20002-1.28_x', '20002-1.29_x', '20002-1.30_x', '20002-1.31_x', '20002-1.32_x', '20002-1.33_x', '20002-2.0_x', '20002-2.1_x', '20002-2.2_x', '20002-2.3_x', '20002-2.4_x', '20002-2.5_x', '20002-2.6_x', '20002-2.7_x', '20002-2.8_x', '20002-2.9_x', '20002-2.10_x', '20002-2.11_x', '20002-2.12_x', '20002-2.13_x', '20002-2.14_x', '20002-2.15_x', '20002-2.16_x', '20002-2.17_x', '20002-2.18_x', '20002-2.19_x', '20002-2.20_x', '20002-2.21_x', '20002-2.22_x', '20002-2.23_x', '20002-2.24_x', '20002-2.25_x', '20002-2.26_x', '20002-2.27_x', '20002-2.28_x', '20002-2.29_x', '20002-2.30_x', '20002-2.31_x', '20002-2.32_x', '20002-2.33_x', '20006-0.0_x', '20006-0.1_x', '20006-0.2_x', '20006-0.3_x', '20006-0.4_x', '20006-0.5_x', '20006-1.0_x', '20006-1.1_x', '20006-1.2_x', '20006-1.3_x', '20006-1.4_x', '20006-1.5_x', '20006-2.0_x', '20006-2.1_x', '20006-2.2_x', '20006-2.3_x', '20006-2.4_x', '20006-2.5_x', '20007-0.0_x', '20007-0.1_x', '20007-0.2_x', '20007-0.3_x', '20007-0.4_x', '20007-0.5_x', '20007-1.0_x', '20007-1.1_x', '20007-1.2_x', '20007-1.3_x', '20007-1.4_x', '20007-1.5_x', '20007-2.0_x', '20007-2.1_x', '20007-2.2_x', '20007-2.3_x', '20007-2.4_x', '20007-2.5_x', '20008-0.0_x', '20008-0.1_x', '20008-0.2_x', '20008-0.3_x', '20008-0.4_x', '20008-0.5_x', '20008-0.6_x', '20008-0.7_x', '20008-0.8_x', '20008-0.9_x', '20008-0.10_x', '20008-0.11_x', '20008-0.12_x', '20008-0.13_x', '20008-0.14_x', '20008-0.15_x', '20008-0.16_x', '20008-0.17_x', '20008-0.18_x', '20008-0.19_x', '20008-0.20_x', '20008-0.21_x', '20008-0.22_x', '20008-0.23_x', '20008-0.24_x', '20008-0.25_x', '20008-0.26_x', '20008-0.27_x', '20008-0.28_x', '20008-0.29_x', '20008-0.30_x', '20008-0.31_x', '20008-0.32_x', '20008-0.33_x', '20008-1.0_x', '20008-1.1_x', '20008-1.2_x', '20008-1.3_x', '20008-1.4_x', '20008-1.5_x', '20008-1.6_x', '20008-1.7_x', '20008-1.8_x', '20008-1.9_x', '20008-1.10_x', '20008-1.11_x', '20008-1.12_x', '20008-1.13_x', '20008-1.14_x', '20008-1.15_x', '20008-1.16_x', '20008-1.17_x', '20008-1.18_x', '20008-1.19_x', '20008-1.20_x', '20008-1.21_x', '20008-1.22_x', '20008-1.23_x', '20008-1.24_x', '20008-1.25_x', '20008-1.26_x', '20008-1.27_x', '20008-1.28_x', '20008-1.29_x', '20008-1.30_x', '20008-1.31_x', '20008-1.32_x', '20008-1.33_x', '20008-2.0_x', '20008-2.1_x', '20008-2.2_x', '20008-2.3_x', '20008-2.4_x', '20008-2.5_x', '20008-2.6_x', '20008-2.7_x', '20008-2.8_x', '20008-2.9_x', '20008-2.10_x', '20008-2.11_x', '20008-2.12_x', '20008-2.13_x', '20008-2.14_x', '20008-2.15_x', '20008-2.16_x', '20008-2.17_x', '20008-2.18_x', '20008-2.19_x', '20008-2.20_x', '20008-2.21_x', '20008-2.22_x', '20008-2.23_x', '20008-2.24_x', '20008-2.25_x', '20008-2.26_x', '20008-2.27_x', '20008-2.28_x', '20008-2.29_x', '20008-2.30_x', '20008-2.31_x', '20008-2.32_x', '20008-2.33_x', '20009-0.0_x', '20009-0.1_x', '20009-0.2_x', '20009-0.3_x', '20009-0.4_x', '20009-0.5_x', '20009-0.6_x', '20009-0.7_x', '20009-0.8_x', '20009-0.9_x', '20009-0.10_x', '20009-0.11_x', '20009-0.12_x', '20009-0.13_x', '20009-0.14_x', '20009-0.15_x', '20009-0.16_x', '20009-0.17_x', '20009-0.18_x', '20009-0.19_x', '20009-0.20_x', '20009-0.21_x', '20009-0.22_x', '20009-0.23_x', '20009-0.24_x', '20009-0.25_x', '20009-0.26_x', '20009-0.27_x', '20009-0.28_x', '20009-0.29_x', '20009-0.30_x', '20009-0.31_x', '20009-0.32_x', '20009-0.33_x', '20009-1.0_x', '20009-1.1_x', '20009-1.2_x', '20009-1.3_x', '20009-1.4_x', '20009-1.5_x', '20009-1.6_x', '20009-1.7_x', '20009-1.8_x', '20009-1.9_x', '20009-1.10_x', '20009-1.11_x', '20009-1.12_x', '20009-1.13_x', '20009-1.14_x', '20009-1.15_x', '20009-1.16_x', '20009-1.17_x', '20009-1.18_x', '20009-1.19_x', '20009-1.20_x', '20009-1.21_x', '20009-1.22_x', '20009-1.23_x', '20009-1.24_x', '20009-1.25_x', '20009-1.26_x', '20009-1.27_x', '20009-1.28_x', '20009-1.29_x', '20009-1.30_x', '20009-1.31_x', '20009-1.32_x', '20009-1.33_x', '20009-2.0_x', '20009-2.1_x', '20009-2.2_x', '20009-2.3_x', '20009-2.4_x', '20009-2.5_x', '20009-2.6_x', '20009-2.7_x', '20009-2.8_x', '20009-2.9_x', '20009-2.10_x', '20009-2.11_x', '20009-2.12_x', '20009-2.13_x', '20009-2.14_x', '20009-2.15_x', '20009-2.16_x', '20009-2.17_x', '20009-2.18_x', '20009-2.19_x', '20009-2.20_x', '20009-2.21_x', '20009-2.22_x', '20009-2.23_x', '20009-2.24_x', '20009-2.25_x', '20009-2.26_x', '20009-2.27_x', '20009-2.28_x', '20009-2.29_x', '20009-2.30_x', '20009-2.31_x', '20009-2.32_x', '20009-2.33_x', '20012-0.0_x', '20012-0.1_x', '20012-0.2_x', '20012-0.3_x', '20012-0.4_x', '20012-0.5_x', '20012-1.0_x', '20012-1.1_x', '20012-1.2_x', '20012-1.3_x', '20012-1.4_x', '20012-1.5_x', '20012-2.0_x', '20012-2.1_x', '20012-2.2_x', '20012-2.3_x', '20012-2.4_x', '20012-2.5_x', '20013-0.0_x', '20013-0.1_x', '20013-0.2_x', '20013-0.3_x', '20013-0.4_x', '20013-0.5_x', '20013-0.6_x', '20013-0.7_x', '20013-0.8_x', '20013-0.9_x', '20013-0.10_x', '20013-0.11_x', '20013-0.12_x', '20013-0.13_x', '20013-0.14_x', '20013-0.15_x', '20013-0.16_x', '20013-0.17_x', '20013-0.18_x', '20013-0.19_x', '20013-0.20_x', '20013-0.21_x', '20013-0.22_x', '20013-0.23_x', '20013-0.24_x', '20013-0.25_x', '20013-0.26_x', '20013-0.27_x', '20013-0.28_x', '20013-0.29_x', '20013-0.30_x', '20013-0.31_x', '20013-0.32_x', '20013-0.33_x', '20013-1.0_x', '20013-1.1_x', '20013-1.2_x', '20013-1.3_x', '20013-1.4_x', '20013-1.5_x', '20013-1.6_x', '20013-1.7_x', '20013-1.8_x', '20013-1.9_x', '20013-1.10_x', '20013-1.11_x', '20013-1.12_x', '20013-1.13_x', '20013-1.14_x', '20013-1.15_x', '20013-1.16_x', '20013-1.17_x', '20013-1.18_x', '20013-1.19_x', '20013-1.20_x', '20013-1.21_x', '20013-1.22_x', '20013-1.23_x', '20013-1.24_x', '20013-1.25_x', '20013-1.26_x', '20013-1.27_x', '20013-1.28_x', '20013-1.29_x', '20013-1.30_x', '20013-1.31_x', '20013-1.32_x', '20013-1.33_x', '20013-2.0_x', '20013-2.1_x', '20013-2.2_x', '20013-2.3_x', '20013-2.4_x', '20013-2.5_x', '20013-2.6_x', '20013-2.7_x', '20013-2.8_x', '20013-2.9_x', '20013-2.10_x', '20013-2.11_x', '20013-2.12_x', '20013-2.13_x', '20013-2.14_x', '20013-2.15_x', '20013-2.16_x', '20013-2.17_x', '20013-2.18_x', '20013-2.19_x', '20013-2.20_x', '20013-2.21_x', '20013-2.22_x', '20013-2.23_x', '20013-2.24_x', '20013-2.25_x', '20013-2.26_x', '20013-2.27_x', '20013-2.28_x', '20013-2.29_x', '20013-2.30_x', '20013-2.31_x', '20013-2.32_x', '20013-2.33_x', '20107-0.0_x', '20107-0.1_x', '20107-0.2_x', '20107-0.3_x', '20107-0.4_x', '20107-0.5_x', '20107-0.6_x', '20107-0.7_x', '20107-0.8_x', '20107-0.9_x', '20107-1.0_x', '20107-1.1_x', '20107-1.2_x', '20107-1.3_x', '20107-1.4_x', '20107-1.5_x', '20107-1.6_x', '20107-1.7_x', '20107-1.8_x', '20107-1.9_x', '20107-2.0_x', '20107-2.1_x', '20107-2.2_x', '20107-2.3_x', '20107-2.4_x', '20107-2.5_x', '20107-2.6_x', '20107-2.7_x', '20107-2.8_x', '20107-2.9_x', '20110-0.0_x', '20110-0.1_x', '20110-0.2_x', '20110-0.3_x', '20110-0.4_x', '20110-0.5_x', '20110-0.6_x', '20110-0.7_x', '20110-0.8_x', '20110-0.9_x', '20110-0.10_x', '20110-1.0_x', '20110-1.1_x', '20110-1.2_x', '20110-1.3_x', '20110-1.4_x', '20110-1.5_x', '20110-1.6_x', '20110-1.7_x', '20110-1.8_x', '20110-1.9_x', '20110-1.10_x', '20110-2.0_x', '20110-2.1_x', '20110-2.2_x', '20110-2.3_x', '20110-2.4_x', '20110-2.5_x', '20110-2.6_x', '20110-2.7_x', '20110-2.8_x', '20110-2.9_x', '20110-2.10_x', '20111-0.0_x', '20111-0.1_x', '20111-0.2_x', '20111-0.3_x', '20111-0.4_x', '20111-0.5_x', '20111-0.6_x', '20111-0.7_x', '20111-0.8_x', '20111-0.9_x', '20111-0.10_x', '20111-0.11_x', '20111-1.0_x', '20111-1.1_x', '20111-1.2_x', '20111-1.3_x', '20111-1.4_x', '20111-1.5_x', '20111-1.6_x', '20111-1.7_x', '20111-1.8_x', '20111-1.9_x', '20111-1.10_x', '20111-1.11_x', '20111-2.0_x', '20111-2.1_x', '20111-2.2_x', '20111-2.3_x', '20111-2.4_x', '20111-2.5_x', '20111-2.6_x', '20111-2.7_x', '20111-2.8_x', '20111-2.9_x', '20111-2.10_x', '20111-2.11_x', '20112-0.0_x', '20112-0.1_x', '20112-0.2_x', '20112-0.3_x', '20112-0.4_x', '20112-0.5_x', '20112-0.6_x', '20112-1.0_x', '20112-1.1_x', '20112-1.2_x', '20112-1.3_x', '20112-1.4_x', '20112-1.5_x', '20112-1.6_x', '20112-2.0_x', '20112-2.1_x', '20112-2.2_x', '20112-2.3_x', '20112-2.4_x', '20112-2.5_x', '20112-2.6_x', '20113-0.0_x', '20113-0.1_x', '20113-0.2_x', '20113-0.3_x', '20113-0.4_x', '20113-0.5_x', '20113-1.0_x', '20113-1.1_x', '20113-1.2_x', '20113-1.3_x', '20113-1.4_x', '20113-1.5_x', '20113-2.0_x', '20113-2.1_x', '20113-2.2_x', '20113-2.3_x', '20113-2.4_x', '20113-2.5_x', '20114-0.0_x', '20114-0.1_x', '20114-0.2_x', '20114-0.3_x', '20114-0.4_x', '20114-0.5_x', '20114-0.6_x', '20114-1.0_x', '20114-1.1_x', '20114-1.2_x', '20114-1.3_x', '20114-1.4_x', '20114-1.5_x', '20114-1.6_x', '20114-2.0_x', '20114-2.1_x', '20114-2.2_x', '20114-2.3_x', '20114-2.4_x', '20114-2.5_x', '20114-2.6_x', '20116-0.0_x', '20116-1.0_x', '20116-2.0_x', '20117-0.0_x', '20117-1.0_x', '20117-2.0_x', '20160-0.0_x', '20160-1.0_x', '20160-2.0_x', '20161-0.0_x', '20161-1.0_x', '20161-2.0_x', '30000-0.0_x', '30000-1.0_x', '30000-2.0_x', '30010-0.0_x', '30010-1.0_x', '30010-2.0_x', '30020-0.0_x', '30020-1.0_x', '30020-2.0_x', '30030-0.0_x', '30030-1.0_x', '30030-2.0_x', '30040-0.0_x', '30040-1.0_x', '30040-2.0_x', '30050-0.0_x', '30050-1.0_x', '30050-2.0_x', '30060-0.0_x', '30060-1.0_x', '30060-2.0_x', '30070-0.0_x', '30070-1.0_x', '30070-2.0_x', '30080-0.0_x', '30080-1.0_x', '30080-2.0_x', '30090-0.0_x', '30090-1.0_x', '30090-2.0_x', '30100-0.0_x', '30100-1.0_x', '30100-2.0_x', '30110-0.0_x', '30110-1.0_x', '30110-2.0_x', '30120-0.0_x', '30120-1.0_x', '30120-2.0_x', '30130-0.0_x', '30130-1.0_x', '30130-2.0_x', '30140-0.0_x', '30140-1.0_x', '30140-2.0_x', '30150-0.0_x', '30150-1.0_x', '30150-2.0_x', '30160-0.0_x', '30160-1.0_x', '30160-2.0_x', '30170-0.0_x', '30170-1.0_x', '30170-2.0_x', '30180-0.0_x', '30180-1.0_x', '30180-2.0_x', '30190-0.0_x', '30190-1.0_x', '30190-2.0_x', '30200-0.0_x', '30200-1.0_x', '30200-2.0_x', '30210-0.0_x', '30210-1.0_x', '30210-2.0_x', '30220-0.0_x', '30220-1.0_x', '30220-2.0_x', '30230-0.0_x', '30230-1.0_x', '30230-2.0_x', '30240-0.0_x', '30240-1.0_x', '30240-2.0_x', '30250-0.0_x', '30250-1.0_x', '30250-2.0_x', '30260-0.0_x', '30260-1.0_x', '30260-2.0_x', '30270-0.0_x', '30270-1.0_x', '30270-2.0_x', '30280-0.0_x', '30280-1.0_x', '30280-2.0_x', '30290-0.0_x', '30290-1.0_x', '30290-2.0_x', '30300-0.0_x', '30300-1.0_x', '30300-2.0_x', '30502-0.0_x', '30502-1.0_x', '30503-0.0_x', '30503-1.0_x', '30512-0.0_x', '30512-1.0_x', '30513-0.0_x', '30513-1.0_x', '30522-0.0_x', '30522-1.0_x', '30523-0.0_x', '30523-1.0_x', '30532-0.0_x', '30532-1.0_x', '30533-0.0_x', '30533-1.0_x', '40005-0.0_x', '40005-1.0_x', '40005-2.0_x', '40005-3.0_x', '40005-4.0_x', '40005-5.0_x', '40005-6.0_x', '40005-7.0_x', '40005-8.0_x', '40005-9.0_x', '40005-10.0_x', '40005-11.0_x', '40005-12.0_x', '40005-13.0_x', '40005-14.0_x', '40005-15.0_x', '40005-16.0_x', '40006-0.0_x', '40006-1.0_x', '40006-2.0_x', '40006-3.0_x', '40006-4.0_x', '40006-5.0_x', '40006-6.0_x', '40006-7.0_x', '40006-8.0_x', '40006-9.0_x', '40006-10.0_x', '40006-11.0_x', '40006-12.0_x', '40006-13.0_x', '40006-14.0_x', '40006-15.0_x', '40006-16.0_x', '40008-0.0_x', '40008-1.0_x', '40008-2.0_x', '40008-3.0_x', '40008-4.0_x', '40008-5.0_x', '40008-6.0_x', '40008-7.0_x', '40008-8.0_x', '40008-9.0_x', '40008-10.0_x', '40008-11.0_x', '40008-12.0_x', '40008-13.0_x', '40008-14.0_x', '40008-15.0_x', '40008-16.0_x', '40009-0.0_x', '40011-0.0_x', '40011-1.0_x', '40011-2.0_x', '40011-3.0_x', '40011-4.0_x', '40011-5.0_x', '40011-6.0_x', '40011-7.0_x', '40011-8.0_x', '40011-9.0_x', '40011-10.0_x', '40011-11.0_x', '40011-12.0_x', '40011-13.0_x', '40011-14.0_x', '40011-15.0_x', '40011-16.0_x', '40012-0.0_x', '40012-1.0_x', '40012-2.0_x', '40012-3.0_x', '40012-4.0_x', '40012-5.0_x', '40012-6.0_x', '40012-7.0_x', '40012-8.0_x', '40012-9.0_x', '40012-10.0_x', '40012-11.0_x', '40012-12.0_x', '40012-13.0_x', '40012-14.0_x', '40012-15.0_x', '40012-16.0_x', '40013-0.0_x', '40013-1.0_x', '40013-2.0_x', '40013-3.0_x', '40013-4.0_x', '40013-5.0_x', '40013-6.0_x', '40013-7.0_x', '40013-8.0_x', '40013-9.0_x', '40013-10.0_x', '40013-11.0_x', '40013-12.0_x', '40013-13.0_x', '40013-14.0_x', '40019-0.0_x', '40019-1.0_x', '40019-2.0_x', '40019-3.0_x', '40019-4.0_x', '40019-5.0_x', '40019-6.0_x', '40019-7.0_x', '40019-8.0_x', '40019-9.0_x', '40019-10.0_x', '40019-11.0_x', '40019-12.0_x', '40019-13.0_x', '40019-14.0_x', '40019-15.0_x', '40019-16.0_x', '41200-0.0_x', '41200-0.1_x', '41200-0.2_x', '41200-0.3_x', '41200-0.4_x', '41200-0.5_x', '41200-0.6_x', '41200-0.7_x', '41200-0.8_x', '41200-0.9_x', '41200-0.10_x', '41200-0.11_x', '41200-0.12_x', '41200-0.13_x', '41200-0.14_x', '41200-0.15_x', '41200-0.16_x', '41200-0.17_x', '41200-0.18_x', '41200-0.19_x', '41200-0.20_x', '41200-0.21_x', '41200-0.22_x', '41200-0.23_x', '41200-0.24_x', '41200-0.25_x', '41200-0.26_x', '41200-0.27_x', '41200-0.28_x', '41200-0.29_x', '41200-0.30_x', '41200-0.31_x', '41200-0.32_x', '41200-0.33_x', '41200-0.34_x', '41200-0.35_x', '41200-0.36_x', '41200-0.37_x', '41200-0.38_x', '41200-0.39_x', '41200-0.40_x', '41200-0.41_x', '41200-0.42_x', '41200-0.43_x', '41200-0.44_x', '41200-0.45_x', '41200-0.46_x', '41200-0.47_x', '41200-0.48_x', '41210-0.0_x', '41210-0.1_x', '41210-0.2_x', '41210-0.3_x', '41210-0.4_x', '41210-0.5_x', '41210-0.6_x', '41210-0.7_x', '41210-0.8_x', '41210-0.9_x', '41210-0.10_x', '41210-0.11_x', '41210-0.12_x', '41210-0.13_x', '41210-0.14_x', '41210-0.15_x', '41210-0.16_x', '41210-0.17_x', '41210-0.18_x', '41210-0.19_x', '41210-0.20_x', '41210-0.21_x', '41210-0.22_x', '41210-0.23_x', '41210-0.24_x', '41210-0.25_x', '41210-0.26_x', '41210-0.27_x', '41210-0.28_x', '41210-0.29_x', '41210-0.30_x', '41210-0.31_x', '41210-0.32_x', '41210-0.33_x', '41210-0.34_x', '41210-0.35_x', '41210-0.36_x', '41210-0.37_x', '41210-0.38_x', '41210-0.39_x', '41210-0.40_x', '41210-0.41_x', '41210-0.42_x', '41210-0.43_x', '41210-0.44_x', '41210-0.45_x', '41210-0.46_x', '41210-0.47_x', '41210-0.48_x', '41210-0.49_x', '41210-0.50_x', '41210-0.51_x', '41210-0.52_x', '41210-0.53_x', '41210-0.54_x', '41210-0.55_x', '41210-0.56_x', '41210-0.57_x', '41210-0.58_x', '41210-0.59_x', '41210-0.60_x', '41210-0.61_x', '41210-0.62_x', '41210-0.63_x', '41210-0.64_x', '41210-0.65_x', '41210-0.66_x', '41210-0.67_x', '41210-0.68_x', '41210-0.69_x', '41210-0.70_x', '41210-0.71_x', '41210-0.72_x', '41210-0.73_x', '41210-0.74_x', '41210-0.75_x', '41210-0.76_x', '41210-0.77_x', '41210-0.78_x', '41210-0.79_x', '41210-0.80_x', '41210-0.81_x', '41210-0.82_x', '41210-0.83_x', '41210-0.84_x', '41210-0.85_x', '864-0.0_x', '864-1.0_x', '864-2.0_x', '874-0.0_x', '874-1.0_x', '874-2.0_x', '884-0.0_x', '884-1.0_x', '884-2.0_x', '894-0.0_x', '894-1.0_x', '894-2.0_x', '904-0.0_x', '904-1.0_x', '904-2.0_x', '914-0.0_x', '914-1.0_x', '914-2.0_x', '924-0.0_x', '924-1.0_x', '924-2.0_x', '943-0.0_x', '943-1.0_x', '943-2.0_x', '971-0.0_x', '971-1.0_x', '971-2.0_x', '981-0.0_x', '981-1.0_x', '981-2.0_x', '991-0.0_x', '991-1.0_x', '991-2.0_x', '1001-0.0_x', '1001-1.0_x', '1001-2.0_x', '1011-0.0_x', '1011-1.0_x', '1011-2.0_x', '1021-0.0_x', '1021-1.0_x', '1021-2.0_x', '1050-0.0_x', '1050-1.0_x', '1050-2.0_x', '1060-0.0_x', '1060-1.0_x', '1060-2.0_x', '1070-0.0_x', '1070-1.0_x', '1070-2.0_x', '1080-0.0_x', '1080-1.0_x', '1080-2.0_x', '1090-0.0_x', '1090-1.0_x', '1090-2.0_x', '1100-0.0_x', '1100-1.0_x', '1100-2.0_x', '1160-0.0_x', '1160-1.0_x', '1160-2.0_x', '1170-0.0_x', '1170-1.0_x', '1170-2.0_x', '1180-0.0_x', '1180-1.0_x', '1180-2.0_x', '1190-0.0_x', '1190-1.0_x', '1190-2.0_x', '1200-0.0_x', '1200-1.0_x', '1200-2.0_x', '1210-0.0_x', '1210-1.0_x', '1210-2.0_x', '1220-0.0_x', '1220-1.0_x', '1220-2.0_x', '1239-0.0_x', '1239-1.0_x', '1239-2.0_x', '1249-0.0_x', '1249-1.0_x', '1249-2.0_x', '1269-0.0_x', '1269-1.0_x', '1269-2.0_x', '1279-0.0_x', '1279-1.0_x', '1279-2.0_x', '1289-0.0_x', '1289-1.0_x', '1289-2.0_x', '1299-0.0_x', '1299-1.0_x', '1299-2.0_x', '1309-0.0_x', '1309-1.0_x', '1309-2.0_x', '1319-0.0_x', '1319-1.0_x', '1319-2.0_x', '1329-0.0_x', '1329-1.0_x', '1329-2.0_x', '1339-0.0_x', '1339-1.0_x', '1339-2.0_x', '1349-0.0_x', '1349-1.0_x', '1349-2.0_x', '1359-0.0_x', '1359-1.0_x', '1359-2.0_x', '1369-0.0_x', '1369-1.0_x', '1369-2.0_x', '1379-0.0_x', '1

1652

Now we want to delete these columns from the final dataframe, shown below.

In [7]:
prediabetes_with_features = prediabetes_with_features.drop(columns = ['84-0.0_x', '84-0.1_x', '84-0.2_x', '84-0.3_x', '84-0.4_x', '84-0.5_x', '84-1.0_x', '84-1.1_x', '84-1.2_x', '84-1.3_x', '84-1.4_x', '84-1.5_x', '84-2.0_x', '84-2.1_x', '84-2.2_x', '84-2.3_x', '84-2.4_x', '84-2.5_x', '87-0.0_x', '87-0.1_x', '87-0.2_x', '87-0.3_x', '87-0.4_x', '87-0.5_x', '87-0.6_x', '87-0.7_x', '87-0.8_x', '87-0.9_x', '87-0.10_x', '87-0.11_x', '87-0.12_x', '87-0.13_x', '87-0.14_x', '87-0.15_x', '87-0.16_x', '87-0.17_x', '87-0.18_x', '87-0.19_x', '87-0.20_x', '87-0.21_x', '87-0.22_x', '87-0.23_x', '87-0.24_x', '87-0.25_x', '87-0.26_x', '87-0.27_x', '87-0.28_x', '87-0.29_x', '87-0.30_x', '87-0.31_x', '87-0.32_x', '87-0.33_x', '87-1.0_x', '87-1.1_x', '87-1.2_x', '87-1.3_x', '87-1.4_x', '87-1.5_x', '87-1.6_x', '87-1.7_x', '87-1.8_x', '87-1.9_x', '87-1.10_x', '87-1.11_x', '87-1.12_x', '87-1.13_x', '87-1.14_x', '87-1.15_x', '87-1.16_x', '87-1.17_x', '87-1.18_x', '87-1.19_x', '87-1.20_x', '87-1.21_x', '87-1.22_x', '87-1.23_x', '87-1.24_x', '87-1.25_x', '87-1.26_x', '87-1.27_x', '87-1.28_x', '87-1.29_x', '87-1.30_x', '87-1.31_x', '87-1.32_x', '87-1.33_x', '87-2.0_x', '87-2.1_x', '87-2.2_x', '87-2.3_x', '87-2.4_x', '87-2.5_x', '87-2.6_x', '87-2.7_x', '87-2.8_x', '87-2.9_x', '87-2.10_x', '87-2.11_x', '87-2.12_x', '87-2.13_x', '87-2.14_x', '87-2.15_x', '87-2.16_x', '87-2.17_x', '87-2.18_x', '87-2.19_x', '87-2.20_x', '87-2.21_x', '87-2.22_x', '87-2.23_x', '87-2.24_x', '87-2.25_x', '87-2.26_x', '87-2.27_x', '87-2.28_x', '87-2.29_x', '87-2.30_x', '87-2.31_x', '87-2.32_x', '87-2.33_x', '134-0.0_x', '134-1.0_x', '134-2.0_x', '135-0.0_x', '135-1.0_x', '135-2.0_x', '1259-0.0_x', '1259-1.0_x', '1259-2.0_x', '1558-0.0_x', '1558-1.0_x', '1558-2.0_x', '1647-0.0_x', '1647-1.0_x', '1647-2.0_x', '1677-0.0_x', '1677-1.0_x', '1677-2.0_x', '1687-0.0_x', '1687-1.0_x', '1687-2.0_x', '1697-0.0_x', '1697-1.0_x', '1697-2.0_x', '1707-0.0_x', '1707-1.0_x', '1707-2.0_x', '1767-0.0_x', '1767-1.0_x', '1767-2.0_x', '1777-0.0_x', '1777-1.0_x', '1777-2.0_x', '1787-0.0_x', '1787-1.0_x', '1787-2.0_x', '1797-0.0_x', '1797-1.0_x', '1797-2.0_x', '1807-0.0_x', '1807-1.0_x', '1807-2.0_x', '1835-0.0_x', '1835-1.0_x', '1835-2.0_x', '1845-0.0_x', '1845-1.0_x', '1845-2.0_x', '1873-0.0_x', '1873-1.0_x', '1873-2.0_x', '1883-0.0_x', '1883-1.0_x', '1883-2.0_x', '2946-0.0_x', '2946-1.0_x', '2946-2.0_x', '3140-0.0_x', '3140-1.0_x', '3140-2.0_x', '3526-0.0_x', '3526-1.0_x', '3526-2.0_x', '3912-0.0_x', '3912-1.0_x', '3912-2.0_x', '3942-0.0_x', '3942-1.0_x', '3942-2.0_x', '3972-0.0_x', '3972-1.0_x', '3972-2.0_x', '3982-0.0_x', '3982-1.0_x', '3982-2.0_x', '4501-0.0_x', '4501-1.0_x', '4501-2.0_x', '5057-0.0_x', '5057-1.0_x', '5057-2.0_x', '5364-0.0_x', '5364-1.0_x', '5364-2.0_x', '20001-0.0_x', '20001-0.1_x', '20001-0.2_x', '20001-0.3_x', '20001-0.4_x', '20001-0.5_x', '20001-1.0_x', '20001-1.1_x', '20001-1.2_x', '20001-1.3_x', '20001-1.4_x', '20001-1.5_x', '20001-2.0_x', '20001-2.1_x', '20001-2.2_x', '20001-2.3_x', '20001-2.4_x', '20001-2.5_x', '20002-0.0_x', '20002-0.1_x', '20002-0.2_x', '20002-0.3_x', '20002-0.4_x', '20002-0.5_x', '20002-0.6_x', '20002-0.7_x', '20002-0.8_x', '20002-0.9_x', '20002-0.10_x', '20002-0.11_x', '20002-0.12_x', '20002-0.13_x', '20002-0.14_x', '20002-0.15_x', '20002-0.16_x', '20002-0.17_x', '20002-0.18_x', '20002-0.19_x', '20002-0.20_x', '20002-0.21_x', '20002-0.22_x', '20002-0.23_x', '20002-0.24_x', '20002-0.25_x', '20002-0.26_x', '20002-0.27_x', '20002-0.28_x', '20002-0.29_x', '20002-0.30_x', '20002-0.31_x', '20002-0.32_x', '20002-0.33_x', '20002-1.0_x', '20002-1.1_x', '20002-1.2_x', '20002-1.3_x', '20002-1.4_x', '20002-1.5_x', '20002-1.6_x', '20002-1.7_x', '20002-1.8_x', '20002-1.9_x', '20002-1.10_x', '20002-1.11_x', '20002-1.12_x', '20002-1.13_x', '20002-1.14_x', '20002-1.15_x', '20002-1.16_x', '20002-1.17_x', '20002-1.18_x', '20002-1.19_x', '20002-1.20_x', '20002-1.21_x', '20002-1.22_x', '20002-1.23_x', '20002-1.24_x', '20002-1.25_x', '20002-1.26_x', '20002-1.27_x', '20002-1.28_x', '20002-1.29_x', '20002-1.30_x', '20002-1.31_x', '20002-1.32_x', '20002-1.33_x', '20002-2.0_x', '20002-2.1_x', '20002-2.2_x', '20002-2.3_x', '20002-2.4_x', '20002-2.5_x', '20002-2.6_x', '20002-2.7_x', '20002-2.8_x', '20002-2.9_x', '20002-2.10_x', '20002-2.11_x', '20002-2.12_x', '20002-2.13_x', '20002-2.14_x', '20002-2.15_x', '20002-2.16_x', '20002-2.17_x', '20002-2.18_x', '20002-2.19_x', '20002-2.20_x', '20002-2.21_x', '20002-2.22_x', '20002-2.23_x', '20002-2.24_x', '20002-2.25_x', '20002-2.26_x', '20002-2.27_x', '20002-2.28_x', '20002-2.29_x', '20002-2.30_x', '20002-2.31_x', '20002-2.32_x', '20002-2.33_x', '20006-0.0_x', '20006-0.1_x', '20006-0.2_x', '20006-0.3_x', '20006-0.4_x', '20006-0.5_x', '20006-1.0_x', '20006-1.1_x', '20006-1.2_x', '20006-1.3_x', '20006-1.4_x', '20006-1.5_x', '20006-2.0_x', '20006-2.1_x', '20006-2.2_x', '20006-2.3_x', '20006-2.4_x', '20006-2.5_x', '20007-0.0_x', '20007-0.1_x', '20007-0.2_x', '20007-0.3_x', '20007-0.4_x', '20007-0.5_x', '20007-1.0_x', '20007-1.1_x', '20007-1.2_x', '20007-1.3_x', '20007-1.4_x', '20007-1.5_x', '20007-2.0_x', '20007-2.1_x', '20007-2.2_x', '20007-2.3_x', '20007-2.4_x', '20007-2.5_x', '20008-0.0_x', '20008-0.1_x', '20008-0.2_x', '20008-0.3_x', '20008-0.4_x', '20008-0.5_x', '20008-0.6_x', '20008-0.7_x', '20008-0.8_x', '20008-0.9_x', '20008-0.10_x', '20008-0.11_x', '20008-0.12_x', '20008-0.13_x', '20008-0.14_x', '20008-0.15_x', '20008-0.16_x', '20008-0.17_x', '20008-0.18_x', '20008-0.19_x', '20008-0.20_x', '20008-0.21_x', '20008-0.22_x', '20008-0.23_x', '20008-0.24_x', '20008-0.25_x', '20008-0.26_x', '20008-0.27_x', '20008-0.28_x', '20008-0.29_x', '20008-0.30_x', '20008-0.31_x', '20008-0.32_x', '20008-0.33_x', '20008-1.0_x', '20008-1.1_x', '20008-1.2_x', '20008-1.3_x', '20008-1.4_x', '20008-1.5_x', '20008-1.6_x', '20008-1.7_x', '20008-1.8_x', '20008-1.9_x', '20008-1.10_x', '20008-1.11_x', '20008-1.12_x', '20008-1.13_x', '20008-1.14_x', '20008-1.15_x', '20008-1.16_x', '20008-1.17_x', '20008-1.18_x', '20008-1.19_x', '20008-1.20_x', '20008-1.21_x', '20008-1.22_x', '20008-1.23_x', '20008-1.24_x', '20008-1.25_x', '20008-1.26_x', '20008-1.27_x', '20008-1.28_x', '20008-1.29_x', '20008-1.30_x', '20008-1.31_x', '20008-1.32_x', '20008-1.33_x', '20008-2.0_x', '20008-2.1_x', '20008-2.2_x', '20008-2.3_x', '20008-2.4_x', '20008-2.5_x', '20008-2.6_x', '20008-2.7_x', '20008-2.8_x', '20008-2.9_x', '20008-2.10_x', '20008-2.11_x', '20008-2.12_x', '20008-2.13_x', '20008-2.14_x', '20008-2.15_x', '20008-2.16_x', '20008-2.17_x', '20008-2.18_x', '20008-2.19_x', '20008-2.20_x', '20008-2.21_x', '20008-2.22_x', '20008-2.23_x', '20008-2.24_x', '20008-2.25_x', '20008-2.26_x', '20008-2.27_x', '20008-2.28_x', '20008-2.29_x', '20008-2.30_x', '20008-2.31_x', '20008-2.32_x', '20008-2.33_x', '20009-0.0_x', '20009-0.1_x', '20009-0.2_x', '20009-0.3_x', '20009-0.4_x', '20009-0.5_x', '20009-0.6_x', '20009-0.7_x', '20009-0.8_x', '20009-0.9_x', '20009-0.10_x', '20009-0.11_x', '20009-0.12_x', '20009-0.13_x', '20009-0.14_x', '20009-0.15_x', '20009-0.16_x', '20009-0.17_x', '20009-0.18_x', '20009-0.19_x', '20009-0.20_x', '20009-0.21_x', '20009-0.22_x', '20009-0.23_x', '20009-0.24_x', '20009-0.25_x', '20009-0.26_x', '20009-0.27_x', '20009-0.28_x', '20009-0.29_x', '20009-0.30_x', '20009-0.31_x', '20009-0.32_x', '20009-0.33_x', '20009-1.0_x', '20009-1.1_x', '20009-1.2_x', '20009-1.3_x', '20009-1.4_x', '20009-1.5_x', '20009-1.6_x', '20009-1.7_x', '20009-1.8_x', '20009-1.9_x', '20009-1.10_x', '20009-1.11_x', '20009-1.12_x', '20009-1.13_x', '20009-1.14_x', '20009-1.15_x', '20009-1.16_x', '20009-1.17_x', '20009-1.18_x', '20009-1.19_x', '20009-1.20_x', '20009-1.21_x', '20009-1.22_x', '20009-1.23_x', '20009-1.24_x', '20009-1.25_x', '20009-1.26_x', '20009-1.27_x', '20009-1.28_x', '20009-1.29_x', '20009-1.30_x', '20009-1.31_x', '20009-1.32_x', '20009-1.33_x', '20009-2.0_x', '20009-2.1_x', '20009-2.2_x', '20009-2.3_x', '20009-2.4_x', '20009-2.5_x', '20009-2.6_x', '20009-2.7_x', '20009-2.8_x', '20009-2.9_x', '20009-2.10_x', '20009-2.11_x', '20009-2.12_x', '20009-2.13_x', '20009-2.14_x', '20009-2.15_x', '20009-2.16_x', '20009-2.17_x', '20009-2.18_x', '20009-2.19_x', '20009-2.20_x', '20009-2.21_x', '20009-2.22_x', '20009-2.23_x', '20009-2.24_x', '20009-2.25_x', '20009-2.26_x', '20009-2.27_x', '20009-2.28_x', '20009-2.29_x', '20009-2.30_x', '20009-2.31_x', '20009-2.32_x', '20009-2.33_x', '20012-0.0_x', '20012-0.1_x', '20012-0.2_x', '20012-0.3_x', '20012-0.4_x', '20012-0.5_x', '20012-1.0_x', '20012-1.1_x', '20012-1.2_x', '20012-1.3_x', '20012-1.4_x', '20012-1.5_x', '20012-2.0_x', '20012-2.1_x', '20012-2.2_x', '20012-2.3_x', '20012-2.4_x', '20012-2.5_x', '20013-0.0_x', '20013-0.1_x', '20013-0.2_x', '20013-0.3_x', '20013-0.4_x', '20013-0.5_x', '20013-0.6_x', '20013-0.7_x', '20013-0.8_x', '20013-0.9_x', '20013-0.10_x', '20013-0.11_x', '20013-0.12_x', '20013-0.13_x', '20013-0.14_x', '20013-0.15_x', '20013-0.16_x', '20013-0.17_x', '20013-0.18_x', '20013-0.19_x', '20013-0.20_x', '20013-0.21_x', '20013-0.22_x', '20013-0.23_x', '20013-0.24_x', '20013-0.25_x', '20013-0.26_x', '20013-0.27_x', '20013-0.28_x', '20013-0.29_x', '20013-0.30_x', '20013-0.31_x', '20013-0.32_x', '20013-0.33_x', '20013-1.0_x', '20013-1.1_x', '20013-1.2_x', '20013-1.3_x', '20013-1.4_x', '20013-1.5_x', '20013-1.6_x', '20013-1.7_x', '20013-1.8_x', '20013-1.9_x', '20013-1.10_x', '20013-1.11_x', '20013-1.12_x', '20013-1.13_x', '20013-1.14_x', '20013-1.15_x', '20013-1.16_x', '20013-1.17_x', '20013-1.18_x', '20013-1.19_x', '20013-1.20_x', '20013-1.21_x', '20013-1.22_x', '20013-1.23_x', '20013-1.24_x', '20013-1.25_x', '20013-1.26_x', '20013-1.27_x', '20013-1.28_x', '20013-1.29_x', '20013-1.30_x', '20013-1.31_x', '20013-1.32_x', '20013-1.33_x', '20013-2.0_x', '20013-2.1_x', '20013-2.2_x', '20013-2.3_x', '20013-2.4_x', '20013-2.5_x', '20013-2.6_x', '20013-2.7_x', '20013-2.8_x', '20013-2.9_x', '20013-2.10_x', '20013-2.11_x', '20013-2.12_x', '20013-2.13_x', '20013-2.14_x', '20013-2.15_x', '20013-2.16_x', '20013-2.17_x', '20013-2.18_x', '20013-2.19_x', '20013-2.20_x', '20013-2.21_x', '20013-2.22_x', '20013-2.23_x', '20013-2.24_x', '20013-2.25_x', '20013-2.26_x', '20013-2.27_x', '20013-2.28_x', '20013-2.29_x', '20013-2.30_x', '20013-2.31_x', '20013-2.32_x', '20013-2.33_x', '20107-0.0_x', '20107-0.1_x', '20107-0.2_x', '20107-0.3_x', '20107-0.4_x', '20107-0.5_x', '20107-0.6_x', '20107-0.7_x', '20107-0.8_x', '20107-0.9_x', '20107-1.0_x', '20107-1.1_x', '20107-1.2_x', '20107-1.3_x', '20107-1.4_x', '20107-1.5_x', '20107-1.6_x', '20107-1.7_x', '20107-1.8_x', '20107-1.9_x', '20107-2.0_x', '20107-2.1_x', '20107-2.2_x', '20107-2.3_x', '20107-2.4_x', '20107-2.5_x', '20107-2.6_x', '20107-2.7_x', '20107-2.8_x', '20107-2.9_x', '20110-0.0_x', '20110-0.1_x', '20110-0.2_x', '20110-0.3_x', '20110-0.4_x', '20110-0.5_x', '20110-0.6_x', '20110-0.7_x', '20110-0.8_x', '20110-0.9_x', '20110-0.10_x', '20110-1.0_x', '20110-1.1_x', '20110-1.2_x', '20110-1.3_x', '20110-1.4_x', '20110-1.5_x', '20110-1.6_x', '20110-1.7_x', '20110-1.8_x', '20110-1.9_x', '20110-1.10_x', '20110-2.0_x', '20110-2.1_x', '20110-2.2_x', '20110-2.3_x', '20110-2.4_x', '20110-2.5_x', '20110-2.6_x', '20110-2.7_x', '20110-2.8_x', '20110-2.9_x', '20110-2.10_x', '20111-0.0_x', '20111-0.1_x', '20111-0.2_x', '20111-0.3_x', '20111-0.4_x', '20111-0.5_x', '20111-0.6_x', '20111-0.7_x', '20111-0.8_x', '20111-0.9_x', '20111-0.10_x', '20111-0.11_x', '20111-1.0_x', '20111-1.1_x', '20111-1.2_x', '20111-1.3_x', '20111-1.4_x', '20111-1.5_x', '20111-1.6_x', '20111-1.7_x', '20111-1.8_x', '20111-1.9_x', '20111-1.10_x', '20111-1.11_x', '20111-2.0_x', '20111-2.1_x', '20111-2.2_x', '20111-2.3_x', '20111-2.4_x', '20111-2.5_x', '20111-2.6_x', '20111-2.7_x', '20111-2.8_x', '20111-2.9_x', '20111-2.10_x', '20111-2.11_x', '20112-0.0_x', '20112-0.1_x', '20112-0.2_x', '20112-0.3_x', '20112-0.4_x', '20112-0.5_x', '20112-0.6_x', '20112-1.0_x', '20112-1.1_x', '20112-1.2_x', '20112-1.3_x', '20112-1.4_x', '20112-1.5_x', '20112-1.6_x', '20112-2.0_x', '20112-2.1_x', '20112-2.2_x', '20112-2.3_x', '20112-2.4_x', '20112-2.5_x', '20112-2.6_x', '20113-0.0_x', '20113-0.1_x', '20113-0.2_x', '20113-0.3_x', '20113-0.4_x', '20113-0.5_x', '20113-1.0_x', '20113-1.1_x', '20113-1.2_x', '20113-1.3_x', '20113-1.4_x', '20113-1.5_x', '20113-2.0_x', '20113-2.1_x', '20113-2.2_x', '20113-2.3_x', '20113-2.4_x', '20113-2.5_x', '20114-0.0_x', '20114-0.1_x', '20114-0.2_x', '20114-0.3_x', '20114-0.4_x', '20114-0.5_x', '20114-0.6_x', '20114-1.0_x', '20114-1.1_x', '20114-1.2_x', '20114-1.3_x', '20114-1.4_x', '20114-1.5_x', '20114-1.6_x', '20114-2.0_x', '20114-2.1_x', '20114-2.2_x', '20114-2.3_x', '20114-2.4_x', '20114-2.5_x', '20114-2.6_x', '20116-0.0_x', '20116-1.0_x', '20116-2.0_x', '20117-0.0_x', '20117-1.0_x', '20117-2.0_x', '20160-0.0_x', '20160-1.0_x', '20160-2.0_x', '20161-0.0_x', '20161-1.0_x', '20161-2.0_x', '30000-0.0_x', '30000-1.0_x', '30000-2.0_x', '30010-0.0_x', '30010-1.0_x', '30010-2.0_x', '30020-0.0_x', '30020-1.0_x', '30020-2.0_x', '30030-0.0_x', '30030-1.0_x', '30030-2.0_x', '30040-0.0_x', '30040-1.0_x', '30040-2.0_x', '30050-0.0_x', '30050-1.0_x', '30050-2.0_x', '30060-0.0_x', '30060-1.0_x', '30060-2.0_x', '30070-0.0_x', '30070-1.0_x', '30070-2.0_x', '30080-0.0_x', '30080-1.0_x', '30080-2.0_x', '30090-0.0_x', '30090-1.0_x', '30090-2.0_x', '30100-0.0_x', '30100-1.0_x', '30100-2.0_x', '30110-0.0_x', '30110-1.0_x', '30110-2.0_x', '30120-0.0_x', '30120-1.0_x', '30120-2.0_x', '30130-0.0_x', '30130-1.0_x', '30130-2.0_x', '30140-0.0_x', '30140-1.0_x', '30140-2.0_x', '30150-0.0_x', '30150-1.0_x', '30150-2.0_x', '30160-0.0_x', '30160-1.0_x', '30160-2.0_x', '30170-0.0_x', '30170-1.0_x', '30170-2.0_x', '30180-0.0_x', '30180-1.0_x', '30180-2.0_x', '30190-0.0_x', '30190-1.0_x', '30190-2.0_x', '30200-0.0_x', '30200-1.0_x', '30200-2.0_x', '30210-0.0_x', '30210-1.0_x', '30210-2.0_x', '30220-0.0_x', '30220-1.0_x', '30220-2.0_x', '30230-0.0_x', '30230-1.0_x', '30230-2.0_x', '30240-0.0_x', '30240-1.0_x', '30240-2.0_x', '30250-0.0_x', '30250-1.0_x', '30250-2.0_x', '30260-0.0_x', '30260-1.0_x', '30260-2.0_x', '30270-0.0_x', '30270-1.0_x', '30270-2.0_x', '30280-0.0_x', '30280-1.0_x', '30280-2.0_x', '30290-0.0_x', '30290-1.0_x', '30290-2.0_x', '30300-0.0_x', '30300-1.0_x', '30300-2.0_x', '30502-0.0_x', '30502-1.0_x', '30503-0.0_x', '30503-1.0_x', '30512-0.0_x', '30512-1.0_x', '30513-0.0_x', '30513-1.0_x', '30522-0.0_x', '30522-1.0_x', '30523-0.0_x', '30523-1.0_x', '30532-0.0_x', '30532-1.0_x', '30533-0.0_x', '30533-1.0_x', '40005-0.0_x', '40005-1.0_x', '40005-2.0_x', '40005-3.0_x', '40005-4.0_x', '40005-5.0_x', '40005-6.0_x', '40005-7.0_x', '40005-8.0_x', '40005-9.0_x', '40005-10.0_x', '40005-11.0_x', '40005-12.0_x', '40005-13.0_x', '40005-14.0_x', '40005-15.0_x', '40005-16.0_x', '40006-0.0_x', '40006-1.0_x', '40006-2.0_x', '40006-3.0_x', '40006-4.0_x', '40006-5.0_x', '40006-6.0_x', '40006-7.0_x', '40006-8.0_x', '40006-9.0_x', '40006-10.0_x', '40006-11.0_x', '40006-12.0_x', '40006-13.0_x', '40006-14.0_x', '40006-15.0_x', '40006-16.0_x', '40008-0.0_x', '40008-1.0_x', '40008-2.0_x', '40008-3.0_x', '40008-4.0_x', '40008-5.0_x', '40008-6.0_x', '40008-7.0_x', '40008-8.0_x', '40008-9.0_x', '40008-10.0_x', '40008-11.0_x', '40008-12.0_x', '40008-13.0_x', '40008-14.0_x', '40008-15.0_x', '40008-16.0_x', '40009-0.0_x', '40011-0.0_x', '40011-1.0_x', '40011-2.0_x', '40011-3.0_x', '40011-4.0_x', '40011-5.0_x', '40011-6.0_x', '40011-7.0_x', '40011-8.0_x', '40011-9.0_x', '40011-10.0_x', '40011-11.0_x', '40011-12.0_x', '40011-13.0_x', '40011-14.0_x', '40011-15.0_x', '40011-16.0_x', '40012-0.0_x', '40012-1.0_x', '40012-2.0_x', '40012-3.0_x', '40012-4.0_x', '40012-5.0_x', '40012-6.0_x', '40012-7.0_x', '40012-8.0_x', '40012-9.0_x', '40012-10.0_x', '40012-11.0_x', '40012-12.0_x', '40012-13.0_x', '40012-14.0_x', '40012-15.0_x', '40012-16.0_x', '40013-0.0_x', '40013-1.0_x', '40013-2.0_x', '40013-3.0_x', '40013-4.0_x', '40013-5.0_x', '40013-6.0_x', '40013-7.0_x', '40013-8.0_x', '40013-9.0_x', '40013-10.0_x', '40013-11.0_x', '40013-12.0_x', '40013-13.0_x', '40013-14.0_x', '40019-0.0_x', '40019-1.0_x', '40019-2.0_x', '40019-3.0_x', '40019-4.0_x', '40019-5.0_x', '40019-6.0_x', '40019-7.0_x', '40019-8.0_x', '40019-9.0_x', '40019-10.0_x', '40019-11.0_x', '40019-12.0_x', '40019-13.0_x', '40019-14.0_x', '40019-15.0_x', '40019-16.0_x', '41200-0.0_x', '41200-0.1_x', '41200-0.2_x', '41200-0.3_x', '41200-0.4_x', '41200-0.5_x', '41200-0.6_x', '41200-0.7_x', '41200-0.8_x', '41200-0.9_x', '41200-0.10_x', '41200-0.11_x', '41200-0.12_x', '41200-0.13_x', '41200-0.14_x', '41200-0.15_x', '41200-0.16_x', '41200-0.17_x', '41200-0.18_x', '41200-0.19_x', '41200-0.20_x', '41200-0.21_x', '41200-0.22_x', '41200-0.23_x', '41200-0.24_x', '41200-0.25_x', '41200-0.26_x', '41200-0.27_x', '41200-0.28_x', '41200-0.29_x', '41200-0.30_x', '41200-0.31_x', '41200-0.32_x', '41200-0.33_x', '41200-0.34_x', '41200-0.35_x', '41200-0.36_x', '41200-0.37_x', '41200-0.38_x', '41200-0.39_x', '41200-0.40_x', '41200-0.41_x', '41200-0.42_x', '41200-0.43_x', '41200-0.44_x', '41200-0.45_x', '41200-0.46_x', '41200-0.47_x', '41200-0.48_x', '41210-0.0_x', '41210-0.1_x', '41210-0.2_x', '41210-0.3_x', '41210-0.4_x', '41210-0.5_x', '41210-0.6_x', '41210-0.7_x', '41210-0.8_x', '41210-0.9_x', '41210-0.10_x', '41210-0.11_x', '41210-0.12_x', '41210-0.13_x', '41210-0.14_x', '41210-0.15_x', '41210-0.16_x', '41210-0.17_x', '41210-0.18_x', '41210-0.19_x', '41210-0.20_x', '41210-0.21_x', '41210-0.22_x', '41210-0.23_x', '41210-0.24_x', '41210-0.25_x', '41210-0.26_x', '41210-0.27_x', '41210-0.28_x', '41210-0.29_x', '41210-0.30_x', '41210-0.31_x', '41210-0.32_x', '41210-0.33_x', '41210-0.34_x', '41210-0.35_x', '41210-0.36_x', '41210-0.37_x', '41210-0.38_x', '41210-0.39_x', '41210-0.40_x', '41210-0.41_x', '41210-0.42_x', '41210-0.43_x', '41210-0.44_x', '41210-0.45_x', '41210-0.46_x', '41210-0.47_x', '41210-0.48_x', '41210-0.49_x', '41210-0.50_x', '41210-0.51_x', '41210-0.52_x', '41210-0.53_x', '41210-0.54_x', '41210-0.55_x', '41210-0.56_x', '41210-0.57_x', '41210-0.58_x', '41210-0.59_x', '41210-0.60_x', '41210-0.61_x', '41210-0.62_x', '41210-0.63_x', '41210-0.64_x', '41210-0.65_x', '41210-0.66_x', '41210-0.67_x', '41210-0.68_x', '41210-0.69_x', '41210-0.70_x', '41210-0.71_x', '41210-0.72_x', '41210-0.73_x', '41210-0.74_x', '41210-0.75_x', '41210-0.76_x', '41210-0.77_x', '41210-0.78_x', '41210-0.79_x', '41210-0.80_x', '41210-0.81_x', '41210-0.82_x', '41210-0.83_x', '41210-0.84_x', '41210-0.85_x', '864-0.0_x', '864-1.0_x', '864-2.0_x', '874-0.0_x', '874-1.0_x', '874-2.0_x', '884-0.0_x', '884-1.0_x', '884-2.0_x', '894-0.0_x', '894-1.0_x', '894-2.0_x', '904-0.0_x', '904-1.0_x', '904-2.0_x', '914-0.0_x', '914-1.0_x', '914-2.0_x', '924-0.0_x', '924-1.0_x', '924-2.0_x', '943-0.0_x', '943-1.0_x', '943-2.0_x', '971-0.0_x', '971-1.0_x', '971-2.0_x', '981-0.0_x', '981-1.0_x', '981-2.0_x', '991-0.0_x', '991-1.0_x', '991-2.0_x', '1001-0.0_x', '1001-1.0_x', '1001-2.0_x', '1011-0.0_x', '1011-1.0_x', '1011-2.0_x', '1021-0.0_x', '1021-1.0_x', '1021-2.0_x', '1050-0.0_x', '1050-1.0_x', '1050-2.0_x', '1060-0.0_x', '1060-1.0_x', '1060-2.0_x', '1070-0.0_x', '1070-1.0_x', '1070-2.0_x', '1080-0.0_x', '1080-1.0_x', '1080-2.0_x', '1090-0.0_x', '1090-1.0_x', '1090-2.0_x', '1100-0.0_x', '1100-1.0_x', '1100-2.0_x', '1160-0.0_x', '1160-1.0_x', '1160-2.0_x', '1170-0.0_x', '1170-1.0_x', '1170-2.0_x', '1180-0.0_x', '1180-1.0_x', '1180-2.0_x', '1190-0.0_x', '1190-1.0_x', '1190-2.0_x', '1200-0.0_x', '1200-1.0_x', '1200-2.0_x', '1210-0.0_x', '1210-1.0_x', '1210-2.0_x', '1220-0.0_x', '1220-1.0_x', '1220-2.0_x', '1239-0.0_x', '1239-1.0_x', '1239-2.0_x', '1249-0.0_x', '1249-1.0_x', '1249-2.0_x', '1269-0.0_x', '1269-1.0_x', '1269-2.0_x', '1279-0.0_x', '1279-1.0_x', '1279-2.0_x', '1289-0.0_x', '1289-1.0_x', '1289-2.0_x', '1299-0.0_x', '1299-1.0_x', '1299-2.0_x', '1309-0.0_x', '1309-1.0_x', '1309-2.0_x', '1319-0.0_x', '1319-1.0_x', '1319-2.0_x', '1329-0.0_x', '1329-1.0_x', '1329-2.0_x', '1339-0.0_x', '1339-1.0_x', '1339-2.0_x', '1349-0.0_x', '1349-1.0_x', '1349-2.0_x', '1359-0.0_x', '1359-1.0_x', '1359-2.0_x', '1369-0.0_x', '1369-1.0_x', '1369-2.0_x', '1379-0.0_x', '1379-1.0_x', '1379-2.0_x', '1389-0.0_x', '1389-1.0_x', '1389-2.0_x', '1408-0.0_x', '1408-1.0_x', '1408-2.0_x', '1418-0.0_x', '1418-1.0_x', '1418-2.0_x', '1428-0.0_x', '1428-1.0_x', '1428-2.0_x', '1438-0.0_x', '1438-1.0_x', '1438-2.0_x', '1448-0.0_x', '1448-1.0_x', '1448-2.0_x', '1458-0.0_x', '1458-1.0_x', '1458-2.0_x', '1468-0.0_x', '1468-1.0_x', '1468-2.0_x', '1478-0.0_x', '1478-1.0_x', '1478-2.0_x', '1488-0.0_x', '1488-1.0_x', '1488-2.0_x', '1498-0.0_x', '1498-1.0_x', '1498-2.0_x', '1508-0.0_x', '1508-1.0_x', '1508-2.0_x', '1518-0.0_x', '1518-1.0_x', '1518-2.0_x', '1528-0.0_x', '1528-1.0_x', '1528-2.0_x', '1538-0.0_x', '1538-1.0_x', '1538-2.0_x', '1548-0.0_x', '1548-1.0_x', '1548-2.0_x', '1568-0.0_x', '1568-1.0_x', '1568-2.0_x', '1578-0.0_x', '1578-1.0_x', '1578-2.0_x', '1588-0.0_x', '1588-1.0_x', '1588-2.0_x', '1598-0.0_x', '1598-1.0_x', '1598-2.0_x', '1608-0.0_x', '1608-1.0_x', '1608-2.0_x', '1618-0.0_x', '1618-1.0_x', '1618-2.0_x', '1628-0.0_x', '1628-1.0_x', '1628-2.0_x', '1717-0.0_x', '1717-1.0_x', '1717-2.0_x', '1727-0.0_x', '1727-1.0_x', '1727-2.0_x', '1737-0.0_x', '1737-1.0_x', '1737-2.0_x', '1747-0.0_x', '1747-1.0_x', '1747-2.0_x', '1757-0.0_x', '1757-1.0_x', '1757-2.0_x', '2129-0.0_x', '2129-1.0_x', '2129-2.0_x', '2139-0.0_x', '2139-1.0_x', '2139-2.0_x', '2149-0.0_x', '2149-1.0_x', '2149-2.0_x', '2159-0.0_x', '2159-1.0_x', '2159-2.0_x', '2267-0.0_x', '2267-1.0_x', '2267-2.0_x', '2277-0.0_x', '2277-1.0_x', '2277-2.0_x', '2624-0.0_x', '2624-1.0_x', '2624-2.0_x', '2634-0.0_x', '2634-1.0_x', '2634-2.0_x', '2644-0.0_x', '2644-1.0_x', '2644-2.0_x', '2654-0.0_x', '2654-1.0_x', '2654-2.0_x', '2664-0.0_x', '2664-1.0_x', '2664-2.0_x', '2714-0.0_x', '2714-1.0_x', '2714-2.0_x', '2724-0.0_x', '2724-1.0_x', '2724-2.0_x', '2867-0.0_x', '2867-1.0_x', '2867-2.0_x', '2877-0.0_x', '2877-1.0_x', '2877-2.0_x', '2887-0.0_x', '2887-1.0_x', '2887-2.0_x', '2897-0.0_x', '2897-1.0_x', '2897-2.0_x', '2907-0.0_x', '2907-1.0_x', '2907-2.0_x', '2926-0.0_x', '2926-1.0_x', '2926-2.0_x', '2936-0.0_x', '2936-1.0_x', '2936-2.0_x', '3436-0.0_x', '3436-1.0_x', '3436-2.0_x', '3446-0.0_x', '3446-1.0_x', '3446-2.0_x', '3456-0.0_x', '3456-1.0_x', '3456-2.0_x', '3466-0.0_x', '3466-1.0_x', '3466-2.0_x', '3476-0.0_x', '3476-1.0_x', '3476-2.0_x', '3486-0.0_x', '3486-1.0_x', '3486-2.0_x', '3496-0.0_x', '3496-1.0_x', '3496-2.0_x', '3506-0.0_x', '3506-1.0_x', '3506-2.0_x', '3637-0.0_x', '3637-1.0_x', '3637-2.0_x', '3647-0.0_x', '3647-1.0_x', '3647-2.0_x', '3669-0.0_x', '3669-1.0_x', '3669-2.0_x', '3680-0.0_x', '3680-1.0_x', '3680-2.0_x', '3700-0.0_x', '3700-1.0_x', '3700-2.0_x', '3710-0.0_x', '3710-1.0_x', '3710-2.0_x', '3720-0.0_x', '3720-1.0_x', '3720-2.0_x', '3731-0.0_x', '3731-1.0_x', '3731-2.0_x', '3859-0.0_x', '3859-1.0_x', '3859-2.0_x', '4407-0.0_x', '4407-1.0_x', '4407-2.0_x', '4418-0.0_x', '4418-1.0_x', '4418-2.0_x', '4429-0.0_x', '4429-1.0_x', '4429-2.0_x', '4440-0.0_x', '4440-1.0_x', '4440-2.0_x', '4451-0.0_x', '4451-1.0_x', '4451-2.0_x', '4462-0.0_x', '4462-1.0_x', '4462-2.0_x', '5959-0.0_x', '5959-1.0_x', '5959-2.0_x', '6144-0.0_x', '6144-0.1_x', '6144-0.2_x', '6144-0.3_x', '6144-1.0_x', '6144-1.1_x', '6144-1.2_x', '6144-1.3_x', '6144-2.0_x', '6144-2.1_x', '6144-2.2_x', '6144-2.3_x', '6157-0.0_x', '6157-0.1_x', '6157-0.2_x', '6157-0.3_x', '6157-1.0_x', '6157-1.1_x', '6157-1.2_x', '6157-1.3_x', '6157-2.0_x', '6157-2.1_x', '6157-2.2_x', '6157-2.3_x', '6158-0.0_x', '6158-0.1_x', '6158-0.2_x', '6158-0.3_x', '6158-1.0_x', '6158-1.1_x', '6158-1.2_x', '6158-1.3_x', '6158-2.0_x', '6158-2.1_x', '6158-2.2_x', '6158-2.3_x', '6162-0.0_x', '6162-0.1_x', '6162-0.2_x', '6162-0.3_x', '6162-1.0_x', '6162-1.1_x', '6162-1.2_x', '6162-1.3_x', '6162-2.0_x', '6162-2.1_x', '6162-2.2_x', '6162-2.3_x', '6164-0.0_x', '6164-0.1_x', '6164-0.2_x', '6164-0.3_x', '6164-0.4_x', '6164-1.0_x', '6164-1.1_x', '6164-1.2_x', '6164-1.3_x', '6164-1.4_x', '6164-2.0_x', '6164-2.1_x', '6164-2.2_x', '6164-2.3_x', '6164-2.4_x', '6183-0.0_x', '6183-1.0_x', '6183-2.0_x', '6194-0.0_x', '6194-1.0_x', '6194-2.0_x', '10115-0.0_x', '10767-0.0_x', '10776-0.0_x', '10818-0.0_x', '10827-0.0_x', '10853-0.0_x', '10855-0.0_x', '10855-0.1_x', '10855-0.2_x', '10855-0.3_x', '10895-0.0_x', '10912-0.0_x', '10953-0.0_x', '10962-0.0_x', '10971-0.0_x', '20162-0.0_x', '20162-1.0_x', '20162-2.0_x', '22032-0.0_x', '22033-0.0_x', '22034-0.0_x', '22035-0.0_x', '22036-0.0_x', '22037-0.0_x', '22038-0.0_x', '22039-0.0_x', '22040-0.0_x'])
prediabetes_with_features

,eid,21-0.0,21-1.0,21-2.0,31-0.0,34-0.0,35-0.0,35-1.0,35-2.0,36-0.0,...,40021-7.0,40021-8.0,40021-9.0,40021-10.0,40021-11.0,40021-12.0,40021-13.0,40021-14.0,40021-15.0,40021-16.0
0,4863545,1.0,NaN,NaN,1,1942,1.0,NaN,NaN,1056.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3440845,1.0,NaN,NaN,0,1950,1.0,NaN,NaN,3157.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1191090,1.0,NaN,NaN,0,1954,1.0,NaN,NaN,1044.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3087664,1.0,NaN,NaN,1,1944,1.0,NaN,NaN,1040.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2195757,1.0,NaN,NaN,0,1958,1.0,NaN,NaN,1039.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9939,5612713,1.0,NaN,NaN,1,1958,1.0,NaN,NaN,3156.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9940,6022397,1.0,NaN,NaN,1,1945,1.0,NaN,NaN,2818.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9941,5011216,1.0,NaN,NaN,0,1947,1.0,NaN,NaN,3155.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9942,3482443,1.0,NaN,NaN,1,1950,1.0,NaN,NaN,1045.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9943,2702146,1.0,NaN,NaN,0,1941,1.0,NaN,NaN,3156.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below we show that the shape has decreased by the number of columns with an x at the end (1652).

In [8]:
prediabetes_with_features.shape

(9944, 11059)

The next step is to rename all the columns ending in y such that we drop the "_y" pattern from them so that all columns are kept in the same form (UDI number, with exception of eid)

In [9]:
prediabetes_with_features.columns = prediabetes_with_features.columns.str.replace('_y','')
prediabetes_with_features

,eid,21-0.0,21-1.0,21-2.0,31-0.0,34-0.0,35-0.0,35-1.0,35-2.0,36-0.0,...,40021-7.0,40021-8.0,40021-9.0,40021-10.0,40021-11.0,40021-12.0,40021-13.0,40021-14.0,40021-15.0,40021-16.0
0,4863545,1.0,NaN,NaN,1,1942,1.0,NaN,NaN,1056.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3440845,1.0,NaN,NaN,0,1950,1.0,NaN,NaN,3157.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1191090,1.0,NaN,NaN,0,1954,1.0,NaN,NaN,1044.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3087664,1.0,NaN,NaN,1,1944,1.0,NaN,NaN,1040.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2195757,1.0,NaN,NaN,0,1958,1.0,NaN,NaN,1039.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9939,5612713,1.0,NaN,NaN,1,1958,1.0,NaN,NaN,3156.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9940,6022397,1.0,NaN,NaN,1,1945,1.0,NaN,NaN,2818.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9941,5011216,1.0,NaN,NaN,0,1947,1.0,NaN,NaN,3155.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9942,3482443,1.0,NaN,NaN,1,1950,1.0,NaN,NaN,1045.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9943,2702146,1.0,NaN,NaN,0,1941,1.0,NaN,NaN,3156.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below we show all patients who are diagnosed with diabetes when their measurements are taken and we need to cut them out of the dataframe.

In [10]:
already_diabetic_patients_at_measurement = prediabetes_with_features[prediabetes_with_features['2443-0.0'] == 1]
already_diabetic_patients_at_measurement

,eid,21-0.0,21-1.0,21-2.0,31-0.0,34-0.0,35-0.0,35-1.0,35-2.0,36-0.0,...,40021-7.0,40021-8.0,40021-9.0,40021-10.0,40021-11.0,40021-12.0,40021-13.0,40021-14.0,40021-15.0,40021-16.0
14,2425377,1.0,NaN,NaN,0,1946,1.0,NaN,NaN,2818.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,5512282,3.0,NaN,NaN,1,1940,1.0,NaN,NaN,1044.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,5724786,1.0,NaN,NaN,1,1940,1.0,NaN,NaN,1057.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,4256846,3.0,NaN,1.0,1,1955,1.0,NaN,1.0,1039.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,2189918,1.0,NaN,NaN,0,1961,1.0,NaN,NaN,1039.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9640,1665367,1.0,NaN,NaN,1,1946,1.0,NaN,NaN,1053.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9675,2739978,1.0,NaN,NaN,0,1941,1.0,NaN,NaN,1056.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9689,5684156,3.0,NaN,NaN,0,1940,1.0,NaN,NaN,1047.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9779,5209790,1.0,NaN,NaN,1,1950,1.0,NaN,NaN,2815.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9863,4447186,1.0,NaN,NaN,0,1955,1.0,NaN,NaN,1049.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below we make a list of the eid numbers.

In [11]:
dfToList_already_diabetic_at_start = already_diabetic_patients_at_measurement['eid'].tolist()
dfToList_already_diabetic_at_start

[2425377,
 5512282,
 5724786,
 4256846,
 2189918,
 2546801,
 1706511,
 4387781,
 3462831,
 2817041,
 1072495,
 2268893,
 4683307,
 2748729,
 4623980,
 5605075,
 5275213,
 1146097,
 4821929,
 5415675,
 2429507,
 3265844,
 4578103,
 1202644,
 2586223,
 2763479,
 3593711,
 2480161,
 1526262,
 2268137,
 4861030,
 2238033,
 4496514,
 1731265,
 3829166,
 2883116,
 5708973,
 2693446,
 4246045,
 3857759,
 2484797,
 2994186,
 4745503,
 1338136,
 5905564,
 1336221,
 4270479,
 3342350,
 2225944,
 1328378,
 2500901,
 2850077,
 2219400,
 2203109,
 4690101,
 3264433,
 1637230,
 1457680,
 5083386,
 5011490,
 2591687,
 1404125,
 1936742,
 4779249,
 2839824,
 3230080,
 3669628,
 4983552,
 1067255,
 1895718,
 2648322,
 1424752,
 2693862,
 1117612,
 4157944,
 3836870,
 5402929,
 5903604,
 3415657,
 3676477,
 1105902,
 2650506,
 4791134,
 2862531,
 4876864,
 3348953,
 3392380,
 2233450,
 4729030,
 2191774,
 5311017,
 4641634,
 5878402,
 2031987,
 4366316,
 1340066,
 2344091,
 1568527,
 2997821,
 5665933,
 4001565,
 2233800,
 4305596,
 4208130,
 3094464,
 2491764,
 2666552,
 4188627,
 1116102,
 3070446,
 5690254,
 1963418,
 4228535,
 4949280,
 4181283,
 5148284,
 3470907,
 4242645,
 3669889,
 2551317,
 1858957,
 5442492,
 3936533,
 3867154,
 2745944,
 2641186,
 1829255,
 5861502,
 1055677,
 5781143,
 2840954,
 1102492,
 6022830,
 4544115,
 1872446,
 1801554,
 5737289,
 4860039,
 1718079,
 1494306,
 5504307,
 4182455,
 4383421,
 4936883,
 3188307,
 4223933,
 3547068,
 2335695,
 1609289,
 1029688,
 5969895,
 3100633,
 5475066,
 1926625,
 3816162,
 5617554,
 5912305,
 3993197,
 3798680,
 5543343,
 5451511,
 1553277,
 2908413,
 5983540,
 3013836,
 4908590,
 5244730,
 3316188,
 3781808,
 1657339,
 5448810,
 2343298,
 2503426,
 2312234,
 4424579,
 3113221,
 5730994,
 3734622,
 3559126,
 3457048,
 1796260,
 1395277,
 4175499,
 2064376,
 5561845,
 1665367,
 2739978,
 5684156,
 5209790,
 4447186]

# Now that we have all 190 patients who need to be cut from the dataframe, we show the construction of the dataframe of 5431 patients. First we show that the prediabetic patients we found are mostly not overlapping with the currently defined patients we classified as prediabetic.

Below we import all patients who have an ICD code of prediabetic.

In [12]:
prediabetes_with_dates = pd.read_csv('patients_with_prediabetes_with_dates')
prediabetes_with_dates = prediabetes_with_dates.drop(columns = ['Unnamed: 0'])
prediabetes_with_dates

,eid,ins_index,arr_index,level,diag_icd9,diag_icd9_nb,diag_icd10,diag_icd10_nb,epistart
0,1006294,37,3,2,NaN,NaN,R739,NaN,12/02/2018
1,1007537,0,3,2,NaN,NaN,R730,NaN,06/06/2019
2,1008393,2,1,2,NaN,NaN,R739,NaN,26/04/2011
3,1010613,0,0,1,NaN,NaN,R739,NaN,07/06/2010
4,1011449,12,5,2,NaN,NaN,R730,NaN,03/02/2020
...,...,...,...,...,...,...,...,...,...
3794,6017167,3,3,2,NaN,NaN,R730,NaN,09/12/2019
3795,6019270,5,9,2,NaN,NaN,R730,NaN,24/09/2020
3796,6020217,7,12,2,NaN,NaN,R730,NaN,19/08/2020
3797,6021943,1,3,2,NaN,NaN,R739,NaN,11/08/2020
3798,6022830,0,1,2,NaN,NaN,R730,NaN,26/06/2006

Below we show the number of actual patients in this new sample group.

In [13]:
prediabetes_with_dates.drop_duplicates(subset = 'eid')

,eid,ins_index,arr_index,level,diag_icd9,diag_icd9_nb,diag_icd10,diag_icd10_nb,epistart
0,1006294,37,3,2,NaN,NaN,R739,NaN,12/02/2018
1,1007537,0,3,2,NaN,NaN,R730,NaN,06/06/2019
2,1008393,2,1,2,NaN,NaN,R739,NaN,26/04/2011
3,1010613,0,0,1,NaN,NaN,R739,NaN,07/06/2010
4,1011449,12,5,2,NaN,NaN,R730,NaN,03/02/2020
...,...,...,...,...,...,...,...,...,...
3794,6017167,3,3,2,NaN,NaN,R730,NaN,09/12/2019
3795,6019270,5,9,2,NaN,NaN,R730,NaN,24/09/2020
3796,6020217,7,12,2,NaN,NaN,R730,NaN,19/08/2020
3797,6021943,1,3,2,NaN,NaN,R739,NaN,11/08/2020
3798,6022830,0,1,2,NaN,NaN,R730,NaN,26/06/2006

Below we make a list of all eid numbers for these patients.

In [14]:
dfToList_prediabetes_with_dates = prediabetes_with_dates['eid'].tolist()
dfToList_prediabetes_with_dates

[1006294,
 1007537,
 1008393,
 1010613,
 1011449,
 1011449,
 1011449,
 1011449,
 1011449,
 1011449,
 1011962,
 1011962,
 1013036,
 1013036,
 1013036,
 1014004,
 1017269,
 1019396,
 1019396,
 1019396,
 1019396,
 1020786,
 1020786,
 1021189,
 1022728,
 1024680,
 1025738,
 1025738,
 1026846,
 1029208,
 1029688,
 1030702,
 1032950,
 1040790,
 1044718,
 1044919,
 1047778,
 1048696,
 1049423,
 1050516,
 1050516,
 1050516,
 1050674,
 1051881,
 1053505,
 1053846,
 1055445,
 1055591,
 1055677,
 1055794,
 1058522,
 1062014,
 1067255,
 1067321,
 1067321,
 1067321,
 1070410,
 1070616,
 1072495,
 1073132,
 1074343,
 1075479,
 1076801,
 1078042,
 1078042,
 1078115,
 1079176,
 1086312,
 1087841,
 1088760,
 1088760,
 1092549,
 1092549,
 1094789,
 1094789,
 1095516,
 1095516,
 1096278,
 1096278,
 1097144,
 1097522,
 1099911,
 1102492,
 1102726,
 1105902,
 1105902,
 1106809,
 1106809,
 1111155,
 1111802,
 1116010,
 1116102,
 1116102,
 1117612,
 1119987,
 1120236,
 1121406,
 1121406,
 1121406,
 1121406,
 1121406,
 1121406,
 1121406,
 1122666,
 1122666,
 1122666,
 1124894,
 1126174,
 1127366,
 1127366,
 1130822,
 1130878,
 1132782,
 1132794,
 1132794,
 1132794,
 1132794,
 1132794,
 1136749,
 1137321,
 1137321,
 1141511,
 1142861,
 1146097,
 1147345,
 1148405,
 1149731,
 1150857,
 1151866,
 1151866,
 1154699,
 1154973,
 1154973,
 1156477,
 1157230,
 1157363,
 1157575,
 1157575,
 1157587,
 1160037,
 1160759,
 1162102,
 1167926,
 1171872,
 1171872,
 1177485,
 1179377,
 1181760,
 1183329,
 1183329,
 1185649,
 1189129,
 1189129,
 1189129,
 1189129,
 1189232,
 1190464,
 1190719,
 1191748,
 1192303,
 1193470,
 1202644,
 1204343,
 1205613,
 1207223,
 1209629,
 1209903,
 1218570,
 1221398,
 1225942,
 1225942,
 1227760,
 1233179,
 1234295,
 1235714,
 1236685,
 1237421,
 1239343,
 1245115,
 1245115,
 1247117,
 1247976,
 1247976,
 1250452,
 1251375,
 1251375,
 1251375,
 1261399,
 1261911,
 1262248,
 1262248,
 1264302,
 1269158,
 1278442,
 1279042,
 1279042,
 1279194,
 1280918,
 1280918,
 1283674,
 1283674,
 1283728,
 1285077,
 1289881,
 1289881,
 1294336,
 1299761,
 1299761,
 1308937,
 1313043,
 1313043,
 1318514,
 1323719,
 1325310,
 1327594,
 1327594,
 1327594,
 1328378,
 1332493,
 1333339,
 1333520,
 1336221,
 1337577,
 1338136,
 1338737,
 1340066,
 1340163,
 1341229,
 1341472,
 1341472,
 1341578,
 1343277,
 1345140,
 1345386,
 1345386,
 1345386,
 1345386,
 1346466,
 1350792,
 1355951,
 1355951,
 1355951,
 1355951,
 1357422,
 1357422,
 1369885,
 1370022,
 1370022,
 1378084,
 1379274,
 1379274,
 1380404,
 1384041,
 1386666,
 1387224,
 1390964,
 1391867,
 1394958,
 1395277,
 1395475,
 1395841,
 1397141,
 1397418,
 1397421,
 1400090,
 1400090,
 1400275,
 1404125,
 1406712,
 1407957,
 1409276,
 1412407,
 1413676,
 1414086,
 1415390,
 1418376,
 1418535,
 1418925,
 1423963,
 1424711,
 1424711,
 1424752,
 1424752,
 1426069,
 1427747,
 1428800,
 1433088,
 1434405,
 1434523,
 1434523,
 1436188,
 1437779,
 1437779,
 1437779,
 1437841,
 1438017,
 1438017,
 1438017,
 1443364,
 1443994,
 1445348,
 1445348,
 1452542,
 1453707,
 1454434,
 1454434,
 1455041,
 1455041,
 1455265,
 1455265,
 1456898,
 1456898,
 1457680,
 1459141,
 1462980,
 1463906,
 1465419,
 1466154,
 1466714,
 1466714,
 1467746,
 1472861,
 1473346,
 1476060,
 1476060,
 1477718,
 1478600,
 1478600,
 1478600,
 1478693,
 1480361,
 1482470,
 1486141,
 1491640,
 1492635,
 1492635,
 1494306,
 1495036,
 1495036,
 1495036,
 1498874,
 1499298,
 1501125,
 1502340,
 1502652,
 1508228,
 1509243,
 1509243,
 1509243,
 1516312,
 1516603,
 1517049,
 1523255,
 1523255,
 1523255,
 1523339,
 1526262,
 1531045,
 1531582,
 1532268,
 1532705,
 1533628,
 1538208,
 1540580,
 1540730,
 1542752,
 1542752,
 1542875,
 1549002,
 1549578,
 1549578,
 1553277,
 1556017,
 1556017,
 1556674,
 1557857,
 1557865,
 1559065,
 1559065,
 1559065,
 1559356,
 1560590,
 1560590,
 1568527,
 1569393,
 1569751,
 1569751,
 1571897,
 1571897,
 1572989,
 1574400,
 1574649,
 1574649,
 1575033,
 1577681,
 1578647,
 1579449,
 1586770,
 1596692,
 1597162,
 1597744,
 1598932,
 1603149,
 1603559,
 1603906,
 1609289,
 1609825,
 1610495,
 1612122,
 1612122,
 1613234,
 1620307,
 1623975,
 1628252,
 1629563,
 1635195,
 1635195,
 1636137,
 1636933,
 1637230,
 1638036,
 1639282,
 1642085,
 1642615,
 1643007,
 1643007,
 1643854,
 1643854,
 1645483,
 1645510,
 1648812,
 1649632,
 1650025,
 1650025,
 1650025,
 1656085,
 1656085,
 1657339,
 1659904,
 1662270,
 1663754,
 1663982,
 1665367,
 1669844,
 1669844,
 1670223,
 1673178,
 1675484,
 1676923,
 1676923,
 1680934,
 1685368,
 1685905,
 1685905,
 1685905,
 1685905,
 1686848,
 1686848,
 1686848,
 1686848,
 1686848,
 1686848,
 1692217,
 1696778,
 1697135,
 1697135,
 1697135,
 1697882,
 1699029,
 1699029,
 1699029,
 1700858,
 1702481,
 1706511,
 1707813,
 1707813,
 1709471,
 1710855,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1714413,
 1714413,
 1714631,
 1715378,
 1718079,
 1720020,
 1720020,
 1720020,
 1721346,
 1726459,
 1728559,
 1729605,
 1731265,
 1731747,
 1739525,
 1739815,
 1739815,
 1739815,
 1739815,
 1739815,
 1739909,
 1742737,
 1742737,
 1742737,
 1742737,
 1743905,
 1745376,
 1749790,
 1754641,
 1754910,
 1754910,
 1757056,
 1760471,
 1762542,
 1762894,
 1763405,
 1763405,
 1764319,
 1769971,
 1770018,
 1774177,
 1775159,
 1776170,
 1783161,
 1784019,
 1784019,
 1784660,
 1790146,
 1791558,
 1793360,
 1795052,
 1795431,
 1795431,
 1796260,
 1797980,
 1799202,
 1800698,
 1801554,
 1801554,
 1806832,
 1809227,
 1821283,
 1825647,
 1825647,
 1827755,
 1827755,
 1828509,
 1829255,
 1829299,
 1830860,
 1835369,
 1845648,
 1847804,
 1847804,
 1851879,
 1851879,
 1851879,
 1855902,
 1856290,
 1856929,
 1856929,
 1858625,
 1858957,
 1858957,
 1866177,
 1866333,
 1866333,
 1868756,
 1872446,
 1875764,
 1877420,
 1877610,
 1890549,
 1890549,
 1890549,
 1891539,
 1895718,
 1899449,
 1899449,
 1899763,
 1901977,
 1906737,
 1906737,
 1906737,
 1910314,
 1910314,
 1910314,
 1910736,
 1910846,
 1912065,
 1912065,
 1912411,
 1913672,
 1915956,
 1916322,
 1916536,
 1917396,
 1921898,
 1922394,
 1923193,
 1926625,
 1929587,
 1930313,
 1931859,
 1932055,
 1932351,
 1934709,
 1936742,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937489,
 1939018,
 1942086,
 1943774,
 1943774,
 1943774,
 1948608,
 1949968,
 1949968,
 1954071,
 1957700,
 1958031,
 1958031,
 1958031,
 1959726,
 1959726,
 1960466,
 1963418,
 1963418,
 1963418,
 1963598,
 1964403,
 1965575,
 1965575,
 1965575,
 1965575,
 1965575,
 1968191,
 1968191,
 1968500,
 1968500,
 1974899,
 1974899,
 1980989,
 1983806,
 1983865,
 1983865,
 1983865,
 1983865,
 1983865,
 1983865,
 1983865,
 1983865,
 1985046,
 1985046,
 1985965,
 1986143,
 1986143,
 1989122,
 1994479,
 1998845,
 1999383,
 1999851,
 2001834,
 2009252,
 2009252,
 2009252,
 2009252,
 2009252,
 2011185,
 2013323,
 2013323,
 2013323,
 2013323,
 2013755,
 2013755,
 2013755,
 2013755,
 2013755,
 2013755,
 2013755,
 2014193,
 2018546,
 2023360,
 2024343,
 2024396,
 2024810,
 2031128,
 2031555,
 2031987,
 2032289,
 2032289,
 2039070,
 2041867,
 2042084,
 2042084,
 2043970,
 2043970,
 2052204,
 2052204,
 2052204,
 2052204,
 2052204,
 2055612,
 2057624,
 2058641,
 2058641,
 2064376,
 2064762,
 2065085,
 2065268,
 2065268,
 2065268,
 2078689,
 2081542,
 2084601,
 2087946,
 2090070,
 2090821,
 2094074,
 2095055,
 2095055,
 2097259,
 2105756,
 2106404,
 2108908,
 2110820,
 2110820,
 2110820,
 2113259,
 2113599,
 2115797,
 2117956,
 2117956,
 2117956,
 2119049,
 2119049,
 2119049,
 2119049,
 2119049,
 2119049,
 2119049,
 2119049,
 2119049,
 2119049,
 2121339,
 2121339,
 2122866,
 2126187,
 2126187,
 2126187,
 2129392,
 2129392,
 2130228,
 2130622,
 2131108,
 2131505,
 2133533,
 2134907,
 2134907,
 2136296,
 2136296,
 2136792,
 2136792,
 2141500,
 2142353,
 2142763,
 2142763,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2144450,
 2148726,
 2148726,
 2148726,
 2148863,
 2150012,
 2153925,
 2153925,
 2153925,
 2160215,
 2160215,
 2160215,
 2166908,
 2174277,
 2179330,
 2179330,
 2181809,
 2181809,
 2183395,
 2189058,
 2189918,
 2191774,
 2191996,
 2195519,
 2195647,
 2196483,
 2198369,
 2201015,
 2201326,
 2201391,
 2201391,
 2203109,
 2204484,
 2208473,
 2208977,
 2209372,
 2209372,
 2209542,
 2219400,
 2220557,
 2220557,
 2222686,
 2222686,
 2225944,
 2227908,
 2227908,
 2227908,
 2228286,
 2231541,
 2231541,
 2233450,
 2233800,
 2235092,
 2238033,
 2240378,
 2241590,
 2242000,
 2244083,
 2244083,
 2244083,
 2244905,
 2247766,
 2256022,
 2256858,
 2257062,
 2257062,
 2257062,
 2257062,
 2257062,
 2257062,
 2257062,
 2257062,
 2257062,
 2257062,
 2257062,
 2259101,
 2259961,
 2262386,
 2262386,
 2264280,
 2268137,
 2268893,
 2269991,
 2273479,
 2278976,
 2282383,
 2283327,
 2284216,
 2286428,
 2286428,
 2286428,
 2286428,
 2289186,
 2290447,
 2290789,
 2290883,
 2296805,
 2297150,
 2297150,
 2297465,
 2297570,
 2300870,
 2300870,
 2302263,
 2307156,
 2310446,
 2310627,
 2311692,
 2312234,
 2313277,
 2313277,
 2313277,
 2315013,
 2315013,
 2315013,
 2315013,
 2315013,
 2315761,
 2315761,
 2319445,
 2320323,
 2320323,
 2324716,
 2325334,
 2325334,
 2325334,
 2325334,
 2325334,
 2325762,
 2326039,
 2326389,
 2329171,
 2329774,
 2330246,
 2330246,
 2331297,
 2332383,
 2335616,
 2335616,
 ...]

Below we import all patients who are involved in our cohorts, whether unknown or known to be diabetic or not progress to diabetes or neither.

In [15]:
prediabetes_for_feature_selection = pd.read_csv('prediabetes_df_after_data_manipulation_ready_for_feature_selection_with_episodes_data_keeping_all_prediabetic_patients')
prediabetes_for_feature_selection = prediabetes_for_feature_selection.drop(columns = 'Unnamed: 0')
prediabetes_for_feature_selection

,eid,31-0.0,48-0.0,49-0.0,50-0.0,51-0.0,102-0.0,102-0.1,137-0.0,189-0.0,...,6144-0.0_1.0,6144-0.0_2.0,6144-0.0_3.0,6144-0.0_4.0,6144-0.0_5.0,22035-0.0_0.0,22035-0.0_1.0,22036-0.0_0.0,22036-0.0_1.0,target
0,1797967,1,0.569697,0.588506,0.856436,0.867470,0.411043,0.429530,0.000000,0.452587,...,0,0,0,1,0,0,1,0,1,0
1,1945240,1,0.678788,0.620690,0.871287,0.867470,0.435583,0.469799,0.407407,0.462753,...,0,0,0,0,1,1,0,0,1,0
2,1589923,1,0.509091,0.517241,0.871287,0.765060,0.429448,0.476510,0.037037,0.830111,...,0,0,0,0,1,0,1,0,1,0
3,4899746,0,0.587879,0.643678,0.772277,0.740964,0.441718,0.630872,0.037037,0.555037,...,0,0,0,0,1,1,0,0,1,0
4,4863545,1,0.600000,0.551724,0.787129,0.740964,0.417178,0.429530,0.037037,0.656086,...,0,0,0,0,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17195,3241124,1,0.690909,0.637931,0.871287,0.873494,0.601227,0.664430,0.074074,0.387725,...,0,0,0,0,1,1,0,1,0,0
17196,6022397,1,0.545455,0.551724,0.841584,0.849398,0.380368,0.395973,0.185185,0.620813,...,0,0,0,1,0,1,0,1,0,1
17197,5011216,0,0.600000,0.655172,0.787129,0.746988,0.447853,0.476510,0.000000,0.512179,...,0,0,0,0,1,0,1,0,1,1
17198,3482443,1,0.527273,0.545977,0.821782,0.837349,0.435583,0.469799,0.148148,0.460704,...,0,0,0,0,1,0,0,0,0,0
17199,2702146,0,0.454545,0.545977,0.801980,0.746988,0.484663,0.557047,0.259259,0.551410,...,0,0,0,0,1,1,0,0,1,0

Below we show that only a few of the patients with known prediabetes ICD codes are found to be part of our cohort. This could be good if we can find more patients not progressing to diabetes within this group.

In [16]:
prediabetes_for_feature_selection_with_dates = prediabetes_for_feature_selection[prediabetes_for_feature_selection.eid.isin(dfToList_prediabetes_with_dates)]
prediabetes_for_feature_selection_with_dates

,eid,31-0.0,48-0.0,49-0.0,50-0.0,51-0.0,102-0.0,102-0.1,137-0.0,189-0.0,...,6144-0.0_1.0,6144-0.0_2.0,6144-0.0_3.0,6144-0.0_4.0,6144-0.0_5.0,22035-0.0_0.0,22035-0.0_1.0,22036-0.0_0.0,22036-0.0_1.0,target
133,5490470,0,0.460606,0.626437,0.806931,0.777108,0.417178,0.449664,0.111111,0.314701,...,0,0,0,0,1,0,0,0,0,0
204,5432688,1,0.569697,0.545977,0.876238,0.867470,0.435583,0.469799,0.185185,0.745740,...,0,0,0,0,1,1,0,0,1,0
210,2479180,1,0.648485,0.626437,0.861386,0.831325,0.521472,0.563758,0.851852,0.374262,...,0,0,0,1,0,1,0,1,0,1
247,3990434,0,0.618182,0.626437,0.841584,0.843373,0.411043,0.449664,0.037037,0.635502,...,0,0,0,0,1,0,1,0,1,0
445,3656363,1,0.690909,0.672414,0.866337,0.867470,0.368098,0.395973,0.185185,0.265942,...,0,0,0,0,1,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17031,2362858,0,0.490909,0.614943,0.752475,0.765060,0.368098,0.469799,0.185185,0.861580,...,0,0,0,0,1,1,0,1,0,0
17046,3280304,1,0.575758,0.534483,0.841584,0.843373,0.282209,0.308725,0.037037,0.066784,...,0,0,0,0,1,0,0,0,0,0
17051,1917396,0,0.672727,0.764368,0.816832,0.825301,0.484663,0.557047,0.148148,0.288891,...,0,0,0,1,0,1,0,1,0,1
17082,3468020,1,0.557576,0.568966,0.871287,0.867470,0.361963,0.389262,0.148148,0.372911,...,0,0,0,0,1,1,0,0,1,0
17162,1477718,1,0.630303,0.603448,0.910891,0.855422,0.380368,0.382550,0.037037,0.355835,...,0,0,0,0,1,0,1,0,1,0

# Next we need to classify all prediabetic patients

Below we import our dataframe so that we can find the patients who have prediabetes to start the study.

In [17]:
merged_for_prediabetes_before_drop_of_diabetics = pd.read_csv('merged_prediabetes_information')
merged_for_prediabetes_before_drop_of_diabetics

,Unnamed: 0,eid,53-0.0,53-1.0,53-2.0,74-0.0,74-1.0,74-2.0,2443-0.0,2443-1.0,...,20002-2.24,20002-2.25,20002-2.26,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
0,0,2075783,2008-06-06,NaN,NaN,3.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,4345775,2008-06-13,NaN,NaN,5.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,5686018,2008-02-09,2012-09-24,NaN,5.0,5.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3907457,2008-01-31,NaN,NaN,4.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,3160513,2008-09-08,NaN,2017-12-06,3.0,NaN,5.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502499,502499,2054859,2007-11-03,NaN,NaN,2.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502500,502500,3268102,2009-08-14,NaN,NaN,5.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502501,502501,2793268,2009-10-15,NaN,NaN,3.0,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502502,502502,4922013,2008-10-18,NaN,NaN,2.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502503,502503,4036069,2010-05-06,NaN,NaN,3.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below we rename some columns so that we know exactly what they are.

In [18]:
merged_for_prediabetes_before_drop_of_diabetics = merged_for_prediabetes_before_drop_of_diabetics.rename(columns={'74-0.0' : 'Fasting Time 1', '74-1.0' : 'Fasting Time 2', '74-2.0' : 'Fasting Time 3', '2443-0.0' : 'Diabetes Diagnosed 1', '2443-1.0' : 'Diabetes Diagnosed 2', '2443-2.0' : 'Diabetes Diagnosed 3', '2976-0.0' : 'Age Diabetes Diagnosed 1', '2976-1.0' : 'Age Diabetes Diagnosed 2', '2976-2.0' : 'Age Diabetes Diagnosed 3', '4041-0.0' : 'Gestational Diabetes Only 1', '4041-1.0' : 'Gestational Diabetes Only 2', '4041-2.0' : 'Gestational Diabetes Only 3',  '30740-0.0': "Blood Glucose Level 1", '30740-1.0': "Blood Glucose level 2", '30741-0.0': "Glucose Assay Date 1", '30741-1.0': "Glucose Assay Date 2", '30750-0.0': "HbA1c 1", '30750-1.0': "HbA1c 2", '30751-0.0': "HbA1c Assay Date 1", '30751-1.0': "HbA1c Assay Date 2"})
merged_for_prediabetes_before_drop_of_diabetics = merged_for_prediabetes_before_drop_of_diabetics.drop('Unnamed: 0', axis = 1)
merged_for_prediabetes_before_drop_of_diabetics

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,Diabetes Diagnosed 1,Diabetes Diagnosed 2,Diabetes Diagnosed 3,...,20002-2.24,20002-2.25,20002-2.26,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
0,2075783,2008-06-06,NaN,NaN,3.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4345775,2008-06-13,NaN,NaN,5.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5686018,2008-02-09,2012-09-24,NaN,5.0,5.0,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3907457,2008-01-31,NaN,NaN,4.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3160513,2008-09-08,NaN,2017-12-06,3.0,NaN,5.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502499,2054859,2007-11-03,NaN,NaN,2.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502500,3268102,2009-08-14,NaN,NaN,5.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502501,2793268,2009-10-15,NaN,NaN,3.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502502,4922013,2008-10-18,NaN,NaN,2.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502503,4036069,2010-05-06,NaN,NaN,3.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

First let us look at all the NaN values in each column.

In [19]:
merged_for_prediabetes_before_drop_of_diabetics.isnull().sum()

eid                    0
53-0.0                 0
53-1.0            482159
53-2.0            466961
Fasting Time 1      1233
                   ...
20002-2.29        502504
20002-2.30        502504
20002-2.31        502504
20002-2.32        502504
20002-2.33        502504
Length: 126, dtype: int64

Next we cut out all patients who start with diabetes using the CSV features.

In [20]:
diabetics_to_start = merged_for_prediabetes_before_drop_of_diabetics[merged_for_prediabetes_before_drop_of_diabetics['Diabetes Diagnosed 1'] == 1]
diabetics_to_start

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,Diabetes Diagnosed 1,Diabetes Diagnosed 2,Diabetes Diagnosed 3,...,20002-2.24,20002-2.25,20002-2.26,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
33,5649227,2008-08-22,NaN,NaN,2.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,1691705,2009-10-23,NaN,NaN,2.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,2126827,2009-11-07,NaN,2018-11-02,1.0,NaN,4.0,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,5687965,2008-08-27,NaN,NaN,4.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,2897908,2009-01-21,NaN,NaN,3.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502475,1689615,2008-04-01,NaN,NaN,2.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502479,3475115,2010-06-25,NaN,NaN,3.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502485,3697041,2010-02-10,NaN,NaN,6.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502493,3117536,2009-03-03,NaN,NaN,4.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502501,2793268,2009-10-15,NaN,NaN,3.0,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below we make a list of all eid numbers for these patients.

In [21]:
dfToList_diabetics = diabetics_to_start['eid'].tolist()
dfToList_diabetics

[5649227,
 1691705,
 2126827,
 5687965,
 2897908,
 1950918,
 1962969,
 4254769,
 1174378,
 1388426,
 1582704,
 2061291,
 5303248,
 4353264,
 2840946,
 3578446,
 1575721,
 5807592,
 2862855,
 4344728,
 4391471,
 4458528,
 3095269,
 5868354,
 5684651,
 5899666,
 4941661,
 4735962,
 4891261,
 5940031,
 2558105,
 4773788,
 2499664,
 4400186,
 1224008,
 5859584,
 1139473,
 4846778,
 2453406,
 4136206,
 4914684,
 2425377,
 5020756,
 2113926,
 4542234,
 1759061,
 5537524,
 4894695,
 1450495,
 2068483,
 4566504,
 2792357,
 3639765,
 4878111,
 1722384,
 5936322,
 2607439,
 3399365,
 4165791,
 2261532,
 6010666,
 4873486,
 3608059,
 2904410,
 2475192,
 2735746,
 1800702,
 2799911,
 1177676,
 4804595,
 1284448,
 5196141,
 3140614,
 5438784,
 4579495,
 5734452,
 4992498,
 5274468,
 5890189,
 4841749,
 2740867,
 2256248,
 3517257,
 2738097,
 3860309,
 1784170,
 5229202,
 3278338,
 4289573,
 2100096,
 2880157,
 5520599,
 5029655,
 3447293,
 5504650,
 6012089,
 3582706,
 1525548,
 2931980,
 1663067,
 2477407,
 4123453,
 5715283,
 2735603,
 5163141,
 1055802,
 3746212,
 5137913,
 5358829,
 2909055,
 1482017,
 4820713,
 4800399,
 1959973,
 2399459,
 4949965,
 3149784,
 1586895,
 2084949,
 3251548,
 2486661,
 5583325,
 3142582,
 4399209,
 2298021,
 3955604,
 3785962,
 1507777,
 3869924,
 2721740,
 5413792,
 4481110,
 4078213,
 2605469,
 2702519,
 4933113,
 4955181,
 1227280,
 3578344,
 3384128,
 5863498,
 3125640,
 3832142,
 4978622,
 1713198,
 3383828,
 5155317,
 1834708,
 1788009,
 4550100,
 3392296,
 3818133,
 1890115,
 2202388,
 5729533,
 5741124,
 5264208,
 5512282,
 1585491,
 1573347,
 5481443,
 2080749,
 4490945,
 5760895,
 5276927,
 1018534,
 2526409,
 3780751,
 3114854,
 5106922,
 1593661,
 5196291,
 1118628,
 5724786,
 3544238,
 1603482,
 4174720,
 1606882,
 1017984,
 4092656,
 1305950,
 1796449,
 4240729,
 3502986,
 4066972,
 1601074,
 4499111,
 1807580,
 4949304,
 3614614,
 2460222,
 4595296,
 1090833,
 3553163,
 5333435,
 4820645,
 3216226,
 4863041,
 2580502,
 3933277,
 5124439,
 4320769,
 4167446,
 5519408,
 4258577,
 3526163,
 2602907,
 1141716,
 2554451,
 3163493,
 4694860,
 2250913,
 2044389,
 4501815,
 5927147,
 4775722,
 1671352,
 5426501,
 4534110,
 3233977,
 2514261,
 4191844,
 2821636,
 2131443,
 5144677,
 2193700,
 3959735,
 5944504,
 3683313,
 2021428,
 4196578,
 4335190,
 4629942,
 1778789,
 3944796,
 4649775,
 2990491,
 2441807,
 4847731,
 4793729,
 2877971,
 2770960,
 1179267,
 1065436,
 5946863,
 3605729,
 5851147,
 2905006,
 1412247,
 2163065,
 2381226,
 5656171,
 2018187,
 1590828,
 4557461,
 1928222,
 2141175,
 3194491,
 5142410,
 2033715,
 2379443,
 2855962,
 2369688,
 3532411,
 4030633,
 1046027,
 2466079,
 3728232,
 5490681,
 5215618,
 1794965,
 5260977,
 1890090,
 1403185,
 1425076,
 2576250,
 5945408,
 3048084,
 3664859,
 4751055,
 2519640,
 3424767,
 1140993,
 2083673,
 5697652,
 5011043,
 2712499,
 2425638,
 4045597,
 3427705,
 5754855,
 2300616,
 5329146,
 3102188,
 2082709,
 1335490,
 3337087,
 1985017,
 1937223,
 2558656,
 5346156,
 5556545,
 2785861,
 2511146,
 5289614,
 2762445,
 3885851,
 4626340,
 1100191,
 3177492,
 4460632,
 5783291,
 4169442,
 4834524,
 2533950,
 4320143,
 5241297,
 1687417,
 3675228,
 5995513,
 2308439,
 4144488,
 1934280,
 1310411,
 3079101,
 1370248,
 4645670,
 5831489,
 2109175,
 1604095,
 1033765,
 5103312,
 2513759,
 1193318,
 1433591,
 5958256,
 5299978,
 2308081,
 2378474,
 3813615,
 4154959,
 4947404,
 1615107,
 1718650,
 1893104,
 1166186,
 2840544,
 4046424,
 3290530,
 2667531,
 2871943,
 6000612,
 1302656,
 1036988,
 5293952,
 1275771,
 5079405,
 2894401,
 1212592,
 2276197,
 4132481,
 4622858,
 3670183,
 1602454,
 3714372,
 1316819,
 5098176,
 3967054,
 1124590,
 4138974,
 3768251,
 1183168,
 4160403,
 4039608,
 3035102,
 2923993,
 5194890,
 4277291,
 4130760,
 2556013,
 5621482,
 3557230,
 5817941,
 1951074,
 3701669,
 4173905,
 2585871,
 5368082,
 1418692,
 1504994,
 4027021,
 2816943,
 5585527,
 2298346,
 5014943,
 3289687,
 2791784,
 3291562,
 2692752,
 1875202,
 3226167,
 3962113,
 4457817,
 1387304,
 1285670,
 3954204,
 4678291,
 4185218,
 5682124,
 2429135,
 3582928,
 2546661,
 4050824,
 3504234,
 2208836,
 4148433,
 4479191,
 5711161,
 1929685,
 3205778,
 1349961,
 4866984,
 3876478,
 3877943,
 1750011,
 2473870,
 2005743,
 1001151,
 2518305,
 3667890,
 4845505,
 3347199,
 1929917,
 5816590,
 5162490,
 5695469,
 3283609,
 5912691,
 5801302,
 5800875,
 3948946,
 4465716,
 3454589,
 2462020,
 3638405,
 2795559,
 1189846,
 3340419,
 3838273,
 1965148,
 2580164,
 3397083,
 1655215,
 3697417,
 1378126,
 4729815,
 2022386,
 4622350,
 3088772,
 5325595,
 1153924,
 2929597,
 3272980,
 3030580,
 5610639,
 1330058,
 2441185,
 4600793,
 1111014,
 3569847,
 4580995,
 5402024,
 2859436,
 2633401,
 3247138,
 4806506,
 4956830,
 3516260,
 1872651,
 4595064,
 5767640,
 2073879,
 3995482,
 1253268,
 1939145,
 5465824,
 5416164,
 3670641,
 5090398,
 5097222,
 2596548,
 2624056,
 4250268,
 5659653,
 3985323,
 2064606,
 1866139,
 2763912,
 5991025,
 5058316,
 1826155,
 5330865,
 5549613,
 5533117,
 4576138,
 3546680,
 4240696,
 3244304,
 3902620,
 4855547,
 4408436,
 2678093,
 4813633,
 1107221,
 1641699,
 4921696,
 2652041,
 4372597,
 4580141,
 5502911,
 4955896,
 3438683,
 4651566,
 1541027,
 2199054,
 5575254,
 1836266,
 2880349,
 1655925,
 1787197,
 5071876,
 5868077,
 4781802,
 3041842,
 4670945,
 4431094,
 3760592,
 3075036,
 5962133,
 4754358,
 5230169,
 5642622,
 2331678,
 3053200,
 1858494,
 4120427,
 4184062,
 3848508,
 4878176,
 4360782,
 2817552,
 5732960,
 1395563,
 4981684,
 1481324,
 1336519,
 5073359,
 4423136,
 5371376,
 4229937,
 6017604,
 2527512,
 3062376,
 4164711,
 1366459,
 3081503,
 4664885,
 2130133,
 4137622,
 4647778,
 5202180,
 5923439,
 5732837,
 5749987,
 3125679,
 1891603,
 3257027,
 4256846,
 5340318,
 4416765,
 5692499,
 3981361,
 5860192,
 3234264,
 3740601,
 2524751,
 2337505,
 2844793,
 2981334,
 4271473,
 1128424,
 5354839,
 1547452,
 3683073,
 5577843,
 1792644,
 4300461,
 4264108,
 4956270,
 5930388,
 1531011,
 4079612,
 3771375,
 4755241,
 3967760,
 4359747,
 2182307,
 3622289,
 2055375,
 5563465,
 2158141,
 2491705,
 5521098,
 1376119,
 2021286,
 4955980,
 5685455,
 6018754,
 2044346,
 2352170,
 5873008,
 3098734,
 3898292,
 5318727,
 1820710,
 5769239,
 4648363,
 2583153,
 4034466,
 2347189,
 1733879,
 1974848,
 4106083,
 5056046,
 5935963,
 1602716,
 3042490,
 5181454,
 1808289,
 1329306,
 2189918,
 4841987,
 1796315,
 3687730,
 4045509,
 5776934,
 5400765,
 5093058,
 3219750,
 1085194,
 2316957,
 1175221,
 5619945,
 5353431,
 1677773,
 4112726,
 5165199,
 5709040,
 4330585,
 3212891,
 1599443,
 4804923,
 2411054,
 2753889,
 5947849,
 4561958,
 2779932,
 4382216,
 2409680,
 3920865,
 1421650,
 5184852,
 1247976,
 3591861,
 4478468,
 4665334,
 2477295,
 3038577,
 3920727,
 4793249,
 2595919,
 2580745,
 2790205,
 2298501,
 4713315,
 1002030,
 3245863,
 5982808,
 3362468,
 3687233,
 3349777,
 1807572,
 4329709,
 3699021,
 2223164,
 2600624,
 5119540,
 5774589,
 5905081,
 5151244,
 4691214,
 2898124,
 3562950,
 1632940,
 2845127,
 2613217,
 4082137,
 2294816,
 3935687,
 4122332,
 3094824,
 1523054,
 3268848,
 3665901,
 1756741,
 2087057,
 3080706,
 3963479,
 1013157,
 5064891,
 4596065,
 5726587,
 1987554,
 2881803,
 1666643,
 5596624,
 3665511,
 1178843,
 3719072,
 2678248,
 1362177,
 1352157,
 5153061,
 5451082,
 5855218,
 1553491,
 1693298,
 4686596,
 4439012,
 5217592,
 4086177,
 1937862,
 3773831,
 2331719,
 5090915,
 4175640,
 3388107,
 5429921,
 5319724,
 3884142,
 3618503,
 5613233,
 1440034,
 4281304,
 1532109,
 3566858,
 5515204,
 3836161,
 2893656,
 5233569,
 5512631,
 4581067,
 2521168,
 3139803,
 5694220,
 4233874,
 5130757,
 4451540,
 4117590,
 2581406,
 4193950,
 2802787,
 5559941,
 5895217,
 1269126,
 2152626,
 2032601,
 3719281,
 1415643,
 2607365,
 1673027,
 4592020,
 1721730,
 4066070,
 2332739,
 4686518,
 2577351,
 4906888,
 2245091,
 3415873,
 4170019,
 3527473,
 5543625,
 5919879,
 4168755,
 2896671,
 3758932,
 2380075,
 1126716,
 2161419,
 3902262,
 2975918,
 3251749,
 1873642,
 2085588,
 2366835,
 3933399,
 4640977,
 4485402,
 2750988,
 5735107,
 1349569,
 1392907,
 4669195,
 2218267,
 1507467,
 5725894,
 3103657,
 5363953,
 3217532,
 2793378,
 5664514,
 2654561,
 4892536,
 5010397,
 5954121,
 5936567,
 5083562,
 2605030,
 3847300,
 1874352,
 2746098,
 2580832,
 2893318,
 1477704,
 4146609,
 2635964,
 2501059,
 5978358,
 1950514,
 1545531,
 3539209,
 4872684,
 1856929,
 4152514,
 5253557,
 4154306,
 5572402,
 3066782,
 2842081,
 2662220,
 4270423,
 4593140,
 6018953,
 3716008,
 4137211,
 5853067,
 2412837,
 2865883,
 4575342,
 5994294,
 2658946,
 3064641,
 2944163,
 3594158,
 1289139,
 5681468,
 1817434,
 3632660,
 3957195,
 5097648,
 2754788,
 3006765,
 3354564,
 1057617,
 2979812,
 2095179,
 2598620,
 5720235,
 5080121,
 2308007,
 5144895,
 4765542,
 4169903,
 3839302,
 5609126,
 1556642,
 2996252,
 5065488,
 3775164,
 4949415,
 5576540,
 4378715,
 5468687,
 4924832,
 2162261,
 2427311,
 3473014,
 4250599,
 2548108,
 1605050,
 5389879,
 5479889,
 2496778,
 3424287,
 5902359,
 4730840,
 3522888,
 1886303,
 5882473,
 2282739,
 4243442,
 2989618,
 3366646,
 1471972,
 4869345,
 3935937,
 1322487,
 3453783,
 5577651,
 2161536,
 5983514,
 4573210,
 2811356,
 1246658,
 4592907,
 4507503,
 2855337,
 2724791,
 1022711,
 1843047,
 5321369,
 4503664,
 4638973,
 2923729,
 2105540,
 2512844,
 5309045,
 5193630,
 5857984,
 2297636,
 5252301,
 1927322,
 1375696,
 2714202,
 1354760,
 4510023,
 3911297,
 2696780,
 5892013,
 2585338,
 1143926,
 4454300,
 5175598,
 1561088,
 2877920,
 3289290,
 2752879,
 3011339,
 4857187,
 4993952,
 1065907,
 2668144,
 3343041,
 2453856,
 2334727,
 2653533,
 4543098,
 1677317,
 4638293,
 2192376,
 4091301,
 5500305,
 3042798,
 4724495,
 1758509,
 2265320,
 2960398,
 3890316,
 5595656,
 5410545,
 2213390,
 2501016,
 4242379,
 1777677,
 2403869,
 2635139,
 2296071,
 2408205,
 1307212,
 2369907,
 5000476,
 5782958,
 1962910,
 3000635,
 3165044,
 3800463,
 3726661,
 2546801,
 4351300,
 ...]

Below we filter all diabetics from the dataframe of all patients.

In [22]:
merged_for_prediabetes = merged_for_prediabetes_before_drop_of_diabetics[~merged_for_prediabetes_before_drop_of_diabetics.eid.isin(dfToList_diabetics)]
merged_for_prediabetes

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,Diabetes Diagnosed 1,Diabetes Diagnosed 2,Diabetes Diagnosed 3,...,20002-2.24,20002-2.25,20002-2.26,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
0,2075783,2008-06-06,NaN,NaN,3.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4345775,2008-06-13,NaN,NaN,5.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5686018,2008-02-09,2012-09-24,NaN,5.0,5.0,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3907457,2008-01-31,NaN,NaN,4.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3160513,2008-09-08,NaN,2017-12-06,3.0,NaN,5.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502498,3820845,2009-11-21,NaN,NaN,2.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502499,2054859,2007-11-03,NaN,NaN,2.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502500,3268102,2009-08-14,NaN,NaN,5.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502502,4922013,2008-10-18,NaN,NaN,2.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502503,4036069,2010-05-06,NaN,NaN,3.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below we find all patients with an HbA1c between 42 and 47 to begin the study, which is the prediabetic range.

In [23]:
prediabetic_hba1c_at_start = merged_for_prediabetes[((merged_for_prediabetes['HbA1c 1'] >= 42) & (merged_for_prediabetes['HbA1c 1'] <= 47))]
prediabetic_hba1c_at_start

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,Diabetes Diagnosed 1,Diabetes Diagnosed 2,Diabetes Diagnosed 3,...,20002-2.24,20002-2.25,20002-2.26,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
10,1797967,2008-09-10,NaN,NaN,3.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,1945240,2008-02-23,NaN,NaN,4.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,1589923,2010-07-01,NaN,NaN,4.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,4899746,2009-11-10,NaN,NaN,4.0,NaN,NaN,-1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,4863545,2009-10-29,NaN,NaN,5.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502273,3241124,2010-03-29,NaN,NaN,7.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502333,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502391,5011216,2009-11-26,NaN,NaN,3.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502421,3482443,2008-06-05,NaN,NaN,2.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502435,2702146,2009-08-15,NaN,NaN,5.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below we specify all prediabetic patients using the fasting blood glucose test. These patients have fasted for 8 or more hours before having their blood drawn. Therefore, we search for these patients only.

In [24]:
patients_fasting = merged_for_prediabetes[merged_for_prediabetes['Fasting Time 1'] >= 8]
patients_fasting

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,Diabetes Diagnosed 1,Diabetes Diagnosed 2,Diabetes Diagnosed 3,...,20002-2.24,20002-2.25,20002-2.26,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
24,2840264,2010-01-28,NaN,NaN,10.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,5130146,2009-03-10,NaN,NaN,15.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,4766696,2008-06-07,NaN,NaN,12.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,1263576,2009-01-15,NaN,NaN,16.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,5711475,2008-10-07,NaN,NaN,8.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502223,1481100,2010-01-23,NaN,NaN,11.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502237,4341434,2009-06-15,NaN,NaN,10.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502255,5612713,2008-04-17,NaN,NaN,14.0,NaN,NaN,-1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502304,4081094,2010-03-11,NaN,NaN,16.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502353,1697616,2010-06-25,NaN,NaN,8.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below we show all patients who started the analysis with a Blood Glucose Level measured in the prediabetic range given by the results of a fasting blood sugar test.

In [25]:
prediabetic_blood_glucose_at_start = patients_fasting[((patients_fasting['Blood Glucose Level 1'] >= 5.6) & (patients_fasting['Blood Glucose Level 1'] <= 7))]
prediabetic_blood_glucose_at_start

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,Diabetes Diagnosed 1,Diabetes Diagnosed 2,Diabetes Diagnosed 3,...,20002-2.24,20002-2.25,20002-2.26,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
309,2371061,2007-08-04,NaN,NaN,14.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
584,3288614,2009-01-15,NaN,NaN,12.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,2570774,2008-07-18,NaN,NaN,8.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1125,4512530,2009-04-01,NaN,NaN,12.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1443,1230667,2008-01-26,NaN,NaN,21.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501899,3774941,2009-11-12,NaN,NaN,13.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501938,3624451,2009-05-07,NaN,NaN,13.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501989,6022522,2008-02-01,NaN,NaN,15.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502025,2043876,2010-06-05,NaN,NaN,13.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502255,5612713,2008-04-17,NaN,NaN,14.0,NaN,NaN,-1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# HbA1c

We still have to filter out all patients who self-diagnose themselves with diabetes but we classified as prediabetic because Scott Kulm found that both self-diagnosis and diagnosis by a doctor do not have statistically significant results and therefore patients who self-diagnose themselves with diabetes will be considered as having diabetes. We use the columns below to mark patients who self-diagnose themselves with diabetes.

In [26]:
spike_cols = [col for col in prediabetic_hba1c_at_start.columns if '20002-' in col]
print(spike_cols)

['20002-0.0', '20002-0.1', '20002-0.2', '20002-0.3', '20002-0.4', '20002-0.5', '20002-0.6', '20002-0.7', '20002-0.8', '20002-0.9', '20002-0.10', '20002-0.11', '20002-0.12', '20002-0.13', '20002-0.14', '20002-0.15', '20002-0.16', '20002-0.17', '20002-0.18', '20002-0.19', '20002-0.20', '20002-0.21', '20002-0.22', '20002-0.23', '20002-0.24', '20002-0.25', '20002-0.26', '20002-0.27', '20002-0.28', '20002-0.29', '20002-0.30', '20002-0.31', '20002-0.32', '20002-0.33', '20002-1.0', '20002-1.1', '20002-1.2', '20002-1.3', '20002-1.4', '20002-1.5', '20002-1.6', '20002-1.7', '20002-1.8', '20002-1.9', '20002-1.10', '20002-1.11', '20002-1.12', '20002-1.13', '20002-1.14', '20002-1.15', '20002-1.16', '20002-1.17', '20002-1.18', '20002-1.19', '20002-1.20', '20002-1.21', '20002-1.22', '20002-1.23', '20002-1.24', '20002-1.25', '20002-1.26', '20002-1.27', '20002-1.28', '20002-1.29', '20002-1.30', '20002-1.31', '20002-1.32', '20002-1.33', '20002-2.0', '20002-2.1', '20002-2.2', '20002-2.3', '20002-2.4', '20002-2.5', '20002-2.6', '20002-2.7', '20002-2.8', '20002-2.9', '20002-2.10', '20002-2.11', '20002-2.12', '20002-2.13', '20002-2.14', '20002-2.15', '20002-2.16', '20002-2.17', '20002-2.18', '20002-2.19', '20002-2.20', '20002-2.21', '20002-2.22', '20002-2.23', '20002-2.24', '20002-2.25', '20002-2.26', '20002-2.27', '20002-2.28', '20002-2.29', '20002-2.30', '20002-2.31', '20002-2.32', '20002-2.33']

Next we create a dataframe containing only these patients.

In [27]:
possible_diabetes_self_diagnosis_hba1c = prediabetic_hba1c_at_start[['20002-0.0', '20002-0.1', '20002-0.2', '20002-0.3', '20002-0.4', '20002-0.5', '20002-0.6', '20002-0.7', '20002-0.8', '20002-0.9', '20002-0.10', '20002-0.11', '20002-0.12', '20002-0.13', '20002-0.14', '20002-0.15', '20002-0.16', '20002-0.17', '20002-0.18', '20002-0.19', '20002-0.20', '20002-0.21', '20002-0.22', '20002-0.23', '20002-0.24', '20002-0.25', '20002-0.26', '20002-0.27', '20002-0.28', '20002-0.29', '20002-0.30', '20002-0.31', '20002-0.32', '20002-0.33', '20002-1.0', '20002-1.1', '20002-1.2', '20002-1.3', '20002-1.4', '20002-1.5', '20002-1.6', '20002-1.7', '20002-1.8', '20002-1.9', '20002-1.10', '20002-1.11', '20002-1.12', '20002-1.13', '20002-1.14', '20002-1.15', '20002-1.16', '20002-1.17', '20002-1.18', '20002-1.19', '20002-1.20', '20002-1.21', '20002-1.22', '20002-1.23', '20002-1.24', '20002-1.25', '20002-1.26', '20002-1.27', '20002-1.28', '20002-1.29', '20002-1.30', '20002-1.31', '20002-1.32', '20002-1.33', '20002-2.0', '20002-2.1', '20002-2.2', '20002-2.3', '20002-2.4', '20002-2.5', '20002-2.6', '20002-2.7', '20002-2.8', '20002-2.9', '20002-2.10', '20002-2.11', '20002-2.12', '20002-2.13', '20002-2.14', '20002-2.15', '20002-2.16', '20002-2.17', '20002-2.18', '20002-2.19', '20002-2.20', '20002-2.21', '20002-2.22', '20002-2.23', '20002-2.24', '20002-2.25', '20002-2.26', '20002-2.27', '20002-2.28', '20002-2.29', '20002-2.30', '20002-2.31', '20002-2.32', '20002-2.33']]
possible_diabetes_self_diagnosis_hba1c

,20002-0.0,20002-0.1,20002-0.2,20002-0.3,20002-0.4,20002-0.5,20002-0.6,20002-0.7,20002-0.8,20002-0.9,...,20002-2.24,20002-2.25,20002-2.26,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
10,1065.0,1473.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,1074.0,1065.0,1465.0,1453.0,1207.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,1330.0,1436.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,99999.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502273,1065.0,1111.0,1473.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502333,1074.0,1065.0,1458.0,1474.0,1294.0,1471.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502391,1162.0,1351.0,1541.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502421,1065.0,1093.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502435,1065.0,1289.0,1552.0,1473.0,1646.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Next we show all columns with the value 1223 which is the code for Type 2 diabetes. All columns marked True contain at least one value which is 1223. Therefore, we will continue our analysis with these columns.

In [28]:
pd.options.display.max_rows = 110
possible_diabetes_self_diagnosis_hba1c.isin([1223]).any()

20002-0.0      True
20002-0.1      True
20002-0.2      True
20002-0.3     False
20002-0.4      True
20002-0.5      True
20002-0.6     False
20002-0.7     False
20002-0.8     False
20002-0.9     False
20002-0.10    False
20002-0.11    False
20002-0.12    False
20002-0.13    False
20002-0.14    False
20002-0.15    False
20002-0.16    False
20002-0.17    False
20002-0.18    False
20002-0.19    False
20002-0.20    False
20002-0.21    False
20002-0.22    False
20002-0.23    False
20002-0.24    False
20002-0.25    False
20002-0.26    False
20002-0.27    False
20002-0.28    False
20002-0.29    False
20002-0.30    False
20002-0.31    False
20002-0.32    False
20002-0.33    False
20002-1.0      True
20002-1.1     False
20002-1.2     False
20002-1.3     False
20002-1.4     False
20002-1.5     False
20002-1.6     False
20002-1.7     False
20002-1.8     False
20002-1.9     False
20002-1.10    False
20002-1.11    False
20002-1.12    False
20002-1.13    False
20002-1.14    False
20002-1.15    False
20002-1.16    False
20002-1.17    False
20002-1.18    False
20002-1.19    False
20002-1.20    False
20002-1.21    False
20002-1.22    False
20002-1.23    False
20002-1.24    False
20002-1.25    False
20002-1.26    False
20002-1.27    False
20002-1.28    False
20002-1.29    False
20002-1.30    False
20002-1.31    False
20002-1.32    False
20002-1.33    False
20002-2.0      True
20002-2.1     False
20002-2.2     False
20002-2.3     False
20002-2.4     False
20002-2.5     False
20002-2.6     False
20002-2.7     False
20002-2.8     False
20002-2.9     False
20002-2.10    False
20002-2.11    False
20002-2.12    False
20002-2.13    False
20002-2.14    False
20002-2.15    False
20002-2.16    False
20002-2.17    False
20002-2.18    False
20002-2.19    False
20002-2.20    False
20002-2.21    False
20002-2.22    False
20002-2.23    False
20002-2.24    False
20002-2.25    False
20002-2.26    False
20002-2.27    False
20002-2.28    False
20002-2.29    False
20002-2.30    False
20002-2.31    False
20002-2.32    False
20002-2.33    False
dtype: bool

Next we search for patients who self-diagnose themselves with diabetes.

In [29]:
pd.options.display.max_rows = 10
self_diagnosed_diabetics_hba1c = prediabetic_hba1c_at_start[(prediabetic_hba1c_at_start['20002-0.0'] == 1223) | (prediabetic_hba1c_at_start['20002-0.1'] == 1223) | (prediabetic_hba1c_at_start['20002-0.2'] == 1223) | (prediabetic_hba1c_at_start['20002-0.4'] == 1223) | (prediabetic_hba1c_at_start['20002-0.5'] == 1223) | (prediabetic_hba1c_at_start['20002-1.0'] == 1223) | (prediabetic_hba1c_at_start['20002-2.0'] == 1223)]
self_diagnosed_diabetics_hba1c

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,Diabetes Diagnosed 1,Diabetes Diagnosed 2,Diabetes Diagnosed 3,...,20002-2.24,20002-2.25,20002-2.26,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
38080,4834004,2008-08-29,NaN,NaN,6.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39719,3350008,2008-02-25,2013-05-12,2014-11-30,2.0,4.0,6.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45472,1475776,2007-05-03,NaN,NaN,4.0,NaN,NaN,-1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61053,4777233,2010-02-02,2012-09-13,2016-04-21,3.0,3.0,4.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63548,4468202,2007-10-12,NaN,2018-11-04,11.0,NaN,13.0,0.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472264,4892284,2009-12-09,NaN,NaN,3.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
472561,5766529,2008-04-04,2013-05-17,2019-01-22,2.0,0.0,5.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
477977,4218081,2009-10-23,NaN,2015-11-01,4.0,NaN,3.0,0.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
488914,4490894,2009-01-28,NaN,2015-05-09,5.0,NaN,3.0,0.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
493953,4288393,2008-06-20,2012-10-17,NaN,2.0,5.0,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Different groups of patients we need to search for:

1. Patients who are not diagnosed with diabetes at starting time but are self-diagnosed at starting time - cut them from dataframe
2. Patients who are diagnosed with diabetes at starting time by doctor - cut from dataframe
3. Patients who are not diagnosed with diabetes ever, but do self-diagnose themselves after the starting date (in -1.X or -2.X columns) - Keep them in the dataframe
4. Patients who are diagnosed with diabetes by doctor after first tests - keep them in the dataframe

Next we search for all prediabetic symptom patients without being diagnosed by a doctor with diabetes. There are 42 prediabetic patients who are not initially diagnosed with diabetes by a doctor, but who have self-diagnosed themselves with diabetes at some point.

In [30]:
only_self_diagnosed_diabetics_hba1c = self_diagnosed_diabetics_hba1c[self_diagnosed_diabetics_hba1c['Diabetes Diagnosed 1'] == 0]
only_self_diagnosed_diabetics_hba1c

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,Diabetes Diagnosed 1,Diabetes Diagnosed 2,Diabetes Diagnosed 3,...,20002-2.24,20002-2.25,20002-2.26,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
38080,4834004,2008-08-29,NaN,NaN,6.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39719,3350008,2008-02-25,2013-05-12,2014-11-30,2.0,4.0,6.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61053,4777233,2010-02-02,2012-09-13,2016-04-21,3.0,3.0,4.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63548,4468202,2007-10-12,NaN,2018-11-04,11.0,NaN,13.0,0.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93423,1909046,2008-06-14,2013-05-19,2017-08-05,5.0,5.0,3.0,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472264,4892284,2009-12-09,NaN,NaN,3.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
472561,5766529,2008-04-04,2013-05-17,2019-01-22,2.0,0.0,5.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
477977,4218081,2009-10-23,NaN,2015-11-01,4.0,NaN,3.0,0.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
488914,4490894,2009-01-28,NaN,2015-05-09,5.0,NaN,3.0,0.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
493953,4288393,2008-06-20,2012-10-17,NaN,2.0,5.0,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Next we have to see when these patients self-diganosed themselves with diabetes. If they were self-diagnosed in the 20002-0.X columns, we must remove them from the dataframe. Otherwise, they would have progressed to having diabetes and we will have to check if these patients were also diagnosed by a doctor for diabetes.

Below we show all patients who self-diagnose themselves with diabetes, but are not diagnosed with diabetes by a doctor at the start. We will still cut these patients from the dataframe as if they were true diabetic patients.

In [31]:
diabetes_at_start_hba1c = only_self_diagnosed_diabetics_hba1c[((only_self_diagnosed_diabetics_hba1c['20002-0.0'] == 1223) | (only_self_diagnosed_diabetics_hba1c['20002-0.1'] == 1223) | (only_self_diagnosed_diabetics_hba1c['20002-0.2'] == 1223) | (only_self_diagnosed_diabetics_hba1c['20002-0.3'] == 1223) | (only_self_diagnosed_diabetics_hba1c['20002-0.4'] == 1223) | (only_self_diagnosed_diabetics_hba1c['20002-0.5'] == 1223) | (only_self_diagnosed_diabetics_hba1c['20002-0.6'] == 1223)) & (only_self_diagnosed_diabetics_hba1c['Diabetes Diagnosed 1'] == 0)]
diabetes_at_start_hba1c

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,Diabetes Diagnosed 1,Diabetes Diagnosed 2,Diabetes Diagnosed 3,...,20002-2.24,20002-2.25,20002-2.26,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
38080,4834004,2008-08-29,NaN,NaN,6.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126144,4722780,2007-10-25,NaN,NaN,2.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238127,5849058,2009-05-14,NaN,NaN,15.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274299,4134911,2009-07-23,NaN,NaN,3.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
285511,1187842,2008-02-29,NaN,NaN,2.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360583,4008901,2007-10-04,NaN,NaN,3.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421487,2990620,2008-01-23,NaN,NaN,2.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
472264,4892284,2009-12-09,NaN,NaN,3.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below we create a list of the patient eid numbers so that we can cut them from the dataframe.

In [32]:
dfToList_diabetes_at_start_hba1c = diabetes_at_start_hba1c['eid'].tolist()
dfToList_diabetes_at_start_hba1c

[4834004, 4722780, 5849058, 4134911, 1187842, 4008901, 2990620, 4892284]

Now we filter these patients from the final dataframe of prediabetic patients.

In [33]:
prediabetic_hba1c_at_start = prediabetic_hba1c_at_start[~prediabetic_hba1c_at_start.eid.isin(dfToList_diabetes_at_start_hba1c)]
prediabetic_hba1c_at_start

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,Diabetes Diagnosed 1,Diabetes Diagnosed 2,Diabetes Diagnosed 3,...,20002-2.24,20002-2.25,20002-2.26,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
10,1797967,2008-09-10,NaN,NaN,3.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,1945240,2008-02-23,NaN,NaN,4.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,1589923,2010-07-01,NaN,NaN,4.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,4899746,2009-11-10,NaN,NaN,4.0,NaN,NaN,-1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,4863545,2009-10-29,NaN,NaN,5.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502273,3241124,2010-03-29,NaN,NaN,7.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502333,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502391,5011216,2009-11-26,NaN,NaN,3.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502421,3482443,2008-06-05,NaN,NaN,2.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502435,2702146,2009-08-15,NaN,NaN,5.0,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Extra progression to diabetes labels in next cell

Below we show that the remaining patients who self-diagnose themselves do so after the first tests are performed. Therefore, we can label these patients as progressing to diabetes even if they are not diagnosed by a doctor for diabetes.

In [34]:
pd.options.display.max_columns = 125
pd.options.display.max_rows = 100
self_diagnosed_diabetics_some_not_doctor_diagnosed_hba1c = only_self_diagnosed_diabetics_hba1c[(only_self_diagnosed_diabetics_hba1c['20002-1.0'] == 1223) | (only_self_diagnosed_diabetics_hba1c['20002-2.0'] == 1223)]
self_diagnosed_diabetics_some_not_doctor_diagnosed_hba1c

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,Diabetes Diagnosed 1,Diabetes Diagnosed 2,Diabetes Diagnosed 3,Age Diabetes Diagnosed 1,Age Diabetes Diagnosed 2,Age Diabetes Diagnosed 3,Gestational Diabetes Only 1,Gestational Diabetes Only 2,Gestational Diabetes Only 3,Blood Glucose Level 1,Blood Glucose level 2,Glucose Assay Date 1,Glucose Assay Date 2,HbA1c 1,HbA1c 2,HbA1c Assay Date 1,HbA1c Assay Date 2,20002-0.0,20002-0.1,20002-0.2,20002-0.3,20002-0.4,20002-0.5,20002-0.6,20002-0.7,20002-0.8,20002-0.9,20002-0.10,20002-0.11,20002-0.12,20002-0.13,20002-0.14,20002-0.15,20002-0.16,20002-0.17,20002-0.18,20002-0.19,20002-0.20,20002-0.21,20002-0.22,20002-0.23,20002-0.24,20002-0.25,20002-0.26,20002-0.27,20002-0.28,20002-0.29,20002-0.30,20002-0.31,20002-0.32,20002-0.33,20002-1.0,20002-1.1,20002-1.2,20002-1.3,...,20002-1.6,20002-1.7,20002-1.8,20002-1.9,20002-1.10,20002-1.11,20002-1.12,20002-1.13,20002-1.14,20002-1.15,20002-1.16,20002-1.17,20002-1.18,20002-1.19,20002-1.20,20002-1.21,20002-1.22,20002-1.23,20002-1.24,20002-1.25,20002-1.26,20002-1.27,20002-1.28,20002-1.29,20002-1.30,20002-1.31,20002-1.32,20002-1.33,20002-2.0,20002-2.1,20002-2.2,20002-2.3,20002-2.4,20002-2.5,20002-2.6,20002-2.7,20002-2.8,20002-2.9,20002-2.10,20002-2.11,20002-2.12,20002-2.13,20002-2.14,20002-2.15,20002-2.16,20002-2.17,20002-2.18,20002-2.19,20002-2.20,20002-2.21,20002-2.22,20002-2.23,20002-2.24,20002-2.25,20002-2.26,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
39719,3350008,2008-02-25,2013-05-12,2014-11-30,2.0,4.0,6.0,0.0,1.0,1.0,NaN,55.0,55.0,NaN,NaN,NaN,6.489,NaN,2017-03-06,2017-05-26,43.7,NaN,2015-02-26,NaN,1473.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1220.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61053,4777233,2010-02-02,2012-09-13,2016-04-21,3.0,3.0,4.0,0.0,0.0,1.0,NaN,NaN,69.0,NaN,NaN,0.0,5.009,NaN,2017-05-07,2017-08-12,42.7,46.3,2016-03-08,2015-10-05,1452.0,1154.0,1473.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1633.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63548,4468202,2007-10-12,NaN,2018-11-04,11.0,NaN,13.0,0.0,NaN,1.0,NaN,NaN,51.0,NaN,NaN,NaN,5.164,NaN,2016-03-01,NaN,46.0,NaN,2014-12-10,NaN,1081.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93423,1909046,2008-06-14,2013-05-19,2017-08-05,5.0,5.0,3.0,0.0,1.0,1.0,NaN,52.0,53.0,NaN,0.0,0.0,4.922,NaN,2016-12-09,2017-09-07,44.4,40.9,2015-09-23,2016-03-08,1065.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1220.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113012,5753685,2008-02-19,NaN,2018-11-04,4.0,NaN,4.0,0.0,NaN,-3.0,NaN,NaN,NaN,NaN,NaN,NaN,5.802,NaN,2017-06-27,NaN,42.6,NaN,2015-06-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118464,5539124,2009-03-16,NaN,2017-08-18,2.0,NaN,5.0,0.0,NaN,1.0,NaN,NaN,69.0,NaN,NaN,0.0,NaN,NaN,2017-09-05,NaN,43.7,NaN,2016-01-30,NaN,1074.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122228,2678130,2009-06-26,NaN,2018-11-26,3.0,NaN,2.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,4.712,NaN,2016-12-11,NaN,44.2,NaN,2015-11-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143285,3089987,2008-05-24,NaN,2017-04-02,4.0,NaN,3.0,0.0,NaN,1.0,NaN,NaN,55.0,NaN,NaN,NaN,4.276,NaN,2017-06-28,NaN,43.5,NaN,2015-08-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180539,2943986,2008-07-26,2013-04-21,2018-11-14,3.0,6.0,8.0,0.0,1.0,NaN,NaN,66.0,NaN,NaN,0.0,NaN,5.486,5.826,2015-12-20,2016-02-08,43.6,48.8,2017-03-09,2015-09-07,1065.0,1385.0,1402.0,1138.0,1294.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1065.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197734,3716387,2009-10-12,2013-03-12,2018-11-20,3.0,4.0,2.0,0.0,0.0,1.0,NaN,NaN,71.0,NaN,NaN,NaN,4.829,5.442,2016-02-14,2016-05-01,44.6,44.9,2015-09-22,2016-03-10,1162.0,1165.0,1598.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1165.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198581,3048175,2008-07-02,NaN,2015-04-16,3.0,NaN,3.0,0.0,NaN,1.0,NaN,NaN,48.0,NaN,NaN,NaN,5.652,NaN,2016-02-29,NaN,44.9,NaN,2015-08-25,NaN,1074.0,1065.0,99999.0,1406.0,99999.0,1474.0,1311.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206868,5377572,2009-02-21,NaN,2017-03-29,1.0,NaN,1.0,0.0,NaN,1.0,NaN,NaN,62.0,NaN,NaN,NaN,7.754,NaN,2016-12-22,NaN,42.9,NaN,2015-11-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217567,5363883,2009-03-07,NaN,2018-09-22,2.0,NaN,12.0,0.0,NaN,1.0,NaN,NaN,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.9,NaN,2016-01-28,NaN,1138.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222296,5592357,2008-08-14,NaN,2016-03-23,2.0,NaN,5.0,0.0,NaN,1.0,NaN,NaN,63.0,NaN,NaN,NaN,5.721,NaN,2016-07-20,NaN,43.3,NaN,2016-01-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299541,5867769,2010-07-03,2013-02-14,2017-10-30,4.0,4.0,3.0,0.0,0.0,1.0,NaN,NaN,73.0,NaN,NaN,NaN,5.513,5.210,2016-04-17,2017-08-19,46.1,45.2,2016-03-25,2016-02-05,1545.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1465.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300437,5514018,2008-04-15,NaN,2019-01-21,3.0,NaN,3.0,0.0,NaN,1.0,NaN,NaN,64.0,NaN,NaN,NaN,4.789,NaN,2017-09-01,NaN,46.4,NaN,2015-08-12,NaN,1065.0,1473.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312237,4843057,2010-04-30,2013-02-18,NaN,2.0,2.0,NaN,0.0,1.0,NaN,NaN,44.0,NaN,NaN,0.0,NaN,5.308,5.531,2017-06-16,2016-08-09,43.6,42.6,2015-08-16,2015-11-10,1065.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312893,5326222,2010-03-18,NaN,2017-03-17,4.0,NaN,3.0,0.0,NaN,1.0,NaN,NaN,48.0,NaN,NaN,0.0,5.514,NaN,2016-11-02,NaN,45.1,NaN,2015-09-05,NaN,1065.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320431,2134812,2009-09-04,NaN,2015-12-01,3.0,NaN,3.0,0.0,NaN,1.0,NaN,NaN,59.0,NaN,NaN,NaN,5.051,NaN,2017-05-07,NaN,43.7,NaN,2015-01-30,NaN,1474.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
335417,3817376,2008-06-13,NaN,2017-07-01,7.0,NaN,1.0,0.0,NaN,1.0,NaN,NaN,60.0,NaN,NaN,NaN,4.947,NaN,2017-05-11,NaN,42.6,NaN,2015-03-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337282,4039474,2007-06-09,2012-12-01,2018-04-24,2.0,3.0,5.0,0.0,0.0,1.0,NaN,NaN,59.0,NaN,NaN,NaN,5.930,NaN,2017-09-15,2017-08-20,42.7,NaN,2015-02-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1568.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346682,2376480,2010-05-12,NaN,2016-07-28,4.0,NaN,4.0,0.0,NaN,1.0,NaN,NaN,63.0,NaN,NaN,-2.0,5.717,NaN,2017-03-23,NaN,45.4,NaN,2015-10-17,NaN,1224.0,1286.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374614,1984811,2009-05-28,NaN,2018-07-09,3.0,NaN,6.0,0.0,NaN,1.0,NaN,NaN,55.0,NaN,NaN,NaN,4.685,NaN,2017-04-23,NaN,42.6,NaN,2015-11-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
396786,2255700,2008-04-08,2013-04-03,NaN,3.0,2.0,NaN,0.0,1.0,NaN,NaN,70.0,NaN,NaN,NaN,NaN,6.074,6.037,2016-08-06,2017-06-11,45.0,45.6,2015-07-28,2016-02-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410956,3383131,2008-06-24,2012-10-12,2015-04-18,2.0,4.0,5.0,0.0,0.0,1.0,NaN,NaN,61.0,NaN,NaN,NaN,4.949,5.280,2017-01-20,2017-05-01,46.0,45.4,2015-06-29,2015-10-27,1474.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1081.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434007,2920397,2008-11-22,2012-10-06,2017-03-16,3.0,4.0,2.0,0.0,1.0,1.0,NaN,66.0,60.0,NaN,NaN,NaN,4.564,5.626,2016-07-27,2016-05-16,47.0,40.9,2016-01-18,2017-04-10,1065.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1065.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439858,3606720,2009-02-16,NaN,2015-09-29,5.0,NaN,5.0,0.0,NaN,1.0,NaN,NaN,67.0,NaN,NaN,NaN,7.503,NaN,2017-02-20,NaN,43.0,NaN,2016-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
447494,4757304,2009-08-18,NaN,2017-07-18,3.0,NaN,5.0,0.0,NaN,1.0,NaN,NaN,51.0,NaN,NaN,NaN,5.271,NaN,2017-06-26,NaN,42.6,NaN,2016-01-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468725,3856044,2009-06-22,2013-01-16,NaN,4.0,2.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.016,NaN,2016-06-29,2016-03-01,43.1,NaN,2016-01-13,NaN,1396.0,1474.0,1415.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1278.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469135,3157047,2010-04-27,NaN,2018-10-11,5.0,NaN,1.0,0.0,NaN,1.0,NaN,NaN,64.0,NaN,NaN,NaN,4.771,NaN,2017-05-05,NaN,42.1,NaN,2015-04-02,NaN,1387.0,1537.0,1633.0,1634.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
472561,5766529,2008-04-04,2013-05-17,2019-01-22,2.0,0.0,5.0,0.0,0.0,1.0,NaN,NaN,65.0,NaN,NaN,NaN,4.493,7.477,2016-10-16,2016-09-18,43.9,43.2,2015-08-07,2016-02-23,99999.0,99999.0,99999.0,1406.0,1445.0,1416.0,1473.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
477977,4218081,2009-10-23,NaN,2015-11-01,4.0,NaN,3.0,0.0,NaN,1.0,NaN,NaN,58.0,NaN,NaN,NaN,6.423,NaN,2016-03-09,NaN,44.4,NaN,2015-07-03,NaN,1065.0,1473.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
488914,4490894,2009-01-28,NaN,2015-05-09,5.0,NaN,3.0,0.0,NaN,1.0,NaN,NaN,68.0,NaN,NaN,NaN,4.860,NaN,2017-06-12,NaN,43.5,NaN,2015-12-09,NaN,1065.0,1396.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below we show that all patients who self-diagnosed themselves with diabetes after the first reading also did not get diagnosed by a doctor for diabetes at the first reading. We keep these patients in the dataframe.

In [35]:
pd.options.display.max_rows = 10
pd.options.display.max_columns = 10
only_self_diagnosed_diabetics_hba1c_progressing_to_diabetes = only_self_diagnosed_diabetics_hba1c[((only_self_diagnosed_diabetics_hba1c['20002-1.0'] == 1223) | (only_self_diagnosed_diabetics_hba1c['20002-2.0'] == 1223)) & (only_self_diagnosed_diabetics_hba1c['Diabetes Diagnosed 1'] == 0)]
only_self_diagnosed_diabetics_hba1c_progressing_to_diabetes

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,...,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
39719,3350008,2008-02-25,2013-05-12,2014-11-30,2.0,...,NaN,NaN,NaN,NaN,NaN
61053,4777233,2010-02-02,2012-09-13,2016-04-21,3.0,...,NaN,NaN,NaN,NaN,NaN
63548,4468202,2007-10-12,NaN,2018-11-04,11.0,...,NaN,NaN,NaN,NaN,NaN
93423,1909046,2008-06-14,2013-05-19,2017-08-05,5.0,...,NaN,NaN,NaN,NaN,NaN
113012,5753685,2008-02-19,NaN,2018-11-04,4.0,...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
469135,3157047,2010-04-27,NaN,2018-10-11,5.0,...,NaN,NaN,NaN,NaN,NaN
472561,5766529,2008-04-04,2013-05-17,2019-01-22,2.0,...,NaN,NaN,NaN,NaN,NaN
477977,4218081,2009-10-23,NaN,2015-11-01,4.0,...,NaN,NaN,NaN,NaN,NaN
488914,4490894,2009-01-28,NaN,2015-05-09,5.0,...,NaN,NaN,NaN,NaN,NaN
493953,4288393,2008-06-20,2012-10-17,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN

Below we keep a list of the patients above as progressing to diabetes for future labeling.

In [36]:
dfToList_diabetes_progression_without_doctor_diagnosis_hba1c = only_self_diagnosed_diabetics_hba1c_progressing_to_diabetes['eid'].tolist()
dfToList_diabetes_progression_without_doctor_diagnosis_hba1c

[3350008,
 4777233,
 4468202,
 1909046,
 5753685,
 5539124,
 2678130,
 3089987,
 2943986,
 3716387,
 3048175,
 5377572,
 5363883,
 5592357,
 5867769,
 5514018,
 4843057,
 5326222,
 2134812,
 3817376,
 4039474,
 2376480,
 1984811,
 2255700,
 3383131,
 2920397,
 3606720,
 4757304,
 3856044,
 3157047,
 5766529,
 4218081,
 4490894,
 4288393]

Now that we have defined our prediabetic patients, we can import another dataframe that contains all the diabetes diagnoses for patients. We again have a column we need to drop that comes over with the SCU index.

In [37]:
patients_with_type2_diabetes_with_dates = pd.read_csv('patients_with_type2_diabetes_with_dates')
patients_with_type2_diabetes_with_dates = patients_with_type2_diabetes_with_dates.drop('Unnamed: 0', axis = 1)
patients_with_type2_diabetes_with_dates

,eid,ins_index,arr_index,level,diag_icd9,diag_icd9_nb,diag_icd10,diag_icd10_nb,epistart
0,1000402,3,1,2,NaN,NaN,E119,NaN,28/06/2018
1,1000402,1,1,2,NaN,NaN,E119,NaN,12/03/2008
2,1000402,0,3,2,NaN,NaN,E119,NaN,16/07/2008
3,1000610,6,3,2,NaN,NaN,E119,NaN,11/05/2005
4,1000610,0,5,2,NaN,NaN,E112,NaN,06/10/2010
...,...,...,...,...,...,...,...,...,...
250364,6025367,12,2,2,NaN,NaN,E119,NaN,02/11/2017
250365,6025367,11,2,2,NaN,NaN,E119,NaN,07/09/2017
250366,6025367,6,4,2,NaN,NaN,E119,NaN,09/04/2015
250367,6025367,5,2,2,NaN,NaN,E119,NaN,31/12/2014
250368,6025367,4,4,2,NaN,NaN,E119,NaN,20/10/2014

Below we show the data types of each column.

In [38]:
patients_with_type2_diabetes_with_dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250369 entries, 0 to 250368
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   eid            250369 non-null  int64
 1   ins_index      250369 non-null  int64
 2   arr_index      250369 non-null  int64
 3   level          250369 non-null  int64
 4   diag_icd9      0 non-null       float64
 5   diag_icd9_nb   0 non-null       float64
 6   diag_icd10     250369 non-null  object
 7   diag_icd10_nb  4064 non-null    float64
 8   epistart       250349 non-null  object
dtypes: float64(3), int64(4), object(2)
memory usage: 17.2+ MB

Next we change epistart to datetime format from object. We see that the date now has the format of year-month-day.

In [39]:
patients_with_type2_diabetes_with_dates['epistart'] = pd.to_datetime(patients_with_type2_diabetes_with_dates['epistart'])
patients_with_type2_diabetes_with_dates

,eid,ins_index,arr_index,level,diag_icd9,diag_icd9_nb,diag_icd10,diag_icd10_nb,epistart
0,1000402,3,1,2,NaN,NaN,E119,NaN,2018-06-28
1,1000402,1,1,2,NaN,NaN,E119,NaN,2008-12-03
2,1000402,0,3,2,NaN,NaN,E119,NaN,2008-07-16
3,1000610,6,3,2,NaN,NaN,E119,NaN,2005-11-05
4,1000610,0,5,2,NaN,NaN,E112,NaN,2010-06-10
...,...,...,...,...,...,...,...,...,...
250364,6025367,12,2,2,NaN,NaN,E119,NaN,2017-02-11
250365,6025367,11,2,2,NaN,NaN,E119,NaN,2017-07-09
250366,6025367,6,4,2,NaN,NaN,E119,NaN,2015-09-04
250367,6025367,5,2,2,NaN,NaN,E119,NaN,2014-12-31
250368,6025367,4,4,2,NaN,NaN,E119,NaN,2014-10-20

Below we look at how many NaN values are in the epistart date. We see that it is only 20.

In [40]:
patients_with_type2_diabetes_with_dates.isnull().sum()

eid                   0
ins_index             0
arr_index             0
level                 0
diag_icd9        250369
diag_icd9_nb     250369
diag_icd10            0
diag_icd10_nb    246305
epistart             20
dtype: int64

Next we want to merge our values with those of the prediabetic patients. This will tell us if there are any patients we missed who developed diabetes, or possibly patients we should not account for who had diabetes before the measurements for prediabetes.

In [41]:
pd.options.display.max_columns = 14
prediabetic_hba1c_at_start_finding_more_diabetes = prediabetic_hba1c_at_start.merge(patients_with_type2_diabetes_with_dates[['eid', 'epistart']], on = 'eid')
prediabetic_hba1c_at_start_finding_more_diabetes

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart
0,5100710,2009-01-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-18
1,4647495,2008-12-05,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-03
2,5494714,2010-04-14,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-20
3,5494714,2010-04-14,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-08-29
4,5494714,2010-04-14,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-05-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18718,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-26
18719,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-05-11
18720,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-25
18721,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-26
18722,5011216,2009-11-26,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-12

Below we show the data types of the columns.

In [42]:
prediabetic_hba1c_at_start_finding_more_diabetes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18723 entries, 0 to 18722
Columns: 127 entries, eid to epistart
dtypes: datetime64[ns](1), float64(118), int64(1), object(7)
memory usage: 18.3+ MB

Our next goal is to find the patients who start off with prediabetic conditions, which is everyone in the above dataframe, and find out all the patients who are diagnosed with diabetes at a later date, both those who do and do not have a doctor diagnosis of diabetes as well. However, this will give us patients who developed diabetes from prediabetes that have NaN values after their original readings for the doctor diagnosed diabetes columns. This is why this method is very powerful and gives us many more targets than by just using the columns and nothing else. First we have to change 53-0.0, the date of attending the assessment centre, to datetime data type. WE USE THE DATES FROM 53-0.0 BECAUSE THIS REPRESENTS THE DATE WHEN THE ACTUAL BLOOD SAMPLES WERE TAKEN! THE GLUCOSE ASSAY DATES AND HBA1C ASSAY DATES DO NOT CORRESPOND TO THE ACTUAL TIME WHEN THE BLOOD WAS DRAWN USED TO TEST FOR THESE THINGS!

In [43]:
prediabetic_hba1c_at_start_finding_more_diabetes['53-0.0'] = pd.to_datetime(prediabetic_hba1c_at_start_finding_more_diabetes['53-0.0'])
prediabetic_hba1c_at_start_finding_more_diabetes

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart
0,5100710,2009-01-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-18
1,4647495,2008-12-05,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-03
2,5494714,2010-04-14,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-20
3,5494714,2010-04-14,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-08-29
4,5494714,2010-04-14,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-05-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18718,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-26
18719,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-05-11
18720,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-25
18721,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-26
18722,5011216,2009-11-26,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-12

First we need to drop duplicate eid numbers so that only the first epistart date is left which will be compared with the dates used to classify all the patients as prediabetic.

In [44]:
prediabetic_hba1c_at_start_finding_more_diabetes_sorted = prediabetic_hba1c_at_start_finding_more_diabetes.sort_values(by = ['eid', 'epistart'])
prediabetic_hba1c_at_start_finding_more_diabetes_sorted

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart
11464,1002432,2008-10-28,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-03
15791,1003245,2009-05-09,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2012-05-11
15790,1003245,2009-05-09,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2013-08-22
14042,1005686,2010-06-18,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-11
18403,1005936,2009-07-09,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18198,6025367,2008-10-25,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2014-10-20
18197,6025367,2008-10-25,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2014-12-31
18196,6025367,2008-10-25,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-09-04
18194,6025367,2008-10-25,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-11
18195,6025367,2008-10-25,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-09

Next we drop the rows by eid number keeping only the first eid value such that the first date of diabetes diagnosis is the only date remaining to be used for date comparisons.

In [45]:
prediabetic_hba1c_at_start_finding_more_diabetes_sorted_only_one_date = prediabetic_hba1c_at_start_finding_more_diabetes_sorted.drop_duplicates(subset = 'eid', keep = 'first')
prediabetic_hba1c_at_start_finding_more_diabetes_sorted_only_one_date

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart
11464,1002432,2008-10-28,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-02-03
15791,1003245,2009-05-09,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2012-05-11
14042,1005686,2010-06-18,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-11
18403,1005936,2009-07-09,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016-10-05
18006,1010949,2008-03-07,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2014-05-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10304,6021245,2010-06-28,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-15
18689,6021297,2008-03-14,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016-12-28
4925,6021801,2007-10-18,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2014-03-24
18717,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-24
18198,6025367,2008-10-25,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2014-10-20

Now that we have both the original assessment date when the patients were diagnosed as prediabetic and the date when the patients were diagnosed with diabetes, all we have to do is mark the patients who developed diabetes after the first assessment when they only had prediabetes. Below we create a column that marks True if the patient develops diabetes (epistart is later than the original assessment date) and false if the patient had diabetes before the original classification as a prediabetic.

In [46]:
prediabetic_hba1c_at_start_finding_more_diabetes_sorted_only_one_date['target'] = prediabetic_hba1c_at_start_finding_more_diabetes_sorted_only_one_date['53-0.0'] < prediabetic_hba1c_at_start_finding_more_diabetes_sorted_only_one_date['epistart']
prediabetic_hba1c_at_start_finding_more_diabetes_sorted_only_one_date

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart,target
11464,1002432,2008-10-28,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2020-02-03,True
15791,1003245,2009-05-09,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2012-05-11,True
14042,1005686,2010-06-18,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-04-11,True
18403,1005936,2009-07-09,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-10-05,True
18006,1010949,2008-03-07,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-05-31,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10304,6021245,2010-06-28,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-01-15,True
18689,6021297,2008-03-14,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-12-28,True
4925,6021801,2007-10-18,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-03-24,True
18717,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-04-24,True
18198,6025367,2008-10-25,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-10-20,True

Below we convert our test column to binary.

In [47]:
prediabetic_hba1c_at_start_finding_more_diabetes_sorted_only_one_date['target'] = prediabetic_hba1c_at_start_finding_more_diabetes_sorted_only_one_date["target"].astype(int)
prediabetic_hba1c_at_start_finding_more_diabetes_sorted_only_one_date

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart,target
11464,1002432,2008-10-28,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2020-02-03,1
15791,1003245,2009-05-09,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2012-05-11,1
14042,1005686,2010-06-18,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-04-11,1
18403,1005936,2009-07-09,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-10-05,1
18006,1010949,2008-03-07,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-05-31,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10304,6021245,2010-06-28,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-01-15,1
18689,6021297,2008-03-14,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-12-28,1
4925,6021801,2007-10-18,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-03-24,1
18717,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-04-24,1
18198,6025367,2008-10-25,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-10-20,1

Below we show the number of patients who had the HbA1c test that classified them as prediabetic which occurred before the epistart diabetes diagnosis of the patients.

In [48]:
prediabetic_hba1c_at_start_finding_more_diabetes_sorted_only_one_date_before = prediabetic_hba1c_at_start_finding_more_diabetes_sorted_only_one_date[(prediabetic_hba1c_at_start_finding_more_diabetes_sorted_only_one_date['target'] == 1)]
prediabetic_hba1c_at_start_finding_more_diabetes_sorted_only_one_date_before

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart,target
11464,1002432,2008-10-28,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2020-02-03,1
15791,1003245,2009-05-09,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2012-05-11,1
14042,1005686,2010-06-18,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-04-11,1
18403,1005936,2009-07-09,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-10-05,1
18006,1010949,2008-03-07,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-05-31,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10304,6021245,2010-06-28,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-01-15,1
18689,6021297,2008-03-14,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-12-28,1
4925,6021801,2007-10-18,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-03-24,1
18717,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-04-24,1
18198,6025367,2008-10-25,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-10-20,1

Below we create a list of these patients to remove these from the final dataframe since we already know what label to give them.

In [49]:
dfToList_diabetes_progression_hba1c = prediabetic_hba1c_at_start_finding_more_diabetes_sorted_only_one_date_before['eid'].tolist()
dfToList_diabetes_progression_hba1c

[1002432,
 1003245,
 1005686,
 1005936,
 1010949,
 1015296,
 1015458,
 1017443,
 1018119,
 1023747,
 1025329,
 1025738,
 1026392,
 1026995,
 1028632,
 1029631,
 1030454,
 1030597,
 1030664,
 1031126,
 1035809,
 1039510,
 1041652,
 1043112,
 1044679,
 1045572,
 1045764,
 1048428,
 1049177,
 1049710,
 1050272,
 1050906,
 1051949,
 1053340,
 1053530,
 1053984,
 1054030,
 1054983,
 1056771,
 1056980,
 1058047,
 1059072,
 1059157,
 1059778,
 1062113,
 1063541,
 1063856,
 1064008,
 1067304,
 1067408,
 1068154,
 1068684,
 1071227,
 1071847,
 1072550,
 1073047,
 1073266,
 1074213,
 1074377,
 1075927,
 1076087,
 1077768,
 1080623,
 1082118,
 1082423,
 1082529,
 1085404,
 1086687,
 1087122,
 1090411,
 1090737,
 1091279,
 1093438,
 1094700,
 1095304,
 1097020,
 1097522,
 1098087,
 1098102,
 1099336,
 1100345,
 1101247,
 1101705,
 1102744,
 1106188,
 1106386,
 1107695,
 1109310,
 1110064,
 1110221,
 1110458,
 1112001,
 1112966,
 1113401,
 1116252,
 1116486,
 1117478,
 1117673,
 1117850,
 1120584,
 1123652,
 1129596,
 1131274,
 1131281,
 1131953,
 1132014,
 1134948,
 1135191,
 1135640,
 1136727,
 1143969,
 1144722,
 1144929,
 1145728,
 1146076,
 1146302,
 1146655,
 1147334,
 1149894,
 1150077,
 1155756,
 1155977,
 1158495,
 1159657,
 1162617,
 1162725,
 1163243,
 1163491,
 1163714,
 1168537,
 1168541,
 1168744,
 1169859,
 1170440,
 1171370,
 1171579,
 1172360,
 1173123,
 1173687,
 1174456,
 1174474,
 1174831,
 1175525,
 1175633,
 1175837,
 1176411,
 1177063,
 1177141,
 1177736,
 1178344,
 1179607,
 1181760,
 1181858,
 1181923,
 1183579,
 1183617,
 1184954,
 1184961,
 1185008,
 1185015,
 1187825,
 1190010,
 1191365,
 1192446,
 1192821,
 1193061,
 1194812,
 1198884,
 1200204,
 1200285,
 1200313,
 1201409,
 1206774,
 1210066,
 1211578,
 1216130,
 1216783,
 1218791,
 1219544,
 1221055,
 1221687,
 1222249,
 1224310,
 1225110,
 1226317,
 1227437,
 1229756,
 1230541,
 1232328,
 1232606,
 1232864,
 1234259,
 1238008,
 1239022,
 1240657,
 1242986,
 1243249,
 1244003,
 1244102,
 1246373,
 1251066,
 1253389,
 1253888,
 1254123,
 1254915,
 1255760,
 1256395,
 1262362,
 1264930,
 1265592,
 1266038,
 1268793,
 1270550,
 1270687,
 1274794,
 1276294,
 1278128,
 1278727,
 1278888,
 1281323,
 1282265,
 1284270,
 1287603,
 1287658,
 1288434,
 1288820,
 1289097,
 1289515,
 1289582,
 1289758,
 1290891,
 1293683,
 1293995,
 1294178,
 1294432,
 1297622,
 1299471,
 1300608,
 1300641,
 1300888,
 1302149,
 1302619,
 1303664,
 1306203,
 1309328,
 1310794,
 1313335,
 1313823,
 1314099,
 1316246,
 1318790,
 1320468,
 1321494,
 1321663,
 1322064,
 1323245,
 1323848,
 1324286,
 1324532,
 1325843,
 1326229,
 1329025,
 1329609,
 1330228,
 1332125,
 1332391,
 1332924,
 1333408,
 1336894,
 1339302,
 1340223,
 1342260,
 1342353,
 1342774,
 1344038,
 1345290,
 1345746,
 1349057,
 1349895,
 1352484,
 1355710,
 1355905,
 1360126,
 1360253,
 1361975,
 1362787,
 1363729,
 1365129,
 1365287,
 1365736,
 1365822,
 1366238,
 1370453,
 1370663,
 1370745,
 1373153,
 1373291,
 1377382,
 1378688,
 1379263,
 1379735,
 1384651,
 1386043,
 1387931,
 1388005,
 1388960,
 1390726,
 1391405,
 1393484,
 1393778,
 1395324,
 1396946,
 1398597,
 1399151,
 1399568,
 1402356,
 1404980,
 1405191,
 1405345,
 1406300,
 1406749,
 1408616,
 1409646,
 1409801,
 1411488,
 1411582,
 1412629,
 1412823,
 1414911,
 1416156,
 1416190,
 1417557,
 1417756,
 1421390,
 1424022,
 1425185,
 1425217,
 1425371,
 1425667,
 1426133,
 1426464,
 1429751,
 1430033,
 1431085,
 1431798,
 1432235,
 1433532,
 1433621,
 1433766,
 1434498,
 1434523,
 1436687,
 1438638,
 1439070,
 1439257,
 1440457,
 1440488,
 1441283,
 1441813,
 1444134,
 1444857,
 1446251,
 1446917,
 1447081,
 1448511,
 1450207,
 1451663,
 1455478,
 1456158,
 1456480,
 1457139,
 1457246,
 1458637,
 1460003,
 1460087,
 1460370,
 1460514,
 1462400,
 1462435,
 1463783,
 1464169,
 1464785,
 1465407,
 1466336,
 1466380,
 1469083,
 1469395,
 1469431,
 1469582,
 1469667,
 1471029,
 1471265,
 1473481,
 1473567,
 1474675,
 1476060,
 1476431,
 1476582,
 1479030,
 1479934,
 1480932,
 1481602,
 1482482,
 1485044,
 1485116,
 1485120,
 1486418,
 1486893,
 1487884,
 1488114,
 1493507,
 1493731,
 1496728,
 1499205,
 1501720,
 1501839,
 1504644,
 1505046,
 1505568,
 1509563,
 1509574,
 1509779,
 1511653,
 1515971,
 1516312,
 1520943,
 1521269,
 1521549,
 1522082,
 1523248,
 1523533,
 1525160,
 1525773,
 1526507,
 1528249,
 1529890,
 1530035,
 1530826,
 1531624,
 1532438,
 1534372,
 1536094,
 1536597,
 1537412,
 1538215,
 1539447,
 1540145,
 1541668,
 1544825,
 1545430,
 1547794,
 1549328,
 1550435,
 1554291,
 1554701,
 1555192,
 1556343,
 1556466,
 1557798,
 1563084,
 1568331,
 1568609,
 1568634,
 1569548,
 1570379,
 1573440,
 1573636,
 1574489,
 1574877,
 1580508,
 1580624,
 1581565,
 1582095,
 1582397,
 1583274,
 1586922,
 1589516,
 1589568,
 1589803,
 1591362,
 1593234,
 1593707,
 1594307,
 1594587,
 1595279,
 1595511,
 1596480,
 1597431,
 1597488,
 1598438,
 1598682,
 1602015,
 1602107,
 1603078,
 1603906,
 1605666,
 1606086,
 1606581,
 1608363,
 1610834,
 1611022,
 1614374,
 1614532,
 1616110,
 1617744,
 1617758,
 1619074,
 1621821,
 1622025,
 1623865,
 1624883,
 1626011,
 1627126,
 1628297,
 1628427,
 1630513,
 1631030,
 1631426,
 1632112,
 1634359,
 1634384,
 1634655,
 1635195,
 1635382,
 1635689,
 1635756,
 1640224,
 1640429,
 1642322,
 1642580,
 1643291,
 1644005,
 1644997,
 1646369,
 1647725,
 1649504,
 1650701,
 1651644,
 1651687,
 1651761,
 1651834,
 1652319,
 1656152,
 1656389,
 1658285,
 1659003,
 1659904,
 1660973,
 1662448,
 1663562,
 1664220,
 1664712,
 1665277,
 1667074,
 1668387,
 1672557,
 1674007,
 1676625,
 1677879,
 1678423,
 1678819,
 1678874,
 1679124,
 1679650,
 1679935,
 1679993,
 1681148,
 1682072,
 1687552,
 1689096,
 1691798,
 1692465,
 1695287,
 1696106,
 1696373,
 1696420,
 1698022,
 1698568,
 1704757,
 1707329,
 1709048,
 1709364,
 1709778,
 1709941,
 1710725,
 1710855,
 1711090,
 1711660,
 1712843,
 1714679,
 1714718,
 1715501,
 1716469,
 1717994,
 1718356,
 1719289,
 1723895,
 1724774,
 1724781,
 1726459,
 1730591,
 1731597,
 1732933,
 1733018,
 1733062,
 1734632,
 1740817,
 1741179,
 1741626,
 1741929,
 1742251,
 1745546,
 1749678,
 1749939,
 1750104,
 1752657,
 1753420,
 1755161,
 1756230,
 1756428,
 1756871,
 1758795,
 1758901,
 1763790,
 1766718,
 1767964,
 1768615,
 1771239,
 1771695,
 1774150,
 1777708,
 1778941,
 1779614,
 1782427,
 1784291,
 1786377,
 1786752,
 1787572,
 1789820,
 1790086,
 1791639,
 1793360,
 1794891,
 1796719,
 1801208,
 1801589,
 1802738,
 1803005,
 1808368,
 1808406,
 1812992,
 1813303,
 1814566,
 1814881,
 1817917,
 1823459,
 1824039,
 1824145,
 1825647,
 1827683,
 1829035,
 1829112,
 1829321,
 1829339,
 1830941,
 1830970,
 1833427,
 1833531,
 1835206,
 1840590,
 1841476,
 1842852,
 1843103,
 1843721,
 1844957,
 1845769,
 1845856,
 1845881,
 1845949,
 1847094,
 1850068,
 1855645,
 1855902,
 1863599,
 1867990,
 1869193,
 1870353,
 1871530,
 1872265,
 1874554,
 1875641,
 1876538,
 1876894,
 1879732,
 1880502,
 1881775,
 1882361,
 1882389,
 1883056,
 1884221,
 1885092,
 1887943,
 1889263,
 1889754,
 1892766,
 1894082,
 1897173,
 1897385,
 1897711,
 1898324,
 1901252,
 1901763,
 1901921,
 1903610,
 1908972,
 1909906,
 1911746,
 1917396,
 1918563,
 1919872,
 1920612,
 1920821,
 1920885,
 1923808,
 1924244,
 1927160,
 1928293,
 1928838,
 1930189,
 1930934,
 1931227,
 1933589,
 1934940,
 1935028,
 1937369,
 1939865,
 1940471,
 1942788,
 1945326,
 1945509,
 1945673,
 1950836,
 1953112,
 1954328,
 1954777,
 1955145,
 1956659,
 1958935,
 1959359,
 1960000,
 1962050,
 1965136,
 1966839,
 1967069,
 1967943,
 1968191,
 1968614,
 1971730,
 1973526,
 1973753,
 1976386,
 1976852,
 1977313,
 1978619,
 1979597,
 1980452,
 1981795,
 1986566,
 1987266,
 1987499,
 1987762,
 1990629,
 1991012,
 1992832,
 1995283,
 1996291,
 1998225,
 1998281,
 1998373,
 1998700,
 1999424,
 2001238,
 2003384,
 2004560,
 2011465,
 2015569,
 2018898,
 2019929,
 2020030,
 2020243,
 2022238,
 2022281,
 2022735,
 2023640,
 2023704,
 2025359,
 2027240,
 2027576,
 2027612,
 2030448,
 2031018,
 2031580,
 2033847,
 2035166,
 2039759,
 2041451,
 2043717,
 2045731,
 2047652,
 2050953,
 2051017,
 2051127,
 2053283,
 2053646,
 2054167,
 2054766,
 2056266,
 2057624,
 2058050,
 2059645,
 2060069,
 2061564,
 2064270,
 2064360,
 2064873,
 2070338,
 2072920,
 2073694,
 2074596,
 2074929,
 2075568,
 2076045,
 2076927,
 2077589,
 2078430,
 2084347,
 2084541,
 2084769,
 2087136,
 2087643,
 2088036,
 2089640,
 2090818,
 2091047,
 2091376,
 2093444,
 2094063,
 2094166,
 2096568,
 2097442,
 2098121,
 2100892,
 2102516,
 2103181,
 2104320,
 2104431,
 2104703,
 2105394,
 2105592,
 2107434,
 2108099,
 2113300,
 2116973,
 2119243,
 2119355,
 2120274,
 2121826,
 2122928,
 2126110,
 2126144,
 2126309,
 2127964,
 2128608,
 2130654,
 2131772,
 2132511,
 2135705,
 2136815,
 2136997,
 2138526,
 2139320,
 2143563,
 2145305,
 2149604,
 2149847,
 2150051,
 2150243,
 2150296,
 2150911,
 2150997,
 2152915,
 2153334,
 2154533,
 2155261,
 2156855,
 2159183,
 2161987,
 2166687,
 2167100,
 2167671,
 2168304,
 2168642,
 2171118,
 2172975,
 2175338,
 2176768,
 2177742,
 2179036,
 2180564,
 2182088,
 2183217,
 2183431,
 2185554,
 2186958,
 2187625,
 2190594,
 2191069,
 2192229,
 2192397,
 2196946,
 2202854,
 2203751,
 2205105,
 2206293,
 2207535,
 2208353,
 2209853,
 2211840,
 2212139,
 2214102,
 2215660,
 2218429,
 2222094,
 2222125,
 2223000,
 2223559,
 2223568,
 2227402,
 2229177,
 2230559,
 2232176,
 2234928,
 2234934,
 2237159,
 2238191,
 2239099,
 2239274,
 2242089,
 2242891,
 2246166,
 2252003,
 2252430,
 2253372,
 2254645,
 2255700,
 2257637,
 2259978,
 2260049,
 2263614,
 2269160,
 2270365,
 2274292,
 2278189,
 2283179,
 2285458,
 2286868,
 2289339,
 2290106,
 2291992,
 2296919,
 2299166,
 2302834,
 2303047,
 2303309,
 2303851,
 2304832,
 2305508,
 2305553,
 2305825,
 2307303,
 2309548,
 2310214,
 2312394,
 2314129,
 2315140,
 2322101,
 2322249,
 2322452,
 2324369,
 2325095,
 2326021,
 2327198,
 2328960,
 2329449,
 2329617,
 2330395,
 2333577,
 2336770,
 2337477,
 2337527,
 ...]

Next we need to cut out all patients who were diagnosed with diabetes before the diagnosis of prediabetes.

In [50]:
prediabetic_hba1c_at_start_finding_more_diabetes_sorted_only_one_date_after = prediabetic_hba1c_at_start_finding_more_diabetes_sorted_only_one_date[(prediabetic_hba1c_at_start_finding_more_diabetes_sorted_only_one_date['target'] == 0)]
prediabetic_hba1c_at_start_finding_more_diabetes_sorted_only_one_date_after

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart,target
7598,1029593,2008-01-21,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2006-01-07,0
15174,1080360,2010-03-16,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008-08-09,0
18495,1204304,2010-03-05,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2007-10-15,0
312,1284851,2009-05-08,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2006-09-26,0
1501,1475776,2007-05-03,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2006-08-26,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11482,5600407,2008-03-01,NaN,NaN,15.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2007-09-10,0
8157,5648986,2009-12-14,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2006-09-05,0
15802,5695285,2009-01-15,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2004-08-23,0
11212,5748920,2009-04-17,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1999-11-25,0
11773,5899216,2009-08-28,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2009-02-08,0

Below we create a list of these patients to cut from the final dataframe of prediabetic patients.

In [51]:
dfToList_diabetes_before_prediabetes_hba1c = prediabetic_hba1c_at_start_finding_more_diabetes_sorted_only_one_date_after['eid'].tolist()
dfToList_diabetes_before_prediabetes_hba1c

[1029593,
 1080360,
 1204304,
 1284851,
 1475776,
 1482752,
 1607238,
 1623018,
 1705802,
 1720561,
 1723662,
 1835391,
 1947359,
 1953923,
 1965662,
 1998242,
 2047421,
 2063362,
 2079581,
 2176698,
 2413252,
 2559375,
 2670084,
 2782601,
 2828334,
 2854289,
 2866396,
 2908158,
 2926539,
 3035370,
 3105423,
 3107344,
 3145357,
 3147296,
 3189406,
 3456135,
 3493310,
 3527962,
 3630434,
 3649707,
 3690324,
 3693175,
 3693397,
 3726498,
 3809334,
 3846318,
 4053299,
 4164957,
 4168081,
 4284639,
 4505939,
 4771990,
 4926234,
 4948784,
 4997442,
 5045813,
 5246871,
 5346094,
 5600407,
 5648986,
 5695285,
 5748920,
 5899216]

# Blood Glucose

Next we create a dataframe containing only these patients.

In [52]:
possible_diabetes_self_diagnosis_blood_glucose = prediabetic_blood_glucose_at_start[['20002-0.0', '20002-0.1', '20002-0.2', '20002-0.3', '20002-0.4', '20002-0.5', '20002-0.6', '20002-0.7', '20002-0.8', '20002-0.9', '20002-0.10', '20002-0.11', '20002-0.12', '20002-0.13', '20002-0.14', '20002-0.15', '20002-0.16', '20002-0.17', '20002-0.18', '20002-0.19', '20002-0.20', '20002-0.21', '20002-0.22', '20002-0.23', '20002-0.24', '20002-0.25', '20002-0.26', '20002-0.27', '20002-0.28', '20002-0.29', '20002-0.30', '20002-0.31', '20002-0.32', '20002-0.33', '20002-1.0', '20002-1.1', '20002-1.2', '20002-1.3', '20002-1.4', '20002-1.5', '20002-1.6', '20002-1.7', '20002-1.8', '20002-1.9', '20002-1.10', '20002-1.11', '20002-1.12', '20002-1.13', '20002-1.14', '20002-1.15', '20002-1.16', '20002-1.17', '20002-1.18', '20002-1.19', '20002-1.20', '20002-1.21', '20002-1.22', '20002-1.23', '20002-1.24', '20002-1.25', '20002-1.26', '20002-1.27', '20002-1.28', '20002-1.29', '20002-1.30', '20002-1.31', '20002-1.32', '20002-1.33', '20002-2.0', '20002-2.1', '20002-2.2', '20002-2.3', '20002-2.4', '20002-2.5', '20002-2.6', '20002-2.7', '20002-2.8', '20002-2.9', '20002-2.10', '20002-2.11', '20002-2.12', '20002-2.13', '20002-2.14', '20002-2.15', '20002-2.16', '20002-2.17', '20002-2.18', '20002-2.19', '20002-2.20', '20002-2.21', '20002-2.22', '20002-2.23', '20002-2.24', '20002-2.25', '20002-2.26', '20002-2.27', '20002-2.28', '20002-2.29', '20002-2.30', '20002-2.31', '20002-2.32', '20002-2.33']]
possible_diabetes_self_diagnosis_blood_glucose

,20002-0.0,20002-0.1,20002-0.2,20002-0.3,20002-0.4,20002-0.5,20002-0.6,...,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
309,1453.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,1078.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1125,1065.0,1224.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501899,1065.0,1462.0,1377.0,1197.0,1516.0,1458.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501938,1111.0,1452.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502025,1111.0,1452.0,1387.0,1297.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502255,1111.0,1154.0,1312.0,1138.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Next we show all columns with the value 1223 which is the code for Type 2 diabetes. All columns marked True contain at least one value which is 1223. Therefore, we will continue our analysis with these columns.

In [53]:
pd.options.display.max_rows = 110
possible_diabetes_self_diagnosis_blood_glucose.isin([1223]).any()

20002-0.0     False
20002-0.1     False
20002-0.2      True
20002-0.3     False
20002-0.4     False
20002-0.5     False
20002-0.6     False
20002-0.7     False
20002-0.8     False
20002-0.9     False
20002-0.10    False
20002-0.11    False
20002-0.12    False
20002-0.13    False
20002-0.14    False
20002-0.15    False
20002-0.16    False
20002-0.17    False
20002-0.18    False
20002-0.19    False
20002-0.20    False
20002-0.21    False
20002-0.22    False
20002-0.23    False
20002-0.24    False
20002-0.25    False
20002-0.26    False
20002-0.27    False
20002-0.28    False
20002-0.29    False
20002-0.30    False
20002-0.31    False
20002-0.32    False
20002-0.33    False
20002-1.0     False
20002-1.1     False
20002-1.2     False
20002-1.3     False
20002-1.4     False
20002-1.5     False
20002-1.6     False
20002-1.7     False
20002-1.8     False
20002-1.9     False
20002-1.10    False
20002-1.11    False
20002-1.12    False
20002-1.13    False
20002-1.14    False
20002-1.15    False
20002-1.16    False
20002-1.17    False
20002-1.18    False
20002-1.19    False
20002-1.20    False
20002-1.21    False
20002-1.22    False
20002-1.23    False
20002-1.24    False
20002-1.25    False
20002-1.26    False
20002-1.27    False
20002-1.28    False
20002-1.29    False
20002-1.30    False
20002-1.31    False
20002-1.32    False
20002-1.33    False
20002-2.0      True
20002-2.1     False
20002-2.2     False
20002-2.3     False
20002-2.4     False
20002-2.5     False
20002-2.6     False
20002-2.7     False
20002-2.8     False
20002-2.9     False
20002-2.10    False
20002-2.11    False
20002-2.12    False
20002-2.13    False
20002-2.14    False
20002-2.15    False
20002-2.16    False
20002-2.17    False
20002-2.18    False
20002-2.19    False
20002-2.20    False
20002-2.21    False
20002-2.22    False
20002-2.23    False
20002-2.24    False
20002-2.25    False
20002-2.26    False
20002-2.27    False
20002-2.28    False
20002-2.29    False
20002-2.30    False
20002-2.31    False
20002-2.32    False
20002-2.33    False
dtype: bool

Next we search for patients who self-diagnose themselves with diabetes.

In [54]:
pd.options.display.max_rows = 10
self_diagnosed_diabetics_blood_glucose = prediabetic_blood_glucose_at_start[(prediabetic_blood_glucose_at_start['20002-0.2'] == 1223) | (prediabetic_blood_glucose_at_start['20002-2.0'] == 1223)]
self_diagnosed_diabetics_blood_glucose

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
197820,1239607,2007-12-22,2012-08-29,2017-05-20,15.0,7.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238127,5849058,2009-05-14,NaN,NaN,15.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Different groups of patients we need to search for:

1. Patients who are not diagnosed with diabetes at starting time but are self-diagnosed at starting time - cut them from dataframe
2. Patients who are diagnosed with diabetes at starting time by doctor - cut from dataframe
3. Patients who are not diagnosed with diabetes ever, but do self-diagnose themselves after the starting date (in -1.X or -2.X columns) - Keep them in the dataframe
4. Patients who are diagnosed with diabetes by doctor after first tests - keep them in the dataframe

Next we search for all prediabetic symptom patients without being diagnosed by a doctor with diabetes. There are 2 prediabetic patients who are not initially diagnosed with diabetes by a doctor, but who have self-diagnosed themselves with diabetes at some point.

In [55]:
only_self_diagnosed_diabetics_blood_glucose = self_diagnosed_diabetics_blood_glucose[self_diagnosed_diabetics_blood_glucose['Diabetes Diagnosed 1'] == 0]
only_self_diagnosed_diabetics_blood_glucose

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
197820,1239607,2007-12-22,2012-08-29,2017-05-20,15.0,7.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238127,5849058,2009-05-14,NaN,NaN,15.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Next we have to see when these patients self-diganosed themselves with diabetes. If they were self-diagnosed in the 20002-0.X columns, we must remove them from the dataframe. Otherwise, they would have progressed to having diabetes and we will have to check if these patients were also diagnosed by a doctor for diabetes.

Below we show all patients who self-diagnose themselves with diabetes, but are not diagnosed with diabetes by a doctor at the start. We will still cut these patients from the dataframe as if they were true diabetic patients.

In [56]:
diabetes_at_start_blood_glucose = only_self_diagnosed_diabetics_blood_glucose[((only_self_diagnosed_diabetics_blood_glucose['20002-0.0'] == 1223) | (only_self_diagnosed_diabetics_blood_glucose['20002-0.1'] == 1223) | (only_self_diagnosed_diabetics_blood_glucose['20002-0.2'] == 1223) | (only_self_diagnosed_diabetics_blood_glucose['20002-0.3'] == 1223) | (only_self_diagnosed_diabetics_blood_glucose['20002-0.4'] == 1223) | (only_self_diagnosed_diabetics_blood_glucose['20002-0.5'] == 1223) | (only_self_diagnosed_diabetics_blood_glucose['20002-0.6'] == 1223)) & (only_self_diagnosed_diabetics_blood_glucose['Diabetes Diagnosed 1'] == 0)]
diabetes_at_start_blood_glucose

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
238127,5849058,2009-05-14,NaN,NaN,15.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below we create a list of the patient eid numbers so that we can cut them from the dataframe.

In [57]:
dfToList_diabetes_at_start_blood_glucose = diabetes_at_start_blood_glucose['eid'].tolist()
dfToList_diabetes_at_start_blood_glucose

[5849058]

Now we filter these patients from the final dataframe of prediabetic patients.

In [58]:
prediabetic_blood_glucose_at_start = prediabetic_blood_glucose_at_start[~prediabetic_blood_glucose_at_start.eid.isin(dfToList_diabetes_at_start_blood_glucose)]
prediabetic_blood_glucose_at_start

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
309,2371061,2007-08-04,NaN,NaN,14.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
584,3288614,2009-01-15,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,2570774,2008-07-18,NaN,NaN,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1125,4512530,2009-04-01,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1443,1230667,2008-01-26,NaN,NaN,21.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501899,3774941,2009-11-12,NaN,NaN,13.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501938,3624451,2009-05-07,NaN,NaN,13.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501989,6022522,2008-02-01,NaN,NaN,15.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502025,2043876,2010-06-05,NaN,NaN,13.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502255,5612713,2008-04-17,NaN,NaN,14.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Extra progression to diabetes labels in next cell

Below we show that the remaining patients who self-diagnose themselves do so after the first tests are performed. Therefore, we can label these patients as progressing to diabetes even if they are not diagnosed by a doctor for diabetes.

In [59]:
pd.options.display.max_columns = 125
pd.options.display.max_rows = 100
self_diagnosed_diabetics_some_not_doctor_diagnosed_blood_glucose = only_self_diagnosed_diabetics_blood_glucose[(only_self_diagnosed_diabetics_blood_glucose['20002-1.0'] == 1223) | (only_self_diagnosed_diabetics_blood_glucose['20002-2.0'] == 1223)]
self_diagnosed_diabetics_some_not_doctor_diagnosed_blood_glucose
# 1 patient in total

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,Diabetes Diagnosed 1,Diabetes Diagnosed 2,Diabetes Diagnosed 3,Age Diabetes Diagnosed 1,Age Diabetes Diagnosed 2,Age Diabetes Diagnosed 3,Gestational Diabetes Only 1,Gestational Diabetes Only 2,Gestational Diabetes Only 3,Blood Glucose Level 1,Blood Glucose level 2,Glucose Assay Date 1,Glucose Assay Date 2,HbA1c 1,HbA1c 2,HbA1c Assay Date 1,HbA1c Assay Date 2,20002-0.0,20002-0.1,20002-0.2,20002-0.3,20002-0.4,20002-0.5,20002-0.6,20002-0.7,20002-0.8,20002-0.9,20002-0.10,20002-0.11,20002-0.12,20002-0.13,20002-0.14,20002-0.15,20002-0.16,20002-0.17,20002-0.18,20002-0.19,20002-0.20,20002-0.21,20002-0.22,20002-0.23,20002-0.24,20002-0.25,20002-0.26,20002-0.27,20002-0.28,20002-0.29,20002-0.30,20002-0.31,20002-0.32,20002-0.33,20002-1.0,20002-1.1,20002-1.2,20002-1.3,...,20002-1.6,20002-1.7,20002-1.8,20002-1.9,20002-1.10,20002-1.11,20002-1.12,20002-1.13,20002-1.14,20002-1.15,20002-1.16,20002-1.17,20002-1.18,20002-1.19,20002-1.20,20002-1.21,20002-1.22,20002-1.23,20002-1.24,20002-1.25,20002-1.26,20002-1.27,20002-1.28,20002-1.29,20002-1.30,20002-1.31,20002-1.32,20002-1.33,20002-2.0,20002-2.1,20002-2.2,20002-2.3,20002-2.4,20002-2.5,20002-2.6,20002-2.7,20002-2.8,20002-2.9,20002-2.10,20002-2.11,20002-2.12,20002-2.13,20002-2.14,20002-2.15,20002-2.16,20002-2.17,20002-2.18,20002-2.19,20002-2.20,20002-2.21,20002-2.22,20002-2.23,20002-2.24,20002-2.25,20002-2.26,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
197820,1239607,2007-12-22,2012-08-29,2017-05-20,15.0,7.0,3.0,0.0,0.0,1.0,NaN,NaN,49.0,NaN,NaN,-2.0,5.633,4.487,2016-01-21,2017-01-06,36.4,NaN,2015-08-28,NaN,1111.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1111.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below we show that all patients who self-diagnosed themselves with diabetes after the first reading also did not get diagnosed by a doctor for diabetes at the first reading. We keep these patients in the dataframe and will label them as progressing to diabetes.

In [60]:
pd.options.display.max_rows = 10
pd.options.display.max_columns = 10
only_self_diagnosed_diabetics_blood_glucose_progressing_to_diabetes = only_self_diagnosed_diabetics_blood_glucose[((only_self_diagnosed_diabetics_blood_glucose['20002-1.0'] == 1223) | (only_self_diagnosed_diabetics_blood_glucose['20002-2.0'] == 1223)) & (only_self_diagnosed_diabetics_blood_glucose['Diabetes Diagnosed 1'] == 0)]
only_self_diagnosed_diabetics_blood_glucose_progressing_to_diabetes

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,...,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
197820,1239607,2007-12-22,2012-08-29,2017-05-20,15.0,...,NaN,NaN,NaN,NaN,NaN

Below we keep a list of the patients above as progressing to diabetes for future labeling.

In [61]:
dfToList_diabetes_progression_without_doctor_diagnosis_blood_glucose = only_self_diagnosed_diabetics_blood_glucose_progressing_to_diabetes['eid'].tolist()
dfToList_diabetes_progression_without_doctor_diagnosis_blood_glucose

[1239607]

Next we want to merge our values with those of the prediabetic patients. This will tell us if there are any patients we missed who developed diabetes, or possibly patients we should not account for who had diabetes before the measurements for prediabetes.

In [62]:
pd.options.display.max_columns = 14
prediabetic_blood_glucose_at_start_finding_more_diabetes = prediabetic_blood_glucose_at_start.merge(patients_with_type2_diabetes_with_dates[['eid', 'epistart']], on = 'eid')
prediabetic_blood_glucose_at_start_finding_more_diabetes

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart
0,3374375,2007-12-18,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016-11-03
1,3970193,2008-02-21,NaN,NaN,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016-08-18
2,3970193,2008-02-21,NaN,NaN,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-02
3,1949485,2008-11-03,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-20
4,2942409,2008-07-10,NaN,NaN,13.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302,4210556,2010-03-19,NaN,NaN,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2012-07-17
1303,4210556,2010-03-19,NaN,NaN,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2012-12-18
1304,4210556,2010-03-19,NaN,NaN,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2012-08-17
1305,5612713,2008-04-17,NaN,NaN,14.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-23
1306,5612713,2008-04-17,NaN,NaN,14.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-07

Below we show the data types of the columns.

In [63]:
prediabetic_blood_glucose_at_start_finding_more_diabetes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1307 entries, 0 to 1306
Columns: 127 entries, eid to epistart
dtypes: datetime64[ns](1), float64(118), int64(1), object(7)
memory usage: 1.3+ MB

Our next goal is to find the patients who start off with prediabetic conditions, which is everyone in the above dataframe, and find out all the patients who are diagnosed with diabetes at a later date, both those who do and do not have a doctor diagnosis of diabetes as well. However, this will give us patients who developed diabetes from prediabetes that have NaN values after their original readings for the doctor diagnosed diabetes columns. This is why this method is very powerful and gives us many more targets than by just using the columns and nothing else. First we have to change 53-0.0, the date of attending the assessment centre, to datetime data type.

In [64]:
prediabetic_blood_glucose_at_start_finding_more_diabetes['53-0.0'] = pd.to_datetime(prediabetic_blood_glucose_at_start_finding_more_diabetes['53-0.0'])
prediabetic_blood_glucose_at_start_finding_more_diabetes

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart
0,3374375,2007-12-18,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016-11-03
1,3970193,2008-02-21,NaN,NaN,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016-08-18
2,3970193,2008-02-21,NaN,NaN,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-07-02
3,1949485,2008-11-03,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-20
4,2942409,2008-07-10,NaN,NaN,13.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-04-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302,4210556,2010-03-19,NaN,NaN,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2012-07-17
1303,4210556,2010-03-19,NaN,NaN,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2012-12-18
1304,4210556,2010-03-19,NaN,NaN,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2012-08-17
1305,5612713,2008-04-17,NaN,NaN,14.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-23
1306,5612713,2008-04-17,NaN,NaN,14.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-07

We need to drop duplicate eid numbers so that only the first epistart date is left which will be compared with the dates used to classify all the patients as prediabetic. To do this we first sort the dataframe by eid number and increasing dates within an eid number.

In [65]:
prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted = prediabetic_blood_glucose_at_start_finding_more_diabetes.sort_values(by = ['eid', 'epistart'])
prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart
968,1019343,2010-01-08,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2012-11-15
965,1019343,2010-01-08,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016-05-13
961,1019343,2010-01-08,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016-05-16
966,1019343,2010-01-08,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016-05-21
969,1019343,2010-01-08,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016-05-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
733,5875904,2009-08-29,NaN,NaN,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-06-23
698,5935187,2008-05-15,NaN,NaN,16.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-19
257,5949556,2009-04-17,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-02-27
735,5984794,2008-04-24,NaN,NaN,11.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-03-27
734,5984794,2008-04-24,NaN,NaN,11.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-03-28

Next we drop the rows by eid number keeping only the first eid value such that the first date of diabetes diagnosis is the only date remaining to be used for date comparisons.

In [66]:
prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted_only_one_date = prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted.drop_duplicates(subset = 'eid', keep = 'first')
prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted_only_one_date

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart
968,1019343,2010-01-08,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2012-11-15
998,1024217,2008-02-28,NaN,NaN,17.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2012-08-09
1207,1073047,2008-06-04,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-05
183,1083708,2008-03-13,NaN,NaN,13.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-31
1097,1091279,2008-04-17,NaN,NaN,16.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849,5871602,2009-06-01,NaN,2015-05-24,16.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2012-01-28
733,5875904,2009-08-29,NaN,NaN,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-06-23
698,5935187,2008-05-15,NaN,NaN,16.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-19
257,5949556,2009-04-17,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-02-27
735,5984794,2008-04-24,NaN,NaN,11.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-03-27

Now that we have both the original assessment date when the patients were diagnosed as prediabetic and the date when the patients were diagnosed with diabetes, all we have to do is mark the patients who developed diabetes after the first assessment when they only had prediabetes. Below we create a column that marks True if the patient develops diabetes (epistart is later than the original assessment date) and false if the patient had diabetes before the original classification as a prediabetic.

In [67]:
prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted_only_one_date['target'] = prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted_only_one_date['53-0.0'] < prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted_only_one_date['epistart']
prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted_only_one_date

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart,target
968,1019343,2010-01-08,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2012-11-15,True
998,1024217,2008-02-28,NaN,NaN,17.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2012-08-09,True
1207,1073047,2008-06-04,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2018-03-05,True
183,1083708,2008-03-13,NaN,NaN,13.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-07-31,True
1097,1091279,2008-04-17,NaN,NaN,16.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2018-12-20,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849,5871602,2009-06-01,NaN,2015-05-24,16.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,2012-01-28,True
733,5875904,2009-08-29,NaN,NaN,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2020-06-23,True
698,5935187,2008-05-15,NaN,NaN,16.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2018-10-19,True
257,5949556,2009-04-17,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-02-27,True
735,5984794,2008-04-24,NaN,NaN,11.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-03-27,True

Below we convert our test column to binary.

In [68]:
prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted_only_one_date['target'] = prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted_only_one_date["target"].astype(int)
prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted_only_one_date

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart,target
968,1019343,2010-01-08,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2012-11-15,1
998,1024217,2008-02-28,NaN,NaN,17.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2012-08-09,1
1207,1073047,2008-06-04,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2018-03-05,1
183,1083708,2008-03-13,NaN,NaN,13.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-07-31,1
1097,1091279,2008-04-17,NaN,NaN,16.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2018-12-20,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849,5871602,2009-06-01,NaN,2015-05-24,16.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,2012-01-28,1
733,5875904,2009-08-29,NaN,NaN,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2020-06-23,1
698,5935187,2008-05-15,NaN,NaN,16.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2018-10-19,1
257,5949556,2009-04-17,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-02-27,1
735,5984794,2008-04-24,NaN,NaN,11.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-03-27,1

Below we show the number of patients who had the Blood Glucose test that classified them as prediabetic which occurred before the epistart diabetes diagnosis of the patients.

In [69]:
prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted_only_one_date_before = prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted_only_one_date[(prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted_only_one_date['target'] == 1)]
prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted_only_one_date_before

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart,target
968,1019343,2010-01-08,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2012-11-15,1
998,1024217,2008-02-28,NaN,NaN,17.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2012-08-09,1
1207,1073047,2008-06-04,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2018-03-05,1
183,1083708,2008-03-13,NaN,NaN,13.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014-07-31,1
1097,1091279,2008-04-17,NaN,NaN,16.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2018-12-20,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849,5871602,2009-06-01,NaN,2015-05-24,16.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,2012-01-28,1
733,5875904,2009-08-29,NaN,NaN,8.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2020-06-23,1
698,5935187,2008-05-15,NaN,NaN,16.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2018-10-19,1
257,5949556,2009-04-17,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-02-27,1
735,5984794,2008-04-24,NaN,NaN,11.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2019-03-27,1

Below we create a list of these patients to remove these from the final dataframe since we already know what label to give them.

In [70]:
dfToList_diabetes_progression_blood_glucose = prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted_only_one_date_before['eid'].tolist()
dfToList_diabetes_progression_blood_glucose

[1019343,
 1024217,
 1073047,
 1083708,
 1091279,
 1094263,
 1123902,
 1142652,
 1169859,
 1174134,
 1198884,
 1207400,
 1225907,
 1239607,
 1281634,
 1297087,
 1318774,
 1325843,
 1328712,
 1340839,
 1342774,
 1350285,
 1425217,
 1436687,
 1441283,
 1521232,
 1528249,
 1542832,
 1586770,
 1630865,
 1643573,
 1651687,
 1665277,
 1667505,
 1701842,
 1766718,
 1769889,
 1796867,
 1800310,
 1808423,
 1810335,
 1815010,
 1826307,
 1834497,
 1857301,
 1862331,
 1894070,
 1903099,
 1932013,
 1938564,
 1947431,
 1949485,
 1979597,
 1996323,
 2001834,
 2002264,
 2026276,
 2042956,
 2045731,
 2060719,
 2076825,
 2078075,
 2084541,
 2092116,
 2100300,
 2131772,
 2133533,
 2135705,
 2145700,
 2171118,
 2195193,
 2221306,
 2222094,
 2253027,
 2253221,
 2278027,
 2278189,
 2302471,
 2325718,
 2355832,
 2370543,
 2386324,
 2432745,
 2447171,
 2448692,
 2449416,
 2462401,
 2469595,
 2508863,
 2513181,
 2565441,
 2570120,
 2573584,
 2590357,
 2604062,
 2613076,
 2614142,
 2627975,
 2631643,
 2661566,
 2679509,
 2680677,
 2699033,
 2702469,
 2711010,
 2711159,
 2739452,
 2775856,
 2785755,
 2787997,
 2790532,
 2831577,
 2835376,
 2863296,
 2864713,
 2875542,
 2881957,
 2899905,
 2941539,
 2942409,
 2966851,
 2979718,
 3000366,
 3013867,
 3030727,
 3070583,
 3142414,
 3166748,
 3222033,
 3241148,
 3245217,
 3263322,
 3298668,
 3305642,
 3316123,
 3319066,
 3326911,
 3372729,
 3374375,
 3422329,
 3451485,
 3453533,
 3512722,
 3517664,
 3518291,
 3520516,
 3545625,
 3550247,
 3557374,
 3557510,
 3558165,
 3562635,
 3571464,
 3592664,
 3599359,
 3635035,
 3636890,
 3759549,
 3768935,
 3793602,
 3804261,
 3816246,
 3818738,
 3826360,
 3851411,
 3857967,
 3887965,
 3898070,
 3907553,
 3923303,
 3924118,
 3962298,
 3970193,
 4057626,
 4141616,
 4161124,
 4180368,
 4184361,
 4193091,
 4199920,
 4210556,
 4265131,
 4270541,
 4309199,
 4333102,
 4338018,
 4339226,
 4342140,
 4344385,
 4346427,
 4383418,
 4383878,
 4434562,
 4437981,
 4443912,
 4445455,
 4471723,
 4477031,
 4533127,
 4558984,
 4584771,
 4588336,
 4594442,
 4637823,
 4659585,
 4676836,
 4682973,
 4743736,
 4772026,
 4797723,
 4800556,
 4803175,
 4811974,
 4821603,
 4829506,
 4836935,
 4876777,
 4927612,
 4928019,
 4955387,
 4956294,
 4969200,
 4973018,
 4979870,
 5000172,
 5000307,
 5002439,
 5023559,
 5053491,
 5079168,
 5089965,
 5098892,
 5148749,
 5150010,
 5158802,
 5167693,
 5183888,
 5195308,
 5212987,
 5227493,
 5231145,
 5242522,
 5294462,
 5380960,
 5391653,
 5469898,
 5478128,
 5479210,
 5486616,
 5501568,
 5513735,
 5517108,
 5564375,
 5579857,
 5584790,
 5590101,
 5599911,
 5609963,
 5612713,
 5639655,
 5646470,
 5650983,
 5669605,
 5684821,
 5687112,
 5736812,
 5751322,
 5765568,
 5787579,
 5789562,
 5794583,
 5820942,
 5821145,
 5833018,
 5871602,
 5875904,
 5935187,
 5949556,
 5984794]

Below we show the patients who were diagnosed with diabetes before their blood was drawn. These patients must be cut from the total dataframe.

In [71]:
prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted_only_one_date_after = prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted_only_one_date[(prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted_only_one_date['target'] == 0)]
prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted_only_one_date_after

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart,target
1156,3105423,2008-09-20,NaN,NaN,12.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008-07-11,0
372,3703097,2009-06-24,NaN,NaN,20.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008-08-19,0
708,3723020,2008-09-29,NaN,NaN,14.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2004-01-15,0
1217,4001962,2009-07-13,NaN,NaN,9.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2005-05-12,0
1152,4137297,2010-06-18,NaN,NaN,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2010-05-13,0
403,4612704,2007-10-19,NaN,NaN,15.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2006-09-29,0
731,5600407,2008-03-01,NaN,NaN,15.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2007-09-10,0

Below we create a list of the patients who must be cut from the final dataframe of prediabetic patients.

In [72]:
dfToList_diabetes_before_prediabetes_blood_glucose = prediabetic_blood_glucose_at_start_finding_more_diabetes_sorted_only_one_date_after['eid'].tolist()
dfToList_diabetes_before_prediabetes_blood_glucose

[3105423, 3703097, 3723020, 4001962, 4137297, 4612704, 5600407]

Below we import our dataframe so that we can find the patients who have prediabetes to start the study.

In [73]:
merged_for_prediabetes_before_drop_of_diabetics = pd.read_csv('merged_prediabetes_information')
merged_for_prediabetes_before_drop_of_diabetics

,Unnamed: 0,eid,53-0.0,53-1.0,53-2.0,74-0.0,74-1.0,...,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
0,0,2075783,2008-06-06,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,4345775,2008-06-13,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,5686018,2008-02-09,2012-09-24,NaN,5.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3907457,2008-01-31,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,3160513,2008-09-08,NaN,2017-12-06,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502499,502499,2054859,2007-11-03,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502500,502500,3268102,2009-08-14,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502501,502501,2793268,2009-10-15,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502502,502502,4922013,2008-10-18,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502503,502503,4036069,2010-05-06,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below we rename some columns so that we know exactly what they are.

In [74]:
merged_for_prediabetes_before_drop_of_diabetics = merged_for_prediabetes_before_drop_of_diabetics.rename(columns={'74-0.0' : 'Fasting Time 1', '74-1.0' : 'Fasting Time 2', '74-2.0' : 'Fasting Time 3', '2443-0.0' : 'Diabetes Diagnosed 1', '2443-1.0' : 'Diabetes Diagnosed 2', '2443-2.0' : 'Diabetes Diagnosed 3', '2976-0.0' : 'Age Diabetes Diagnosed 1', '2976-1.0' : 'Age Diabetes Diagnosed 2', '2976-2.0' : 'Age Diabetes Diagnosed 3', '4041-0.0' : 'Gestational Diabetes Only 1', '4041-1.0' : 'Gestational Diabetes Only 2', '4041-2.0' : 'Gestational Diabetes Only 3',  '30740-0.0': "Blood Glucose Level 1", '30740-1.0': "Blood Glucose level 2", '30741-0.0': "Glucose Assay Date 1", '30741-1.0': "Glucose Assay Date 2", '30750-0.0': "HbA1c 1", '30750-1.0': "HbA1c 2", '30751-0.0': "HbA1c Assay Date 1", '30751-1.0': "HbA1c Assay Date 2"})
merged_for_prediabetes_before_drop_of_diabetics = merged_for_prediabetes_before_drop_of_diabetics.drop('Unnamed: 0', axis = 1)
merged_for_prediabetes_before_drop_of_diabetics

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
0,2075783,2008-06-06,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4345775,2008-06-13,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5686018,2008-02-09,2012-09-24,NaN,5.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3907457,2008-01-31,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3160513,2008-09-08,NaN,2017-12-06,3.0,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502499,2054859,2007-11-03,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502500,3268102,2009-08-14,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502501,2793268,2009-10-15,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502502,4922013,2008-10-18,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502503,4036069,2010-05-06,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below we import all patients who have an ICD code of prediabetic.

In [75]:
prediabetes_with_dates = pd.read_csv('patients_with_prediabetes_with_dates')
prediabetes_with_dates = prediabetes_with_dates.drop(columns = ['Unnamed: 0'])
prediabetes_with_dates

,eid,ins_index,arr_index,level,diag_icd9,diag_icd9_nb,diag_icd10,diag_icd10_nb,epistart
0,1006294,37,3,2,NaN,NaN,R739,NaN,12/02/2018
1,1007537,0,3,2,NaN,NaN,R730,NaN,06/06/2019
2,1008393,2,1,2,NaN,NaN,R739,NaN,26/04/2011
3,1010613,0,0,1,NaN,NaN,R739,NaN,07/06/2010
4,1011449,12,5,2,NaN,NaN,R730,NaN,03/02/2020
...,...,...,...,...,...,...,...,...,...
3794,6017167,3,3,2,NaN,NaN,R730,NaN,09/12/2019
3795,6019270,5,9,2,NaN,NaN,R730,NaN,24/09/2020
3796,6020217,7,12,2,NaN,NaN,R730,NaN,19/08/2020
3797,6021943,1,3,2,NaN,NaN,R739,NaN,11/08/2020
3798,6022830,0,1,2,NaN,NaN,R730,NaN,26/06/2006

Below we show the number of actual patients in this new sample group.

In [76]:
prediabetes_with_dates.drop_duplicates(subset = 'eid')

,eid,ins_index,arr_index,level,diag_icd9,diag_icd9_nb,diag_icd10,diag_icd10_nb,epistart
0,1006294,37,3,2,NaN,NaN,R739,NaN,12/02/2018
1,1007537,0,3,2,NaN,NaN,R730,NaN,06/06/2019
2,1008393,2,1,2,NaN,NaN,R739,NaN,26/04/2011
3,1010613,0,0,1,NaN,NaN,R739,NaN,07/06/2010
4,1011449,12,5,2,NaN,NaN,R730,NaN,03/02/2020
...,...,...,...,...,...,...,...,...,...
3794,6017167,3,3,2,NaN,NaN,R730,NaN,09/12/2019
3795,6019270,5,9,2,NaN,NaN,R730,NaN,24/09/2020
3796,6020217,7,12,2,NaN,NaN,R730,NaN,19/08/2020
3797,6021943,1,3,2,NaN,NaN,R739,NaN,11/08/2020
3798,6022830,0,1,2,NaN,NaN,R730,NaN,26/06/2006

Below we make a list of all eid numbers for these patients.

In [77]:
dfToList_prediabetes_with_dates = prediabetes_with_dates['eid'].tolist()
dfToList_prediabetes_with_dates

[1006294,
 1007537,
 1008393,
 1010613,
 1011449,
 1011449,
 1011449,
 1011449,
 1011449,
 1011449,
 1011962,
 1011962,
 1013036,
 1013036,
 1013036,
 1014004,
 1017269,
 1019396,
 1019396,
 1019396,
 1019396,
 1020786,
 1020786,
 1021189,
 1022728,
 1024680,
 1025738,
 1025738,
 1026846,
 1029208,
 1029688,
 1030702,
 1032950,
 1040790,
 1044718,
 1044919,
 1047778,
 1048696,
 1049423,
 1050516,
 1050516,
 1050516,
 1050674,
 1051881,
 1053505,
 1053846,
 1055445,
 1055591,
 1055677,
 1055794,
 1058522,
 1062014,
 1067255,
 1067321,
 1067321,
 1067321,
 1070410,
 1070616,
 1072495,
 1073132,
 1074343,
 1075479,
 1076801,
 1078042,
 1078042,
 1078115,
 1079176,
 1086312,
 1087841,
 1088760,
 1088760,
 1092549,
 1092549,
 1094789,
 1094789,
 1095516,
 1095516,
 1096278,
 1096278,
 1097144,
 1097522,
 1099911,
 1102492,
 1102726,
 1105902,
 1105902,
 1106809,
 1106809,
 1111155,
 1111802,
 1116010,
 1116102,
 1116102,
 1117612,
 1119987,
 1120236,
 1121406,
 1121406,
 1121406,
 1121406,
 1121406,
 1121406,
 1121406,
 1122666,
 1122666,
 1122666,
 1124894,
 1126174,
 1127366,
 1127366,
 1130822,
 1130878,
 1132782,
 1132794,
 1132794,
 1132794,
 1132794,
 1132794,
 1136749,
 1137321,
 1137321,
 1141511,
 1142861,
 1146097,
 1147345,
 1148405,
 1149731,
 1150857,
 1151866,
 1151866,
 1154699,
 1154973,
 1154973,
 1156477,
 1157230,
 1157363,
 1157575,
 1157575,
 1157587,
 1160037,
 1160759,
 1162102,
 1167926,
 1171872,
 1171872,
 1177485,
 1179377,
 1181760,
 1183329,
 1183329,
 1185649,
 1189129,
 1189129,
 1189129,
 1189129,
 1189232,
 1190464,
 1190719,
 1191748,
 1192303,
 1193470,
 1202644,
 1204343,
 1205613,
 1207223,
 1209629,
 1209903,
 1218570,
 1221398,
 1225942,
 1225942,
 1227760,
 1233179,
 1234295,
 1235714,
 1236685,
 1237421,
 1239343,
 1245115,
 1245115,
 1247117,
 1247976,
 1247976,
 1250452,
 1251375,
 1251375,
 1251375,
 1261399,
 1261911,
 1262248,
 1262248,
 1264302,
 1269158,
 1278442,
 1279042,
 1279042,
 1279194,
 1280918,
 1280918,
 1283674,
 1283674,
 1283728,
 1285077,
 1289881,
 1289881,
 1294336,
 1299761,
 1299761,
 1308937,
 1313043,
 1313043,
 1318514,
 1323719,
 1325310,
 1327594,
 1327594,
 1327594,
 1328378,
 1332493,
 1333339,
 1333520,
 1336221,
 1337577,
 1338136,
 1338737,
 1340066,
 1340163,
 1341229,
 1341472,
 1341472,
 1341578,
 1343277,
 1345140,
 1345386,
 1345386,
 1345386,
 1345386,
 1346466,
 1350792,
 1355951,
 1355951,
 1355951,
 1355951,
 1357422,
 1357422,
 1369885,
 1370022,
 1370022,
 1378084,
 1379274,
 1379274,
 1380404,
 1384041,
 1386666,
 1387224,
 1390964,
 1391867,
 1394958,
 1395277,
 1395475,
 1395841,
 1397141,
 1397418,
 1397421,
 1400090,
 1400090,
 1400275,
 1404125,
 1406712,
 1407957,
 1409276,
 1412407,
 1413676,
 1414086,
 1415390,
 1418376,
 1418535,
 1418925,
 1423963,
 1424711,
 1424711,
 1424752,
 1424752,
 1426069,
 1427747,
 1428800,
 1433088,
 1434405,
 1434523,
 1434523,
 1436188,
 1437779,
 1437779,
 1437779,
 1437841,
 1438017,
 1438017,
 1438017,
 1443364,
 1443994,
 1445348,
 1445348,
 1452542,
 1453707,
 1454434,
 1454434,
 1455041,
 1455041,
 1455265,
 1455265,
 1456898,
 1456898,
 1457680,
 1459141,
 1462980,
 1463906,
 1465419,
 1466154,
 1466714,
 1466714,
 1467746,
 1472861,
 1473346,
 1476060,
 1476060,
 1477718,
 1478600,
 1478600,
 1478600,
 1478693,
 1480361,
 1482470,
 1486141,
 1491640,
 1492635,
 1492635,
 1494306,
 1495036,
 1495036,
 1495036,
 1498874,
 1499298,
 1501125,
 1502340,
 1502652,
 1508228,
 1509243,
 1509243,
 1509243,
 1516312,
 1516603,
 1517049,
 1523255,
 1523255,
 1523255,
 1523339,
 1526262,
 1531045,
 1531582,
 1532268,
 1532705,
 1533628,
 1538208,
 1540580,
 1540730,
 1542752,
 1542752,
 1542875,
 1549002,
 1549578,
 1549578,
 1553277,
 1556017,
 1556017,
 1556674,
 1557857,
 1557865,
 1559065,
 1559065,
 1559065,
 1559356,
 1560590,
 1560590,
 1568527,
 1569393,
 1569751,
 1569751,
 1571897,
 1571897,
 1572989,
 1574400,
 1574649,
 1574649,
 1575033,
 1577681,
 1578647,
 1579449,
 1586770,
 1596692,
 1597162,
 1597744,
 1598932,
 1603149,
 1603559,
 1603906,
 1609289,
 1609825,
 1610495,
 1612122,
 1612122,
 1613234,
 1620307,
 1623975,
 1628252,
 1629563,
 1635195,
 1635195,
 1636137,
 1636933,
 1637230,
 1638036,
 1639282,
 1642085,
 1642615,
 1643007,
 1643007,
 1643854,
 1643854,
 1645483,
 1645510,
 1648812,
 1649632,
 1650025,
 1650025,
 1650025,
 1656085,
 1656085,
 1657339,
 1659904,
 1662270,
 1663754,
 1663982,
 1665367,
 1669844,
 1669844,
 1670223,
 1673178,
 1675484,
 1676923,
 1676923,
 1680934,
 1685368,
 1685905,
 1685905,
 1685905,
 1685905,
 1686848,
 1686848,
 1686848,
 1686848,
 1686848,
 1686848,
 1692217,
 1696778,
 1697135,
 1697135,
 1697135,
 1697882,
 1699029,
 1699029,
 1699029,
 1700858,
 1702481,
 1706511,
 1707813,
 1707813,
 1709471,
 1710855,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1711767,
 1714413,
 1714413,
 1714631,
 1715378,
 1718079,
 1720020,
 1720020,
 1720020,
 1721346,
 1726459,
 1728559,
 1729605,
 1731265,
 1731747,
 1739525,
 1739815,
 1739815,
 1739815,
 1739815,
 1739815,
 1739909,
 1742737,
 1742737,
 1742737,
 1742737,
 1743905,
 1745376,
 1749790,
 1754641,
 1754910,
 1754910,
 1757056,
 1760471,
 1762542,
 1762894,
 1763405,
 1763405,
 1764319,
 1769971,
 1770018,
 1774177,
 1775159,
 1776170,
 1783161,
 1784019,
 1784019,
 1784660,
 1790146,
 1791558,
 1793360,
 1795052,
 1795431,
 1795431,
 1796260,
 1797980,
 1799202,
 1800698,
 1801554,
 1801554,
 1806832,
 1809227,
 1821283,
 1825647,
 1825647,
 1827755,
 1827755,
 1828509,
 1829255,
 1829299,
 1830860,
 1835369,
 1845648,
 1847804,
 1847804,
 1851879,
 1851879,
 1851879,
 1855902,
 1856290,
 1856929,
 1856929,
 1858625,
 1858957,
 1858957,
 1866177,
 1866333,
 1866333,
 1868756,
 1872446,
 1875764,
 1877420,
 1877610,
 1890549,
 1890549,
 1890549,
 1891539,
 1895718,
 1899449,
 1899449,
 1899763,
 1901977,
 1906737,
 1906737,
 1906737,
 1910314,
 1910314,
 1910314,
 1910736,
 1910846,
 1912065,
 1912065,
 1912411,
 1913672,
 1915956,
 1916322,
 1916536,
 1917396,
 1921898,
 1922394,
 1923193,
 1926625,
 1929587,
 1930313,
 1931859,
 1932055,
 1932351,
 1934709,
 1936742,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937240,
 1937489,
 1939018,
 1942086,
 1943774,
 1943774,
 1943774,
 1948608,
 1949968,
 1949968,
 1954071,
 1957700,
 1958031,
 1958031,
 1958031,
 1959726,
 1959726,
 1960466,
 1963418,
 1963418,
 1963418,
 1963598,
 1964403,
 1965575,
 1965575,
 1965575,
 1965575,
 1965575,
 1968191,
 1968191,
 1968500,
 1968500,
 1974899,
 1974899,
 1980989,
 1983806,
 1983865,
 1983865,
 1983865,
 1983865,
 1983865,
 1983865,
 1983865,
 1983865,
 1985046,
 1985046,
 1985965,
 1986143,
 1986143,
 1989122,
 1994479,
 1998845,
 1999383,
 1999851,
 2001834,
 2009252,
 2009252,
 2009252,
 2009252,
 2009252,
 2011185,
 2013323,
 2013323,
 2013323,
 2013323,
 2013755,
 2013755,
 2013755,
 2013755,
 2013755,
 2013755,
 2013755,
 2014193,
 2018546,
 2023360,
 2024343,
 2024396,
 2024810,
 2031128,
 2031555,
 2031987,
 2032289,
 2032289,
 2039070,
 2041867,
 2042084,
 2042084,
 2043970,
 2043970,
 2052204,
 2052204,
 2052204,
 2052204,
 2052204,
 2055612,
 2057624,
 2058641,
 2058641,
 2064376,
 2064762,
 2065085,
 2065268,
 2065268,
 2065268,
 2078689,
 2081542,
 2084601,
 2087946,
 2090070,
 2090821,
 2094074,
 2095055,
 2095055,
 2097259,
 2105756,
 2106404,
 2108908,
 2110820,
 2110820,
 2110820,
 2113259,
 2113599,
 2115797,
 2117956,
 2117956,
 2117956,
 2119049,
 2119049,
 2119049,
 2119049,
 2119049,
 2119049,
 2119049,
 2119049,
 2119049,
 2119049,
 2121339,
 2121339,
 2122866,
 2126187,
 2126187,
 2126187,
 2129392,
 2129392,
 2130228,
 2130622,
 2131108,
 2131505,
 2133533,
 2134907,
 2134907,
 2136296,
 2136296,
 2136792,
 2136792,
 2141500,
 2142353,
 2142763,
 2142763,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2143911,
 2144450,
 2148726,
 2148726,
 2148726,
 2148863,
 2150012,
 2153925,
 2153925,
 2153925,
 2160215,
 2160215,
 2160215,
 2166908,
 2174277,
 2179330,
 2179330,
 2181809,
 2181809,
 2183395,
 2189058,
 2189918,
 2191774,
 2191996,
 2195519,
 2195647,
 2196483,
 2198369,
 2201015,
 2201326,
 2201391,
 2201391,
 2203109,
 2204484,
 2208473,
 2208977,
 2209372,
 2209372,
 2209542,
 2219400,
 2220557,
 2220557,
 2222686,
 2222686,
 2225944,
 2227908,
 2227908,
 2227908,
 2228286,
 2231541,
 2231541,
 2233450,
 2233800,
 2235092,
 2238033,
 2240378,
 2241590,
 2242000,
 2244083,
 2244083,
 2244083,
 2244905,
 2247766,
 2256022,
 2256858,
 2257062,
 2257062,
 2257062,
 2257062,
 2257062,
 2257062,
 2257062,
 2257062,
 2257062,
 2257062,
 2257062,
 2259101,
 2259961,
 2262386,
 2262386,
 2264280,
 2268137,
 2268893,
 2269991,
 2273479,
 2278976,
 2282383,
 2283327,
 2284216,
 2286428,
 2286428,
 2286428,
 2286428,
 2289186,
 2290447,
 2290789,
 2290883,
 2296805,
 2297150,
 2297150,
 2297465,
 2297570,
 2300870,
 2300870,
 2302263,
 2307156,
 2310446,
 2310627,
 2311692,
 2312234,
 2313277,
 2313277,
 2313277,
 2315013,
 2315013,
 2315013,
 2315013,
 2315013,
 2315761,
 2315761,
 2319445,
 2320323,
 2320323,
 2324716,
 2325334,
 2325334,
 2325334,
 2325334,
 2325334,
 2325762,
 2326039,
 2326389,
 2329171,
 2329774,
 2330246,
 2330246,
 2331297,
 2332383,
 2335616,
 2335616,
 ...]

Below we show all the patients with prediabetic icd codes with the dates when they attended the assessment center.

In [78]:
patients_from_icd = merged_for_prediabetes_before_drop_of_diabetics[merged_for_prediabetes_before_drop_of_diabetics.eid.isin(dfToList_prediabetes_with_dates)]
patients_from_icd

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
488,2863808,2008-07-04,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
715,2425377,2008-07-19,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
862,5402036,2009-08-24,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
955,2290883,2009-08-19,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1030,3399365,2010-01-21,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501671,3960736,2007-08-02,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501749,5785587,2008-12-17,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502100,5744339,2008-02-08,NaN,2018-06-11,15.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502109,5839815,2008-09-05,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502216,1533628,2009-06-18,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below we change the column name of the epistart column for the dataframe for the new prediabetic patients using the ICD codes.

In [79]:
prediabetes_with_dates = prediabetes_with_dates.rename(columns = {'epistart':'epistart_pre'})
prediabetes_with_dates

,eid,ins_index,arr_index,level,diag_icd9,diag_icd9_nb,diag_icd10,diag_icd10_nb,epistart_pre
0,1006294,37,3,2,NaN,NaN,R739,NaN,12/02/2018
1,1007537,0,3,2,NaN,NaN,R730,NaN,06/06/2019
2,1008393,2,1,2,NaN,NaN,R739,NaN,26/04/2011
3,1010613,0,0,1,NaN,NaN,R739,NaN,07/06/2010
4,1011449,12,5,2,NaN,NaN,R730,NaN,03/02/2020
...,...,...,...,...,...,...,...,...,...
3794,6017167,3,3,2,NaN,NaN,R730,NaN,09/12/2019
3795,6019270,5,9,2,NaN,NaN,R730,NaN,24/09/2020
3796,6020217,7,12,2,NaN,NaN,R730,NaN,19/08/2020
3797,6021943,1,3,2,NaN,NaN,R739,NaN,11/08/2020
3798,6022830,0,1,2,NaN,NaN,R730,NaN,26/06/2006

Below we change the new column to date time format.

In [80]:
prediabetes_with_dates['epistart_pre'] = pd.to_datetime(prediabetes_with_dates['epistart_pre'])
prediabetes_with_dates

,eid,ins_index,arr_index,level,diag_icd9,diag_icd9_nb,diag_icd10,diag_icd10_nb,epistart_pre
0,1006294,37,3,2,NaN,NaN,R739,NaN,2018-12-02
1,1007537,0,3,2,NaN,NaN,R730,NaN,2019-06-06
2,1008393,2,1,2,NaN,NaN,R739,NaN,2011-04-26
3,1010613,0,0,1,NaN,NaN,R739,NaN,2010-07-06
4,1011449,12,5,2,NaN,NaN,R730,NaN,2020-03-02
...,...,...,...,...,...,...,...,...,...
3794,6017167,3,3,2,NaN,NaN,R730,NaN,2019-09-12
3795,6019270,5,9,2,NaN,NaN,R730,NaN,2020-09-24
3796,6020217,7,12,2,NaN,NaN,R730,NaN,2020-08-19
3797,6021943,1,3,2,NaN,NaN,R739,NaN,2020-11-08
3798,6022830,0,1,2,NaN,NaN,R730,NaN,2006-06-26

Our next goal is to find the patients who start off with prediabetic conditions, and find out all the patients who are diagnosed with diabetes at a later date, both those who do and do not have a doctor diagnosis of diabetes as well. This is done by comparing the dates when the prediabetic diagnosis is given, the diabetic diagnosis is given, and the date attending the assessment center is given. Below we change the date attending the assessment center column to datetime data type.

In [81]:
patients_from_icd['53-0.0'] = pd.to_datetime(patients_from_icd['53-0.0'])
patients_from_icd

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
488,2863808,2008-07-04,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
715,2425377,2008-07-19,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
862,5402036,2009-08-24,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
955,2290883,2009-08-19,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1030,3399365,2010-01-21,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501671,3960736,2007-08-02,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501749,5785587,2008-12-17,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502100,5744339,2008-02-08,NaN,2018-06-11,15.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502109,5839815,2008-09-05,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502216,1533628,2009-06-18,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Next we merge the new prediabetes dataframe epistart column with the above dataframe.

In [82]:
patients_from_icd_with_prediabetes_dates = patients_from_icd.merge(prediabetes_with_dates[['eid', 'epistart_pre']], on = 'eid')
patients_from_icd_with_prediabetes_dates

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre
0,2863808,2008-07-04,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-05-27
1,2425377,2008-07-19,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-07-03
2,5402036,2009-08-24,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-09
3,2290883,2009-08-19,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2014-07-04
4,3399365,2010-01-21,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2016-04-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3794,5785587,2008-12-17,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1997-03-08
3795,5744339,2008-02-08,NaN,2018-06-11,15.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-21
3796,5744339,2008-02-08,NaN,2018-06-11,15.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-07-31
3797,5839815,2008-09-05,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-01-29
3798,1533628,2009-06-18,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2009-09-30

Below we keep only patients who we know were prediabetic before their measurements were taken.

In [83]:
patients_from_icd_with_prediabetes_dates_before_test = patients_from_icd_with_prediabetes_dates[patients_from_icd_with_prediabetes_dates['53-0.0'] >= patients_from_icd_with_prediabetes_dates['epistart_pre']]
patients_from_icd_with_prediabetes_dates_before_test

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre
1,2425377,2008-07-19,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-07-03
12,5512282,2008-09-16,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2001-06-29
15,5724786,2008-01-07,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2006-05-08
18,4754980,2009-02-11,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2000-04-20
21,1350792,2009-09-14,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2007-05-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3761,4447186,2007-12-10,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2002-05-15
3766,1076801,2009-04-17,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2003-01-12
3773,3065620,2008-10-11,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2003-03-06
3793,3960736,2007-08-02,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2003-01-04
3794,5785587,2008-12-17,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1997-03-08

Below we show the number of patients known to have prediabetes before the measurements at the testing center.

In [84]:
patients_from_icd_with_prediabetes_dates_before_test_before_test = patients_from_icd_with_prediabetes_dates_before_test.drop_duplicates(subset = 'eid')
patients_from_icd_with_prediabetes_dates_before_test_before_test

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre
1,2425377,2008-07-19,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-07-03
12,5512282,2008-09-16,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2001-06-29
15,5724786,2008-01-07,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2006-05-08
18,4754980,2009-02-11,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2000-04-20
21,1350792,2009-09-14,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2007-05-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3755,4447186,2007-12-10,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2003-02-25
3766,1076801,2009-04-17,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2003-01-12
3773,3065620,2008-10-11,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2003-03-06
3793,3960736,2007-08-02,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2003-01-04
3794,5785587,2008-12-17,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1997-03-08

Below we keep all self-diagnosis columns.

In [85]:
possible_diabetes_self_diagnosis_from_icd = patients_from_icd_with_prediabetes_dates_before_test[['20002-0.0', '20002-0.1', '20002-0.2', '20002-0.3', '20002-0.4', '20002-0.5', '20002-0.6', '20002-0.7', '20002-0.8', '20002-0.9', '20002-0.10', '20002-0.11', '20002-0.12', '20002-0.13', '20002-0.14', '20002-0.15', '20002-0.16', '20002-0.17', '20002-0.18', '20002-0.19', '20002-0.20', '20002-0.21', '20002-0.22', '20002-0.23', '20002-0.24', '20002-0.25', '20002-0.26', '20002-0.27', '20002-0.28', '20002-0.29', '20002-0.30', '20002-0.31', '20002-0.32', '20002-0.33', '20002-1.0', '20002-1.1', '20002-1.2', '20002-1.3', '20002-1.4', '20002-1.5', '20002-1.6', '20002-1.7', '20002-1.8', '20002-1.9', '20002-1.10', '20002-1.11', '20002-1.12', '20002-1.13', '20002-1.14', '20002-1.15', '20002-1.16', '20002-1.17', '20002-1.18', '20002-1.19', '20002-1.20', '20002-1.21', '20002-1.22', '20002-1.23', '20002-1.24', '20002-1.25', '20002-1.26', '20002-1.27', '20002-1.28', '20002-1.29', '20002-1.30', '20002-1.31', '20002-1.32', '20002-1.33', '20002-2.0', '20002-2.1', '20002-2.2', '20002-2.3', '20002-2.4', '20002-2.5', '20002-2.6', '20002-2.7', '20002-2.8', '20002-2.9', '20002-2.10', '20002-2.11', '20002-2.12', '20002-2.13', '20002-2.14', '20002-2.15', '20002-2.16', '20002-2.17', '20002-2.18', '20002-2.19', '20002-2.20', '20002-2.21', '20002-2.22', '20002-2.23', '20002-2.24', '20002-2.25', '20002-2.26', '20002-2.27', '20002-2.28', '20002-2.29', '20002-2.30', '20002-2.31', '20002-2.32', '20002-2.33']]
possible_diabetes_self_diagnosis_from_icd

,20002-0.0,20002-0.1,20002-0.2,20002-0.3,20002-0.4,20002-0.5,20002-0.6,...,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
1,1220.0,1078.0,1473.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1111.0,1220.0,1074.0,1081.0,1072.0,1163.0,1240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1065.0,1220.0,1452.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1351.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1065.0,1224.0,1352.0,1662.0,1515.0,1465.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3761,1081.0,1065.0,1111.0,1264.0,1222.0,1473.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3766,1065.0,1220.0,1465.0,1331.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3773,1111.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3793,1065.0,1226.0,1440.0,1440.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3794,1264.0,1286.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Next we show all columns with the value 1223 which is the code for Type 2 diabetes. All columns marked True contain at least one value which is 1223. Therefore, we will continue our analysis with these columns.

In [86]:
pd.options.display.max_rows = 110
possible_diabetes_self_diagnosis_from_icd.isin([1223]).any()

20002-0.0      True
20002-0.1      True
20002-0.2      True
20002-0.3      True
20002-0.4      True
20002-0.5      True
20002-0.6     False
20002-0.7     False
20002-0.8     False
20002-0.9     False
20002-0.10    False
20002-0.11    False
20002-0.12    False
20002-0.13    False
20002-0.14    False
20002-0.15    False
20002-0.16    False
20002-0.17    False
20002-0.18    False
20002-0.19    False
20002-0.20    False
20002-0.21    False
20002-0.22    False
20002-0.23    False
20002-0.24    False
20002-0.25    False
20002-0.26    False
20002-0.27    False
20002-0.28    False
20002-0.29    False
20002-0.30    False
20002-0.31    False
20002-0.32    False
20002-0.33    False
20002-1.0     False
20002-1.1     False
20002-1.2     False
20002-1.3     False
20002-1.4     False
20002-1.5     False
20002-1.6     False
20002-1.7     False
20002-1.8     False
20002-1.9     False
20002-1.10    False
20002-1.11    False
20002-1.12    False
20002-1.13    False
20002-1.14    False
20002-1.15    False
20002-1.16    False
20002-1.17    False
20002-1.18    False
20002-1.19    False
20002-1.20    False
20002-1.21    False
20002-1.22    False
20002-1.23    False
20002-1.24    False
20002-1.25    False
20002-1.26    False
20002-1.27    False
20002-1.28    False
20002-1.29    False
20002-1.30    False
20002-1.31    False
20002-1.32    False
20002-1.33    False
20002-2.0      True
20002-2.1     False
20002-2.2     False
20002-2.3     False
20002-2.4     False
20002-2.5     False
20002-2.6     False
20002-2.7     False
20002-2.8     False
20002-2.9     False
20002-2.10    False
20002-2.11    False
20002-2.12    False
20002-2.13    False
20002-2.14    False
20002-2.15    False
20002-2.16    False
20002-2.17    False
20002-2.18    False
20002-2.19    False
20002-2.20    False
20002-2.21    False
20002-2.22    False
20002-2.23    False
20002-2.24    False
20002-2.25    False
20002-2.26    False
20002-2.27    False
20002-2.28    False
20002-2.29    False
20002-2.30    False
20002-2.31    False
20002-2.32    False
20002-2.33    False
dtype: bool

Next we search for patients who self-diagnose themselves with diabetes.

In [87]:
pd.options.display.max_rows = 10
self_diagnosed_diabetics_from_icd = patients_from_icd_with_prediabetes_dates_before_test[(patients_from_icd_with_prediabetes_dates_before_test['20002-0.0'] == 1223) | (patients_from_icd_with_prediabetes_dates_before_test['20002-0.1'] == 1223) | (patients_from_icd_with_prediabetes_dates_before_test['20002-0.2'] == 1223) | (patients_from_icd_with_prediabetes_dates_before_test['20002-0.3'] == 1223) | (patients_from_icd_with_prediabetes_dates_before_test['20002-0.4'] == 1223) | (patients_from_icd['20002-0.5'] == 1223) | (patients_from_icd_with_prediabetes_dates_before_test['20002-2.0'] == 1223)]
self_diagnosed_diabetics_from_icd

Boolean Series key will be reindexed to match DataFrame index.

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre
540,4578103,2008-07-08,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2005-02-03
864,2693446,2009-12-08,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2009-04-30
1057,1328378,2009-07-22,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2000-10-11
1276,5011490,2008-11-29,2013-05-18,NaN,3.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2001-12-11
1391,2839824,2007-11-27,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2003-01-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3323,4908590,2009-09-10,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2005-09-10
3442,1657339,2009-05-20,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-08-13
3523,4424579,2007-08-20,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2001-05-30
3524,4424579,2007-08-20,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2001-05-21
3657,2064376,2009-06-22,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2007-10-18

# Different groups of patients we need to search for:

1. Patients who are not diagnosed with diabetes at starting time but are self-diagnosed at starting time - cut them from dataframe
2. Patients who are diagnosed with diabetes at starting time by doctor - cut from dataframe
3. Patients who are not diagnosed with diabetes ever, but do self-diagnose themselves after the starting date (in -1.X or -2.X columns) - Keep them in the dataframe
4. Patients who are diagnosed with diabetes by doctor after first tests - keep them in the dataframe

Next we search for all prediabetic symptom patients without being diagnosed by a doctor with diabetes. There are 2 prediabetic patients who are not initially diagnosed with diabetes by a doctor, but who have self-diagnosed themselves with diabetes at some point.

In [88]:
only_self_diagnosed_diabetics_from_icd = self_diagnosed_diabetics_from_icd[self_diagnosed_diabetics_from_icd['Diabetes Diagnosed 1'] == 0]
only_self_diagnosed_diabetics_from_icd

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre
1733,5112251,2009-10-19,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-09-27
2251,5068971,2008-03-19,NaN,2018-08-06,2.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2003-06-06
2332,2656765,2009-01-09,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-01-12

Next we have to see when these patients self-diganosed themselves with diabetes. If they were self-diagnosed in the 20002-0.X columns, we must remove them from the dataframe. Otherwise, they would have progressed to having diabetes and we will have to check if these patients were also diagnosed by a doctor for diabetes.

Below we show all patients who self-diagnose themselves with diabetes, but are not diagnosed with diabetes by a doctor at the start. We will still cut these patients from the dataframe as if they were true diabetic patients.

In [89]:
diabetes_at_start_from_icd = only_self_diagnosed_diabetics_from_icd[((only_self_diagnosed_diabetics_from_icd['20002-0.0'] == 1223) | (only_self_diagnosed_diabetics_from_icd['20002-0.1'] == 1223) | (only_self_diagnosed_diabetics_from_icd['20002-0.2'] == 1223) | (only_self_diagnosed_diabetics_from_icd['20002-0.3'] == 1223) | (only_self_diagnosed_diabetics_from_icd['20002-0.4'] == 1223) | (only_self_diagnosed_diabetics_from_icd['20002-0.5'] == 1223) | (only_self_diagnosed_diabetics_from_icd['20002-0.6'] == 1223)) & (only_self_diagnosed_diabetics_from_icd['Diabetes Diagnosed 1'] == 0)]
diabetes_at_start_from_icd

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre
1733,5112251,2009-10-19,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-09-27
2332,2656765,2009-01-09,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-01-12

Below we create a list of the patient eid numbers so that we can cut them from the dataframe.

In [90]:
dfToList_diabetes_at_start_from_icd = diabetes_at_start_from_icd['eid'].tolist()
dfToList_diabetes_at_start_from_icd

[5112251, 2656765]

Now we filter these patients from the final dataframe of prediabetic patients.

In [91]:
patients_from_icd_with_prediabetes_dates_before_test = patients_from_icd_with_prediabetes_dates_before_test[~patients_from_icd_with_prediabetes_dates_before_test.eid.isin(dfToList_diabetes_at_start_from_icd)]
patients_from_icd_with_prediabetes_dates_before_test

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre
1,2425377,2008-07-19,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-07-03
12,5512282,2008-09-16,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2001-06-29
15,5724786,2008-01-07,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2006-05-08
18,4754980,2009-02-11,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2000-04-20
21,1350792,2009-09-14,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2007-05-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3761,4447186,2007-12-10,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2002-05-15
3766,1076801,2009-04-17,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2003-01-12
3773,3065620,2008-10-11,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2003-03-06
3793,3960736,2007-08-02,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2003-01-04
3794,5785587,2008-12-17,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1997-03-08

# MARKED WITH 190 PATIENTS WITH DIABETES - SHOWS THAT ALL PATIENTS WITH DIABETES AT MEASUREMENT TIME WERE FROM THIS POPULATION OF PEOPLE. THIS HAS BEEN CHANGED IN OUR PIE CHART OF PATIENTS FOR THE PUBLICATION.

Below we cut out all patients who are already diabetic.

In [92]:
print(len(patients_from_icd_with_prediabetes_dates_before_test.drop_duplicates(subset = 'eid')))
test = patients_from_icd_with_prediabetes_dates_before_test.drop_duplicates(subset = 'eid')[~patients_from_icd_with_prediabetes_dates_before_test.drop_duplicates(subset = 'eid').eid.isin(dfToList_already_diabetic_at_start)]
test

495

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre
18,4754980,2009-02-11,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2000-04-20
21,1350792,2009-09-14,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2007-05-11
50,2479180,2007-12-17,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2007-07-11
63,3990434,2009-07-09,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2005-07-14
93,4341307,2008-03-19,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-02-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3716,4571529,2008-10-31,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2007-08-22
3766,1076801,2009-04-17,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2003-01-12
3773,3065620,2008-10-11,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2003-03-06
3793,3960736,2007-08-02,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2003-01-04
3794,5785587,2008-12-17,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1997-03-08

# Extra progression to diabetes labels in next cell

Below we show that the remaining patients who self-diagnose themselves do so after the first tests are performed. Therefore, we can label these patients as progressing to diabetes even if they are not diagnosed by a doctor for diabetes.

In [93]:
pd.options.display.max_columns = 125
pd.options.display.max_rows = 100
self_diagnosed_diabetics_some_not_doctor_diagnosed_from_icd = only_self_diagnosed_diabetics_from_icd[(only_self_diagnosed_diabetics_from_icd['20002-2.0'] == 1223)]
self_diagnosed_diabetics_some_not_doctor_diagnosed_from_icd
# 1 patient in total

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,Diabetes Diagnosed 1,Diabetes Diagnosed 2,Diabetes Diagnosed 3,Age Diabetes Diagnosed 1,Age Diabetes Diagnosed 2,Age Diabetes Diagnosed 3,Gestational Diabetes Only 1,Gestational Diabetes Only 2,Gestational Diabetes Only 3,Blood Glucose Level 1,Blood Glucose level 2,Glucose Assay Date 1,Glucose Assay Date 2,HbA1c 1,HbA1c 2,HbA1c Assay Date 1,HbA1c Assay Date 2,20002-0.0,20002-0.1,20002-0.2,20002-0.3,20002-0.4,20002-0.5,20002-0.6,20002-0.7,20002-0.8,20002-0.9,20002-0.10,20002-0.11,20002-0.12,20002-0.13,20002-0.14,20002-0.15,20002-0.16,20002-0.17,20002-0.18,20002-0.19,20002-0.20,20002-0.21,20002-0.22,20002-0.23,20002-0.24,20002-0.25,20002-0.26,20002-0.27,20002-0.28,20002-0.29,20002-0.30,20002-0.31,20002-0.32,20002-0.33,20002-1.0,20002-1.1,20002-1.2,20002-1.3,...,20002-1.7,20002-1.8,20002-1.9,20002-1.10,20002-1.11,20002-1.12,20002-1.13,20002-1.14,20002-1.15,20002-1.16,20002-1.17,20002-1.18,20002-1.19,20002-1.20,20002-1.21,20002-1.22,20002-1.23,20002-1.24,20002-1.25,20002-1.26,20002-1.27,20002-1.28,20002-1.29,20002-1.30,20002-1.31,20002-1.32,20002-1.33,20002-2.0,20002-2.1,20002-2.2,20002-2.3,20002-2.4,20002-2.5,20002-2.6,20002-2.7,20002-2.8,20002-2.9,20002-2.10,20002-2.11,20002-2.12,20002-2.13,20002-2.14,20002-2.15,20002-2.16,20002-2.17,20002-2.18,20002-2.19,20002-2.20,20002-2.21,20002-2.22,20002-2.23,20002-2.24,20002-2.25,20002-2.26,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre
2251,5068971,2008-03-19,NaN,2018-08-06,2.0,NaN,1.0,0.0,NaN,1.0,NaN,NaN,53.0,NaN,NaN,0.0,5.572,NaN,2017-04-18,NaN,40.3,NaN,2017-05-24,NaN,1065.0,1463.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1223.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003-06-06

Below we show that all patients who self-diagnosed themselves with diabetes after the first reading also did not get diagnosed by a doctor for diabetes at the first reading. We keep these patients in the dataframe and will label them as progressing to diabetes.

In [94]:
pd.options.display.max_rows = 10
pd.options.display.max_columns = 10
only_self_diagnosed_diabetics_from_icd_progressing_to_diabetes = only_self_diagnosed_diabetics_from_icd[(only_self_diagnosed_diabetics_from_icd['20002-2.0'] == 1223) & (only_self_diagnosed_diabetics_from_icd['Diabetes Diagnosed 1'] == 0)]
only_self_diagnosed_diabetics_from_icd_progressing_to_diabetes

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,...,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre
2251,5068971,2008-03-19,NaN,2018-08-06,2.0,...,NaN,NaN,NaN,NaN,2003-06-06

Below we keep a list of the patients above as progressing to diabetes for future labeling.

In [95]:
dfToList_diabetes_progression_without_doctor_diagnosis_from_icd = only_self_diagnosed_diabetics_from_icd_progressing_to_diabetes['eid'].tolist()
dfToList_diabetes_progression_without_doctor_diagnosis_from_icd

[5068971]

Now that we have defined our prediabetic patients, we can import another dataframe that contains all the diabetes diagnoses for patients. We again have a column we need to drop that comes over with the SCU index.

In [96]:
patients_with_type2_diabetes_with_dates = pd.read_csv('patients_with_type2_diabetes_with_dates')
patients_with_type2_diabetes_with_dates = patients_with_type2_diabetes_with_dates.drop('Unnamed: 0', axis = 1)
patients_with_type2_diabetes_with_dates

,eid,ins_index,arr_index,level,diag_icd9,diag_icd9_nb,diag_icd10,diag_icd10_nb,epistart
0,1000402,3,1,2,NaN,NaN,E119,NaN,28/06/2018
1,1000402,1,1,2,NaN,NaN,E119,NaN,12/03/2008
2,1000402,0,3,2,NaN,NaN,E119,NaN,16/07/2008
3,1000610,6,3,2,NaN,NaN,E119,NaN,11/05/2005
4,1000610,0,5,2,NaN,NaN,E112,NaN,06/10/2010
...,...,...,...,...,...,...,...,...,...
250364,6025367,12,2,2,NaN,NaN,E119,NaN,02/11/2017
250365,6025367,11,2,2,NaN,NaN,E119,NaN,07/09/2017
250366,6025367,6,4,2,NaN,NaN,E119,NaN,09/04/2015
250367,6025367,5,2,2,NaN,NaN,E119,NaN,31/12/2014
250368,6025367,4,4,2,NaN,NaN,E119,NaN,20/10/2014

Next we change epistart to datetime format from object. We see that the date now has the format of year-month-day.

In [97]:
patients_with_type2_diabetes_with_dates['epistart'] = pd.to_datetime(patients_with_type2_diabetes_with_dates['epistart'])
patients_with_type2_diabetes_with_dates

,eid,ins_index,arr_index,level,diag_icd9,diag_icd9_nb,diag_icd10,diag_icd10_nb,epistart
0,1000402,3,1,2,NaN,NaN,E119,NaN,2018-06-28
1,1000402,1,1,2,NaN,NaN,E119,NaN,2008-12-03
2,1000402,0,3,2,NaN,NaN,E119,NaN,2008-07-16
3,1000610,6,3,2,NaN,NaN,E119,NaN,2005-11-05
4,1000610,0,5,2,NaN,NaN,E112,NaN,2010-06-10
...,...,...,...,...,...,...,...,...,...
250364,6025367,12,2,2,NaN,NaN,E119,NaN,2017-02-11
250365,6025367,11,2,2,NaN,NaN,E119,NaN,2017-07-09
250366,6025367,6,4,2,NaN,NaN,E119,NaN,2015-09-04
250367,6025367,5,2,2,NaN,NaN,E119,NaN,2014-12-31
250368,6025367,4,4,2,NaN,NaN,E119,NaN,2014-10-20

Next we want to merge our values with those of the prediabetic patients. This will tell us if there are any patients we missed who developed diabetes, or possibly patients we should not account for who had diabetes before the measurements for prediabetes.

In [98]:
pd.options.display.max_columns = 14
prediabetic_from_icd_at_start_finding_more_diabetes = patients_from_icd_with_prediabetes_dates_before_test.merge(patients_with_type2_diabetes_with_dates[['eid', 'epistart']], on = 'eid')
prediabetic_from_icd_at_start_finding_more_diabetes

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre,epistart
0,2425377,2008-07-19,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008-07-03,2008-12-06
1,2425377,2008-07-19,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008-07-03,2008-12-06
2,2425377,2008-07-19,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008-07-03,2011-04-10
3,2425377,2008-07-19,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008-07-03,2016-09-24
4,2425377,2008-07-19,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008-07-03,2014-06-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2962,1076801,2009-04-17,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2003-01-12,2020-03-29
2963,1076801,2009-04-17,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2003-01-12,2019-11-25
2964,1076801,2009-04-17,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2003-01-12,2020-03-30
2965,1076801,2009-04-17,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2003-01-12,2011-06-09
2966,1076801,2009-04-17,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2003-01-12,2019-11-26

Below we show the data types of the columns.

In [99]:
prediabetic_from_icd_at_start_finding_more_diabetes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2967 entries, 0 to 2966
Columns: 128 entries, eid to epistart
dtypes: datetime64[ns](3), float64(118), int64(1), object(6)
memory usage: 2.9+ MB

Our next goal is to find the patients who start off with prediabetic conditions, and find out all the patients who are diagnosed with diabetes at a later date, both those who do and do not have a doctor diagnosis of diabetes as well. This is done by comparing the dates when the prediabetic diagnosis is given, the diabetic diagnosis is given, and the date attending the assessment center is given. Below we change the date attending the assessment center column to datetime data type.

In [100]:
prediabetic_from_icd_at_start_finding_more_diabetes['53-0.0'] = pd.to_datetime(prediabetic_from_icd_at_start_finding_more_diabetes['53-0.0'])
prediabetic_from_icd_at_start_finding_more_diabetes

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre,epistart
0,2425377,2008-07-19,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008-07-03,2008-12-06
1,2425377,2008-07-19,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008-07-03,2008-12-06
2,2425377,2008-07-19,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008-07-03,2011-04-10
3,2425377,2008-07-19,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008-07-03,2016-09-24
4,2425377,2008-07-19,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008-07-03,2014-06-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2962,1076801,2009-04-17,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2003-01-12,2020-03-29
2963,1076801,2009-04-17,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2003-01-12,2019-11-25
2964,1076801,2009-04-17,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2003-01-12,2020-03-30
2965,1076801,2009-04-17,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2003-01-12,2011-06-09
2966,1076801,2009-04-17,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2003-01-12,2019-11-26

We need to drop duplicate eid numbers so that only the first epistart date is left which will be compared with the dates used to classify all the patients as prediabetic. To do this we first sort the dataframe by eid number and increasing dates within an eid number for epistart and epistart_pre.

In [101]:
prediabetic_from_icd_at_start_finding_more_diabetes_sorted = prediabetic_from_icd_at_start_finding_more_diabetes.sort_values(by = ['eid', 'epistart', 'epistart_pre'])
prediabetic_from_icd_at_start_finding_more_diabetes_sorted

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre,epistart
61,1025738,2008-11-18,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2004-05-19,2017-07-06
60,1025738,2008-11-18,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2004-05-20,2017-07-06
974,1044919,2007-08-01,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2005-12-13,2018-09-11
2055,1055677,2009-02-09,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2006-09-26,2007-06-17
2058,1055677,2009-02-09,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2006-09-26,2007-06-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2521,5983540,2009-06-02,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2009-01-22,2010-09-15
2519,5983540,2009-06-02,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2009-01-22,2011-06-11
2520,5983540,2009-06-02,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2009-01-22,2011-08-11
2517,5983540,2009-06-02,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2009-01-22,2011-11-22
2518,5983540,2009-06-02,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2009-01-22,2012-01-03

Next we drop the rows by eid number keeping only the first eid value such that the first date of diabetes diagnosis is the only date remaining to be used for date comparisons.

In [102]:
prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date = prediabetic_from_icd_at_start_finding_more_diabetes_sorted.drop_duplicates(subset = 'eid', keep = 'first')
prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre,epistart
61,1025738,2008-11-18,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2004-05-19,2017-07-06
974,1044919,2007-08-01,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2005-12-13,2018-09-11
2055,1055677,2009-02-09,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2006-09-26,2007-06-17
1095,1055794,2010-03-12,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2009-12-10,2009-10-23
1291,1067255,2010-06-19,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2005-01-12,2011-06-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,5905564,2009-08-24,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2008-12-31,2014-03-06
217,5946732,2009-06-23,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2005-02-08,2013-05-30
310,5969205,2009-08-07,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2007-02-26,2013-02-05
2272,5969895,2010-03-11,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2002-07-19,2007-08-25
2513,5983540,2009-06-02,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2009-01-22,2010-02-25

Now that we have both the original assessment date when the patients were diagnosed as prediabetic and the date when the patients were diagnosed with diabetes, all we have to do is mark the patients who developed diabetes after the first assessment when they only had prediabetes. Below we create a column that marks True if the patient develops diabetes (epistart is later than the prediabetes epistart date) and false if the patient had diabetes before the original classification as a prediabetic.

In [103]:
prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date['target'] = prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date['epistart_pre'] < prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date['epistart']
prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre,epistart,target
61,1025738,2008-11-18,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2004-05-19,2017-07-06,True
974,1044919,2007-08-01,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2005-12-13,2018-09-11,True
2055,1055677,2009-02-09,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2006-09-26,2007-06-17,True
1095,1055794,2010-03-12,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2009-12-10,2009-10-23,False
1291,1067255,2010-06-19,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2005-01-12,2011-06-24,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,5905564,2009-08-24,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2008-12-31,2014-03-06,True
217,5946732,2009-06-23,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2005-02-08,2013-05-30,True
310,5969205,2009-08-07,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2007-02-26,2013-02-05,True
2272,5969895,2010-03-11,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2002-07-19,2007-08-25,True
2513,5983540,2009-06-02,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2009-01-22,2010-02-25,True

Below we convert our test column to binary.

In [104]:
prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date['target'] = prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date["target"].astype(int)
prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre,epistart,target
61,1025738,2008-11-18,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2004-05-19,2017-07-06,1
974,1044919,2007-08-01,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2005-12-13,2018-09-11,1
2055,1055677,2009-02-09,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2006-09-26,2007-06-17,1
1095,1055794,2010-03-12,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2009-12-10,2009-10-23,0
1291,1067255,2010-06-19,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2005-01-12,2011-06-24,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,5905564,2009-08-24,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2008-12-31,2014-03-06,1
217,5946732,2009-06-23,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2005-02-08,2013-05-30,1
310,5969205,2009-08-07,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2007-02-26,2013-02-05,1
2272,5969895,2010-03-11,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2002-07-19,2007-08-25,1
2513,5983540,2009-06-02,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2009-01-22,2010-02-25,1

Below we show the number of patients who had the ICD codes that classified them as prediabetic which occurred before the epistart diabetes diagnosis of the patients.

In [105]:
prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date_before = prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date[(prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date['target'] == 1)]
prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date_before

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre,epistart,target
61,1025738,2008-11-18,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2004-05-19,2017-07-06,1
974,1044919,2007-08-01,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2005-12-13,2018-09-11,1
2055,1055677,2009-02-09,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2006-09-26,2007-06-17,1
1291,1067255,2010-06-19,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2005-01-12,2011-06-24,1
157,1072495,2009-02-26,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2006-02-05,2014-04-02,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,5905564,2009-08-24,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2008-12-31,2014-03-06,1
217,5946732,2009-06-23,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2005-02-08,2013-05-30,1
310,5969205,2009-08-07,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2007-02-26,2013-02-05,1
2272,5969895,2010-03-11,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2002-07-19,2007-08-25,1
2513,5983540,2009-06-02,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2009-01-22,2010-02-25,1

# MARKED BELOW ARE 147 PATIENTS WITH DIABETES WHO WE HAD PROGRESSING TO DIABETES

Below we cut out all patients who are already diabetic.

In [106]:
print(len(prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date_before.drop_duplicates(subset = 'eid')))
test = prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date_before.drop_duplicates(subset = 'eid')[~prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date_before.drop_duplicates(subset = 'eid').eid.isin(dfToList_already_diabetic_at_start)]
test

199

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre,epistart,target
61,1025738,2008-11-18,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2004-05-19,2017-07-06,1
974,1044919,2007-08-01,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2005-12-13,2018-09-11,1
64,1097522,2010-06-09,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2006-06-26,2018-01-31,1
145,1162102,2008-09-08,NaN,NaN,14.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2002-07-17,2017-04-12,1
801,1345140,2008-06-17,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2007-03-13,2016-11-05,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1919,5600407,2008-03-01,NaN,NaN,15.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2005-09-25,2007-09-10,1
1991,5765638,2008-07-07,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2001-01-22,2017-04-12,1
2584,5905443,2006-04-19,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2004-03-14,2013-07-30,1
217,5946732,2009-06-23,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2005-02-08,2013-05-30,1
310,5969205,2009-08-07,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2007-02-26,2013-02-05,1

Below we create a list of these patients to remove these from the final dataframe since we already know what label to give them.

In [107]:
dfToList_diabetes_progression_from_icd = prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date_before['eid'].tolist()
dfToList_diabetes_progression_from_icd

[1025738,
 1044919,
 1055677,
 1067255,
 1072495,
 1097522,
 1102492,
 1117612,
 1146097,
 1162102,
 1202644,
 1328378,
 1336221,
 1338136,
 1340066,
 1345140,
 1350792,
 1395277,
 1404125,
 1423963,
 1424752,
 1436188,
 1457680,
 1476060,
 1478693,
 1494306,
 1516312,
 1568527,
 1609289,
 1637230,
 1657339,
 1665367,
 1706511,
 1718079,
 1731265,
 1796260,
 1801554,
 1829255,
 1858957,
 1872446,
 1895718,
 1926625,
 1936742,
 1943774,
 1954071,
 1963418,
 1998845,
 2031987,
 2064376,
 2191774,
 2191996,
 2203109,
 2219400,
 2225944,
 2233450,
 2233800,
 2268137,
 2268893,
 2325762,
 2335695,
 2343298,
 2344091,
 2364302,
 2425377,
 2429507,
 2479180,
 2480161,
 2484797,
 2486950,
 2500901,
 2533918,
 2551317,
 2586223,
 2591687,
 2595175,
 2632123,
 2648322,
 2650506,
 2666552,
 2684632,
 2693446,
 2693862,
 2699084,
 2739978,
 2745944,
 2748729,
 2763479,
 2817041,
 2840954,
 2847047,
 2850077,
 2894270,
 2908413,
 2961619,
 2997821,
 3027047,
 3054818,
 3056879,
 3070446,
 3094464,
 3100633,
 3113221,
 3264433,
 3265844,
 3342350,
 3348953,
 3349311,
 3391619,
 3392380,
 3415657,
 3457048,
 3462831,
 3547068,
 3559126,
 3589799,
 3669628,
 3669889,
 3676477,
 3734622,
 3781808,
 3798680,
 3816162,
 3829166,
 3836870,
 3848874,
 3867154,
 3993197,
 4153444,
 4157944,
 4181283,
 4182455,
 4188627,
 4208130,
 4242645,
 4246045,
 4256846,
 4270479,
 4305596,
 4366316,
 4383421,
 4387781,
 4427262,
 4447186,
 4496514,
 4544115,
 4578103,
 4623980,
 4625498,
 4641634,
 4683307,
 4690101,
 4729030,
 4745503,
 4779249,
 4811974,
 4821929,
 4860039,
 4861030,
 4884169,
 4908590,
 4936883,
 4983552,
 5011490,
 5032712,
 5068971,
 5133126,
 5148284,
 5209790,
 5219433,
 5243722,
 5442492,
 5448810,
 5470305,
 5475066,
 5504307,
 5507566,
 5512282,
 5543343,
 5559834,
 5561845,
 5600407,
 5605075,
 5617554,
 5665933,
 5684156,
 5708973,
 5724786,
 5730994,
 5737289,
 5765638,
 5781143,
 5861502,
 5903604,
 5905443,
 5905564,
 5946732,
 5969205,
 5969895,
 5983540]

Below we show the patients who were diagnosed with diabetes before their prediabetic diagnosis. These patients must be cut from the total dataframe.

In [108]:
prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date_after = prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date[(prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date['target'] == 0)]
prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date_after

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre,epistart,target
1095,1055794,2010-03-12,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2009-12-10,2009-10-23,0
2960,1076801,2009-04-17,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2003-01-12,2003-01-12,0
2875,1097144,2010-01-08,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2005-12-08,2001-12-15,0
1623,1154973,2009-02-25,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2006-09-25,2003-08-05,0
40,1279042,2009-09-22,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2005-03-21,2005-03-21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1875,5446165,2008-06-04,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2002-06-20,2002-06-20,0
1061,5469241,2009-09-09,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1998-07-05,1998-07-05,0
619,5709199,2008-01-18,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2005-10-13,1999-06-28,0
1792,5719990,2009-03-23,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2002-04-08,2002-03-22,0
1617,5746353,2009-04-25,2013-03-01,NaN,4.0,5.0,NaN,...,NaN,NaN,NaN,NaN,1998-07-30,1998-07-30,0

Below we create a list of the patients who must be cut from the final dataframe of prediabetic patients.

In [109]:
dfToList_diabetes_before_prediabetes_from_icd = prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date_after['eid'].tolist()
dfToList_diabetes_before_prediabetes_from_icd

[1055794,
 1076801,
 1097144,
 1154973,
 1279042,
 1357422,
 1463906,
 1763405,
 1799202,
 1847804,
 2142353,
 2198369,
 2259101,
 2359100,
 2607995,
 2757921,
 2788914,
 2791771,
 2840113,
 2869088,
 2896574,
 3003304,
 3042220,
 3054716,
 3084681,
 3138702,
 3160888,
 3472185,
 3583678,
 3607394,
 3752154,
 3767691,
 3822945,
 3830044,
 3924052,
 4048637,
 4235103,
 4507199,
 4541068,
 4836696,
 5007002,
 5204509,
 5271125,
 5313260,
 5432873,
 5446165,
 5469241,
 5709199,
 5719990,
 5746353]

Below we show the final number of patients we will add to the cohort of patients not progressing to diabetes. We believe this is justified because these patients were classified by medical professionals to have prediabetes and will therefore be closely monitored for diabetes development. If they were to develop diabetes, they would have an ICD code for it and it would most likely be known.

In [110]:
patients_from_icd_no_diabetes = patients_from_icd_with_prediabetes_dates_before_test[~patients_from_icd_with_prediabetes_dates_before_test.eid.isin(dfToList_diabetes_before_prediabetes_from_icd)]
patients_from_icd_no_diabetes = patients_from_icd_no_diabetes[~patients_from_icd_no_diabetes.eid.isin(dfToList_diabetes_progression_from_icd)]
patients_from_icd_no_diabetes = patients_from_icd_no_diabetes.drop_duplicates(subset = 'eid')
patients_from_icd_no_diabetes

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,epistart_pre
18,4754980,2009-02-11,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2000-04-20
63,3990434,2009-07-09,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2005-07-14
93,4341307,2008-03-19,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-02-05
98,2189918,2009-06-23,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2002-05-27
115,1384041,2007-09-07,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2004-04-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3713,3682872,2009-10-07,2013-04-27,NaN,2.0,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2007-06-25
3716,4571529,2008-10-31,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2007-08-22
3773,3065620,2008-10-11,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2003-03-06
3793,3960736,2007-08-02,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2003-01-04
3794,5785587,2008-12-17,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1997-03-08

Below we save the dataframe above for exportation and use in new dataframes.

In [111]:
###patients_from_icd_no_diabetes.to_csv(path_or_buf = 'all_not_progressing_to_diabetic_icd_code_classified_patients')

Below we make a list of the eid numbers for these patients.

In [112]:
dfToList_prediabetes_not_progressing_to_diabetes = patients_from_icd_no_diabetes['eid'].tolist()
dfToList_prediabetes_not_progressing_to_diabetes

[4754980,
 3990434,
 4341307,
 2189918,
 1384041,
 2668919,
 4731399,
 5176915,
 2546801,
 4074087,
 5610428,
 4291108,
 1087841,
 2400159,
 1333339,
 2651683,
 3021843,
 3741116,
 2300870,
 5300315,
 3131032,
 5054628,
 3848034,
 3814179,
 4041516,
 3244213,
 2153925,
 5275213,
 4247282,
 3005969,
 5415675,
 2666156,
 1157575,
 3787794,
 1721346,
 4125910,
 4772707,
 2629558,
 4329061,
 3593711,
 3706865,
 3468606,
 1526262,
 2315761,
 1532705,
 3762664,
 1696778,
 2238033,
 2412934,
 2802052,
 3586593,
 2883116,
 1245115,
 3993670,
 3857759,
 2994186,
 4054334,
 1656085,
 5985181,
 1099911,
 1877610,
 1414086,
 5495249,
 2771587,
 3615764,
 5176828,
 4968900,
 3132679,
 2319445,
 3274237,
 2935906,
 1443994,
 1931859,
 5665291,
 3387357,
 3133140,
 4065319,
 5083386,
 2979692,
 2262386,
 2024396,
 2455237,
 3631850,
 2839824,
 5273096,
 3230080,
 4893226,
 3554949,
 3245699,
 2997509,
 4757559,
 5817242,
 3422921,
 2337129,
 1204343,
 2857922,
 3406342,
 5040694,
 1642615,
 5402929,
 3000943,
 2126187,
 4813723,
 1105902,
 1597744,
 3568703,
 4791134,
 1531582,
 2862531,
 5982403,
 1074343,
 1147345,
 4876864,
 1415390,
 2493650,
 4754967,
 5311017,
 4970356,
 5878402,
 3993806,
 5777327,
 4001565,
 3217604,
 2849301,
 4316676,
 3242897,
 5518821,
 1557857,
 2491764,
 5297670,
 5707160,
 4515198,
 3007761,
 1116102,
 1890549,
 4289226,
 2108908,
 3812074,
 2741817,
 5690254,
 4093597,
 4228535,
 4949280,
 3158026,
 3470907,
 4998479,
 2819599,
 2626149,
 2602360,
 2445167,
 4227412,
 5016603,
 4726414,
 3936533,
 1809227,
 2641186,
 4353558,
 4446354,
 2808437,
 3423380,
 1157587,
 3263749,
 6022830,
 4980425,
 5460419,
 3048068,
 3525342,
 3724642,
 3021545,
 5710389,
 5775969,
 3462021,
 4659937,
 4931705,
 3813425,
 4132111,
 3188307,
 4223933,
 3949278,
 4427336,
 5539591,
 4349268,
 1029688,
 4828779,
 4542184,
 2839044,
 3369268,
 5995991,
 5839161,
 5912305,
 4653984,
 2576647,
 5546285,
 4932582,
 2467042,
 3674601,
 5203097,
 1559356,
 3336094,
 5451511,
 5921488,
 1553277,
 1369885,
 2440362,
 1922394,
 3013836,
 4374376,
 5244730,
 4485274,
 2043970,
 4551092,
 2669687,
 4343383,
 3316188,
 2447781,
 5363675,
 5117318,
 2900470,
 2682038,
 4922691,
 2623117,
 3313621,
 2503426,
 3079737,
 2660559,
 2312234,
 4424579,
 2856421,
 4983138,
 3411080,
 5999423,
 3296039,
 2055612,
 2494921,
 4175499,
 3814416,
 3345678,
 1453707,
 4774846,
 1466154,
 1795431,
 3682872,
 4571529,
 3065620,
 3960736,
 5785587]

# We have found the following information now:

Targets who progressed to diabetes from prediabetic state:
1. Lists of prediabetic patients who self-diagnosed themselves for having diabetes after the first measurements were taken for both blood glucose (dfToList_diabetes_progression_without_doctor_diagnosis_blood_glucose) and hba1c (dfToList_diabetes_progression_without_doctor_diagnosis_hba1c) and icd codes (dfToList_diabetes_progression_without_doctor_diagnosis_from_icd) defined prediabetics.
2. Lists of prediabetic patients who progressed to a diabetic state for both patients classified as prediabetic using the blood sugar (dfToList_diabetes_progression_blood_glucose) and hba1c (dfToList_diabetes_progression_hba1c) tests and icd codes (dfToList_diabetes_progression_from_icd). 

Patients needed to be cut from the final dataframe:
3. Patients who were diagnosed with diabetes before blood samples were taken from them to determine if they had prediabetes for hba1c (dfToList_diabetes_before_prediabetes_hba1c) and blood glucose (dfToList_diabetes_before_prediabetes_blood_glucose) and (dfToList_diabetes_before_prediabetes_from_icd).
4. Lists for patients who were self-diagnosed with diabetes at the start of the study and must be cut from the dataframe for both hba1c (dfToList_diabetes_at_start_hba1c) and blood glucose (dfToList_diabetes_at_start_blood_glucose) and icd codes (dfToList_diabetes_at_start_from_icd).

Below we find how many patients falling in the HbA1c prediabetes range OR falling within the Blood Glucose prediabetes range. We see that this results in many more patients in the prediabetic range than when we only keep patients with BOTH conditions.

In [113]:
prediabetic_all_at_start = merged_for_prediabetes[((merged_for_prediabetes['HbA1c 1'] >= 42) & (merged_for_prediabetes['HbA1c 1'] <= 47)) | ((patients_fasting['Blood Glucose Level 1'] >= 5.6) & (patients_fasting['Blood Glucose Level 1'] <= 7))]
prediabetic_all_at_start

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
10,1797967,2008-09-10,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,1945240,2008-02-23,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,1589923,2010-07-01,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,4899746,2009-11-10,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,4863545,2009-10-29,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502273,3241124,2010-03-29,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502333,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502391,5011216,2009-11-26,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502421,3482443,2008-06-05,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502435,2702146,2009-08-15,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Next we filter the patients which we found to be self-diagnosed with diabetes at the start of the study since we make the assumption that these patients do in fact have diabetes.

In [114]:
prediabetic_all_at_start = prediabetic_all_at_start[~prediabetic_all_at_start.eid.isin(dfToList_diabetes_at_start_hba1c)]
prediabetic_all_at_start = prediabetic_all_at_start[~prediabetic_all_at_start.eid.isin(dfToList_diabetes_at_start_blood_glucose)]
prediabetic_all_at_start

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
10,1797967,2008-09-10,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,1945240,2008-02-23,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,1589923,2010-07-01,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,4899746,2009-11-10,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,4863545,2009-10-29,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502273,3241124,2010-03-29,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502333,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502391,5011216,2009-11-26,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502421,3482443,2008-06-05,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502435,2702146,2009-08-15,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Next we must filter out all patients who were diagnosed with diabetes, before we classified them as prediabetic, using the ICD numbers E110-E119 corresponding to type 2 diabetes.

In [115]:
prediabetic_all_at_start = prediabetic_all_at_start[~prediabetic_all_at_start.eid.isin(dfToList_diabetes_before_prediabetes_hba1c)]
prediabetic_all_at_start = prediabetic_all_at_start[~prediabetic_all_at_start.eid.isin(dfToList_diabetes_before_prediabetes_blood_glucose)]
prediabetic_all_at_start

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
10,1797967,2008-09-10,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,1945240,2008-02-23,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,1589923,2010-07-01,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,4899746,2009-11-10,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,4863545,2009-10-29,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502273,3241124,2010-03-29,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502333,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502391,5011216,2009-11-26,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502421,3482443,2008-06-05,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502435,2702146,2009-08-15,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below we cut out all prediabetic patients defined from the hba1c and blood glucose tests who developed diabetes since we already have their labels.

In [116]:
prediabetic_all_at_start_without_known_diabetes_progressors = prediabetic_all_at_start[~prediabetic_all_at_start.eid.isin(dfToList_diabetes_progression_hba1c)]
prediabetic_all_at_start_without_known_diabetes_progressors = prediabetic_all_at_start[~prediabetic_all_at_start.eid.isin(dfToList_diabetes_progression_blood_glucose)]
prediabetic_all_at_start_without_known_diabetes_progressors

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
10,1797967,2008-09-10,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,1945240,2008-02-23,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,1589923,2010-07-01,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,4899746,2009-11-10,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,4863545,2009-10-29,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502273,3241124,2010-03-29,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502333,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502391,5011216,2009-11-26,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502421,3482443,2008-06-05,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502435,2702146,2009-08-15,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We now have a dataframe in which we do not know if the remaining prediabetic patients progress to diabetes or not. This study requires follow up assessments in order to be able to say whether a patient developed diabetes or not. Therefore, we need to filter for all patients who had a value in either the second or third Diabetes Diagnosed column. To answer this question, we must only look for patients who have values in the Diabetes Diagnosed 1 and either the Diabetes Diagnosed 2 or Diabetes Diagnosed 3 columns since this will tell us if a patient progresses to diabetes or not. This tells us exactly the response we want to know: Whether or not the patient developed diabetes after first being diagnosed with prediabetes. Below we show that there are 1,131 patients corresponding to this specification.

In [117]:
prediabetic_all_at_start_without_known_diabetes_progressors_all_possible_to_classify = prediabetic_all_at_start_without_known_diabetes_progressors[prediabetic_all_at_start_without_known_diabetes_progressors['Diabetes Diagnosed 2'].notnull() | prediabetic_all_at_start_without_known_diabetes_progressors['Diabetes Diagnosed 3'].notnull()]
prediabetic_all_at_start_without_known_diabetes_progressors_all_possible_to_classify

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
956,5809754,2008-05-03,2013-04-15,NaN,2.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1207,3650787,2010-02-25,2012-11-21,NaN,2.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1410,3527899,2010-01-23,2012-12-15,NaN,3.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2301,2802011,2010-03-31,2013-04-24,NaN,4.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2734,5165708,2008-12-08,NaN,2017-08-04,4.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501209,1967943,2008-01-24,NaN,2017-05-04,8.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501297,1519651,2010-07-12,NaN,2015-11-04,4.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501491,4255872,2009-06-24,NaN,2018-08-11,2.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501600,6024145,2008-12-15,2013-01-15,NaN,1.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501686,4621841,2007-10-26,2012-08-02,NaN,2.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Next we want to filter out all patients that have gestational diabetes only (Gestational Diabetes Only 1 = 1.0 or Gestational Diabetes Only 2 = 1.0). The reason for this is because we do not consider gestational diabetes because the driving factor for this is pregnancy, which means that other features do not have as much influence on these patients and they may bias the model.

In [118]:
prediabetic_all_at_start_without_known_diabetes_progressors_all_possible_to_classify = prediabetic_all_at_start_without_known_diabetes_progressors_all_possible_to_classify.drop(prediabetic_all_at_start_without_known_diabetes_progressors_all_possible_to_classify[(prediabetic_all_at_start_without_known_diabetes_progressors_all_possible_to_classify['Gestational Diabetes Only 1'] == 1.0) | (prediabetic_all_at_start_without_known_diabetes_progressors_all_possible_to_classify['Gestational Diabetes Only 2'] == 1.0)].index)
prediabetic_all_at_start_without_known_diabetes_progressors_all_possible_to_classify

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
956,5809754,2008-05-03,2013-04-15,NaN,2.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1207,3650787,2010-02-25,2012-11-21,NaN,2.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1410,3527899,2010-01-23,2012-12-15,NaN,3.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2301,2802011,2010-03-31,2013-04-24,NaN,4.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2734,5165708,2008-12-08,NaN,2017-08-04,4.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501209,1967943,2008-01-24,NaN,2017-05-04,8.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501297,1519651,2010-07-12,NaN,2015-11-04,4.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501491,4255872,2009-06-24,NaN,2018-08-11,2.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501600,6024145,2008-12-15,2013-01-15,NaN,1.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501686,4621841,2007-10-26,2012-08-02,NaN,2.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Remember that our target variables are:

1. Prediabetic patients who develop diabetes
2. Prediabetic patients who do not develop diabetes

Therefore, the next step is to filter those that are diagnosed with diabetes later on by searching for a 1.0 in the diabetes diagnosed 2 and diabetes diagnosed 3 columns. We see that we have a total of 300 patients who develop diabetes. Therefore, we have 1130 - 300 = 830 patients who do not develop diabetes. Our goal is to find why these groups are different.

In [119]:
developed_diabetes = prediabetic_all_at_start_without_known_diabetes_progressors_all_possible_to_classify[(prediabetic_all_at_start_without_known_diabetes_progressors_all_possible_to_classify['Diabetes Diagnosed 2'] == 1.0) | (prediabetic_all_at_start_without_known_diabetes_progressors_all_possible_to_classify['Diabetes Diagnosed 3'] == 1.0)]
developed_diabetes

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
1207,3650787,2010-02-25,2012-11-21,NaN,2.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1410,3527899,2010-01-23,2012-12-15,NaN,3.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8584,3672453,2008-08-14,2013-03-08,NaN,6.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12049,3466795,2007-04-20,2012-10-19,NaN,3.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13537,3806269,2008-04-05,NaN,2016-02-22,4.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497033,3005111,2010-05-17,NaN,2016-02-21,4.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497139,5473950,2008-02-06,NaN,2018-08-27,3.0,NaN,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499313,1449914,2008-02-06,2013-04-14,NaN,5.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501209,1967943,2008-01-24,NaN,2017-05-04,8.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501600,6024145,2008-12-15,2013-01-15,NaN,1.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Below we make a list of these reports which we will use to cut them from the dataframe so that the only remaining patients will not have developed diabetes.

In [120]:
dfToList_developed_diabetes_doctor_diagnosed = developed_diabetes['eid'].tolist()
dfToList_developed_diabetes_doctor_diagnosed

[3650787,
 3527899,
 3672453,
 3466795,
 3806269,
 1953832,
 5013729,
 4638333,
 3899441,
 1101050,
 1230060,
 1333339,
 2455352,
 5733962,
 5342346,
 5747493,
 3350008,
 3554431,
 4268856,
 4616298,
 3408534,
 4308316,
 5378414,
 2115441,
 3557587,
 2905618,
 3713275,
 2239274,
 4661761,
 1146655,
 4781782,
 1874554,
 4777233,
 3962483,
 4226583,
 3370182,
 2330395,
 1093062,
 4468202,
 5679675,
 3817334,
 3443880,
 3860455,
 1052039,
 5867217,
 3360161,
 2671183,
 4971240,
 1574877,
 4927310,
 1461063,
 4985579,
 1303461,
 4451985,
 2172975,
 1909046,
 5314428,
 3221592,
 3294877,
 2617656,
 3205845,
 5656635,
 1771695,
 5821615,
 1175507,
 3487187,
 1945509,
 3255652,
 5269964,
 1087380,
 5539124,
 3742688,
 5502647,
 2263614,
 1465629,
 2766259,
 3084584,
 3737542,
 1877610,
 4733206,
 5812310,
 2054766,
 5308696,
 5638591,
 4727805,
 3130710,
 2646796,
 2023718,
 4448221,
 3089987,
 4380642,
 4311574,
 5235652,
 2651780,
 2345323,
 5328184,
 3656859,
 3259630,
 3814312,
 3327373,
 4769362,
 4802717,
 5692059,
 2675549,
 1110221,
 2389655,
 1614374,
 4912346,
 5296350,
 1387711,
 2407123,
 2943986,
 4635691,
 1417943,
 4613876,
 4343956,
 3716387,
 3048175,
 1530035,
 5377572,
 1730591,
 4988610,
 4397844,
 4319827,
 2677731,
 5363883,
 5508580,
 5592357,
 2168642,
 1554291,
 5232333,
 3900024,
 4985329,
 1409801,
 2136997,
 4387540,
 3968616,
 4342351,
 5942598,
 3231681,
 1223139,
 5101405,
 3231797,
 2927432,
 5449326,
 4936585,
 2718358,
 2257637,
 4304007,
 5958402,
 5888529,
 2540348,
 4064556,
 5299662,
 2901508,
 2886328,
 2253372,
 3439197,
 1436860,
 1858760,
 2920812,
 5221685,
 1116486,
 3050226,
 5867769,
 1829437,
 5514018,
 4815941,
 3504756,
 2876766,
 1115104,
 3582027,
 2555713,
 4763550,
 1400081,
 2579278,
 4843057,
 5326222,
 2725622,
 5962523,
 2159247,
 2134812,
 1000809,
 2484377,
 1253888,
 2154533,
 4685170,
 2915637,
 5835149,
 3410817,
 3817376,
 3973132,
 4039474,
 2057624,
 2304832,
 4686521,
 3160926,
 4893323,
 2376480,
 3845123,
 2962432,
 3175850,
 2646886,
 2454454,
 2162457,
 4830842,
 4496781,
 3321269,
 3961562,
 5122824,
 4660920,
 1984811,
 3495171,
 2426601,
 1611022,
 4169536,
 1771239,
 5495155,
 1518776,
 3941019,
 2558625,
 2383516,
 5130336,
 1325702,
 2823512,
 5259652,
 4230141,
 3331479,
 4570130,
 2941386,
 1349057,
 2255700,
 2714050,
 5472277,
 6012267,
 5272115,
 2631729,
 3383131,
 4814392,
 3442410,
 2153334,
 3425994,
 3585702,
 3985817,
 1923204,
 1734632,
 2824380,
 5185466,
 1089181,
 5476614,
 4930777,
 3483202,
 4198393,
 1590188,
 2948909,
 5011524,
 2775492,
 2385572,
 2920397,
 5349330,
 3205811,
 3606720,
 4097639,
 4196631,
 2693082,
 4040735,
 5107683,
 4757304,
 1287603,
 5656872,
 1637802,
 4229468,
 5103327,
 5464825,
 5243048,
 5050804,
 5881517,
 2054092,
 3751547,
 5487883,
 3157047,
 4990174,
 5238441,
 5766529,
 5891428,
 4218081,
 1663219,
 4687538,
 3848162,
 4490894,
 1036832,
 4667248,
 5541878,
 4386240,
 3009431,
 3005111,
 5473950,
 1449914,
 1967943,
 6024145]

Below we cut the eid values from the dataframe for patients who did develop diabetes in order to get all prediabetic patients who did not develop diabetes and this was confirmed by a later checkup date. We see that the number of patients in the dataframe below added with the number of patients found to develop diabetes gives the number of total prediabetic patients (830 + 300 = 1130). This is a good check to know we have not messed up.

In [121]:
did_not_develop_diabetes_total = prediabetic_all_at_start_without_known_diabetes_progressors_all_possible_to_classify[~prediabetic_all_at_start_without_known_diabetes_progressors_all_possible_to_classify.eid.isin(dfToList_developed_diabetes_doctor_diagnosed)]
did_not_develop_diabetes_total

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
956,5809754,2008-05-03,2013-04-15,NaN,2.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2301,2802011,2010-03-31,2013-04-24,NaN,4.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2734,5165708,2008-12-08,NaN,2017-08-04,4.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2808,1482078,2008-05-08,2012-08-11,NaN,3.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2979,5350822,2007-12-10,2012-09-26,2014-10-25,3.0,6.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501096,3734872,2007-08-29,2013-05-22,NaN,16.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501179,3896205,2009-08-14,NaN,2016-01-15,4.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501297,1519651,2010-07-12,NaN,2015-11-04,4.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501491,4255872,2009-06-24,NaN,2018-08-11,2.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501686,4621841,2007-10-26,2012-08-02,NaN,2.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The final step is to label all of our dataframes as either patients with prediabetes developing diabetes (1) or not developing diabetes (0). I think the best way to do this is to combine all lists of patients who progressed to diabetes first and then make a dataframe using these eid numbers from the original merged patient dataframe. Then we can label them. We already have the dataframe above of prediabetic patients who do not progress to diabetes so we will just label them without doing anything to them. Finally, we can concatenate the dataframes together. First we combine the lists of prediabetic patients who developed diabetes.

In [122]:
dfToList_diabetes_progression_hba1c.extend(dfToList_diabetes_progression_blood_glucose)
dfToList_diabetes_progression_hba1c.extend(dfToList_developed_diabetes_doctor_diagnosed)
len(dfToList_diabetes_progression_hba1c)

4506

Next we use the eid numbers in this list to create a new dataframe containing all patients who developed diabetes. Notice that the number of patients is not the total number of rows because there were some duplicates involved in the list.

In [123]:
all_developed_diabetes_total = merged_for_prediabetes[merged_for_prediabetes.eid.isin(dfToList_diabetes_progression_hba1c)]
all_developed_diabetes_total

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.27,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33
380,5100710,2009-01-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,4647495,2008-12-05,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
482,5494714,2010-04-14,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
561,3319119,2008-02-09,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,1814566,2008-05-27,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502010,3939961,2007-08-02,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502226,2215660,2008-06-10,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502255,5612713,2008-04-17,NaN,NaN,14.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502333,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502391,5011216,2009-11-26,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Next we label these patients with a target variable (1).

In [124]:
all_developed_diabetes_total['target'] = 1
all_developed_diabetes_total

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,target
380,5100710,2009-01-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1
394,4647495,2008-12-05,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1
482,5494714,2010-04-14,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1
561,3319119,2008-02-09,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1
610,1814566,2008-05-27,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502010,3939961,2007-08-02,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1
502226,2215660,2008-06-10,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1
502255,5612713,2008-04-17,NaN,NaN,14.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1
502333,6022397,2007-12-20,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1
502391,5011216,2009-11-26,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1

Below we do the same (add a 0) for our dataframe for prediabetic patients that did not progress to a diabetic state.

In [125]:
did_not_develop_diabetes_total['target'] = 0
did_not_develop_diabetes_total

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,eid,53-0.0,53-1.0,53-2.0,Fasting Time 1,Fasting Time 2,Fasting Time 3,...,20002-2.28,20002-2.29,20002-2.30,20002-2.31,20002-2.32,20002-2.33,target
956,5809754,2008-05-03,2013-04-15,NaN,2.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0
2301,2802011,2010-03-31,2013-04-24,NaN,4.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0
2734,5165708,2008-12-08,NaN,2017-08-04,4.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0
2808,1482078,2008-05-08,2012-08-11,NaN,3.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0
2979,5350822,2007-12-10,2012-09-26,2014-10-25,3.0,6.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501096,3734872,2007-08-29,2013-05-22,NaN,16.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0
501179,3896205,2009-08-14,NaN,2016-01-15,4.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0
501297,1519651,2010-07-12,NaN,2015-11-04,4.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0
501491,4255872,2009-06-24,NaN,2018-08-11,2.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0
501686,4621841,2007-10-26,2012-08-02,NaN,2.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0

Next we want to do the same thing but with our new prediabetic patients from the ICD codes. First we filter out all patients who had diabetes before prediabetes and at the time of the assessment center measurements.

In [126]:
prediabetic_all_at_start_for_icd = prediabetes_with_dates[~prediabetes_with_dates.eid.isin(dfToList_diabetes_at_start_from_icd)]
prediabetic_all_at_start_for_icd = prediabetic_all_at_start_for_icd[~prediabetic_all_at_start_for_icd.eid.isin(dfToList_diabetes_before_prediabetes_from_icd)]
prediabetic_all_at_start_for_icd

,eid,ins_index,arr_index,level,diag_icd9,diag_icd9_nb,diag_icd10,diag_icd10_nb,epistart_pre
0,1006294,37,3,2,NaN,NaN,R739,NaN,2018-12-02
1,1007537,0,3,2,NaN,NaN,R730,NaN,2019-06-06
2,1008393,2,1,2,NaN,NaN,R739,NaN,2011-04-26
3,1010613,0,0,1,NaN,NaN,R739,NaN,2010-07-06
4,1011449,12,5,2,NaN,NaN,R730,NaN,2020-03-02
...,...,...,...,...,...,...,...,...,...
3794,6017167,3,3,2,NaN,NaN,R730,NaN,2019-09-12
3795,6019270,5,9,2,NaN,NaN,R730,NaN,2020-09-24
3796,6020217,7,12,2,NaN,NaN,R730,NaN,2020-08-19
3797,6021943,1,3,2,NaN,NaN,R739,NaN,2020-11-08
3798,6022830,0,1,2,NaN,NaN,R730,NaN,2006-06-26

Below we take only the patients who we know progressed to diabetes that were diagnosed with prediabetes prior.

In [127]:
prediabetic_all_at_start_for_icd_progress_to_diabetes = prediabetes_with_dates[prediabetes_with_dates.eid.isin(dfToList_diabetes_progression_without_doctor_diagnosis_from_icd) | prediabetes_with_dates.eid.isin(dfToList_diabetes_progression_from_icd)]
prediabetic_all_at_start_for_icd_progress_to_diabetes
# 199 patients in here after dropping duplicates on eid

,eid,ins_index,arr_index,level,diag_icd9,diag_icd9_nb,diag_icd10,diag_icd10_nb,epistart_pre
26,1025738,9,2,2,NaN,NaN,R739,NaN,2004-05-20
27,1025738,6,3,2,NaN,NaN,R739,NaN,2004-05-19
35,1044919,0,0,1,NaN,NaN,R739,NaN,2005-12-13
48,1055677,14,0,1,NaN,NaN,R739,NaN,2006-09-26
52,1067255,1,0,1,NaN,NaN,R730,NaN,2005-01-12
...,...,...,...,...,...,...,...,...,...
3699,5905564,30,1,2,NaN,NaN,R739,NaN,2014-06-06
3736,5946732,1,0,1,NaN,NaN,R739,NaN,2005-02-08
3752,5969205,0,0,1,NaN,NaN,R739,NaN,2007-02-26
3753,5969895,2,2,2,NaN,NaN,R739,NaN,2002-07-19
3766,5983540,11,0,1,NaN,NaN,R739,NaN,2009-01-22

Below we show the dataframe for all remaining prediabetic patients who do not progress to diabetes.

In [128]:
prediabetic_patients_all_at_start_for_icd_progress_to_diabetes = prediabetic_all_at_start_for_icd_progress_to_diabetes.drop_duplicates(subset = 'eid')
prediabetic_patients_all_at_start_for_icd_progress_to_diabetes

,eid,ins_index,arr_index,level,diag_icd9,diag_icd9_nb,diag_icd10,diag_icd10_nb,epistart_pre
26,1025738,9,2,2,NaN,NaN,R739,NaN,2004-05-20
35,1044919,0,0,1,NaN,NaN,R739,NaN,2005-12-13
48,1055677,14,0,1,NaN,NaN,R739,NaN,2006-09-26
52,1067255,1,0,1,NaN,NaN,R730,NaN,2005-01-12
58,1072495,0,0,1,NaN,NaN,R730,NaN,2006-02-05
...,...,...,...,...,...,...,...,...,...
3694,5905564,4,0,1,NaN,NaN,R739,NaN,2008-12-31
3736,5946732,1,0,1,NaN,NaN,R739,NaN,2005-02-08
3752,5969205,0,0,1,NaN,NaN,R739,NaN,2007-02-26
3753,5969895,2,2,2,NaN,NaN,R739,NaN,2002-07-19
3766,5983540,11,0,1,NaN,NaN,R739,NaN,2009-01-22

First, we create a combined dataframe for all prediabetic patients we found not to progress to diabetes.

In [129]:
patients_from_icd_no_diabetes['target'] = 0
did_not_develop_diabetes_total['target'] = 0
patients_from_icd_no_diabetes_final_small = patients_from_icd_no_diabetes[['eid', 'target']]
did_not_develop_diabetes_total_small = did_not_develop_diabetes_total[['eid', 'target']]
prediabetics_not_progressing_to_diabetes_total = patients_from_icd_no_diabetes_final_small.append(did_not_develop_diabetes_total_small)
prediabetics_not_progressing_to_diabetes_total = prediabetics_not_progressing_to_diabetes_total.drop_duplicates(subset = 'eid')
prediabetics_not_progressing_to_diabetes_total

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            eid  target
18      4754980       0
63      3990434       0
93      4341307       0
98      2189918       0
115     1384041       0
...         ...     ...
501096  3734872       0
501179  3896205       0
501297  1519651       0
501491  4255872       0
501686  4621841       0

[1074 rows x 2 columns]

Below we create a dataframe for all prediabetic patients who did progress to diabetes.

In [130]:
prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date_before['target'] = 1
all_developed_diabetes_total['target'] = 1
patients_from_icd_diabetes_final_small = prediabetic_from_icd_at_start_finding_more_diabetes_sorted_only_one_date_before[['eid', 'target']]
all_developed_diabetes_total_small = all_developed_diabetes_total[['eid', 'target']]
prediabetics_progressing_to_diabetes_total = patients_from_icd_diabetes_final_small.append(all_developed_diabetes_total_small)
prediabetics_progressing_to_diabetes_total = prediabetics_progressing_to_diabetes_total.drop_duplicates(subset = 'eid')
prediabetics_progressing_to_diabetes_total

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            eid  target
61      1025738       1
974     1044919       1
2055    1055677       1
1291    1067255       1
157     1072495       1
...         ...     ...
502010  3939961       1
502226  2215660       1
502255  5612713       1
502333  6022397       1
502391  5011216       1

[4447 rows x 2 columns]

Next we combine the dataframes so that we get one final group of prediabetic patients who are classified as either progressing to diabetes or not.

In [131]:
final_prediabetic_dataframe_labeled = prediabetics_not_progressing_to_diabetes_total.append(prediabetics_progressing_to_diabetes_total)
final_prediabetic_dataframe_labeled

            eid  target
18      4754980       0
63      3990434       0
93      4341307       0
98      2189918       0
115     1384041       0
...         ...     ...
502010  3939961       1
502226  2215660       1
502255  5612713       1
502333  6022397       1
502391  5011216       1

[5521 rows x 2 columns]

Next we drop the duplicate eid numbers found in the dataframe. This is possible because some of the prediabetic patients who had a value of 0 in the Diabetes Diagnosed 2 or Diabetes Diagnosed 3 columns actually were diagnosed with diabetes using the ICD files. Therefore, we drop duplicates and keep the last entry because our dataframe is structured so that the later entries are for the patients who did develop diabetes, and this characteristic is correct for these patients.

In [132]:
final_prediabetic_dataframe_labeled_no_duplicates = final_prediabetic_dataframe_labeled.drop_duplicates(subset = 'eid', keep = 'last')
final_prediabetic_dataframe_labeled_no_duplicates

            eid  target
18      4754980       0
63      3990434       0
93      4341307       0
98      2189918       0
115     1384041       0
...         ...     ...
502010  3939961       1
502226  2215660       1
502255  5612713       1
502333  6022397       1
502391  5011216       1

[5431 rows x 2 columns]

Below we cut out all patients who are already diabetic.

In [133]:
final_prediabetic_dataframe_labeled_no_duplicates_correct = final_prediabetic_dataframe_labeled_no_duplicates[~final_prediabetic_dataframe_labeled_no_duplicates.eid.isin(dfToList_already_diabetic_at_start)]
final_prediabetic_dataframe_labeled_no_duplicates_correct

            eid  target
18      4754980       0
63      3990434       0
93      4341307       0
115     1384041       0
130     2668919       0
...         ...     ...
502010  3939961       1
502226  2215660       1
502255  5612713       1
502333  6022397       1
502391  5011216       1

[5241 rows x 2 columns]